/* Library
 ----------------------------------------------------------------------------------------------------*/
@import "ressources/elements.less";
@import "grids/grid.less";

@base-url = "../images";
@sprite = @base-url + "/sprite.png";

@maincolor : #000;
@mainlink : #06c;
@mainlinkhover: #c60;

/* Global css
 ----------------------------------------------------------------------------------------------------*/
body {
	color: @maincolor;
	-webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

a {
	color: @mainlink;
	&:hover,
	&:focus,
	&:active {
		color: @mainlinkhover;
	}
}

small {
	font-size: 11px;
}
ul {
	list-style: none; margin: 0;
	li {
		margin: 0;
	}
}
/* Misc Classes
----------------------------------------------------------------------------------------------------*/

/* Main Content
----------------------------------------------------------------------------------------------------*/
.main-menu {
	&>ul {
		.clearfix;
		&>li {
			&>a {
				padding:0 10px; font: 700 12px/24px Arial, Helvetica, sans-serif;
			}
			&:hover,
			&:focus,
			&.sfHover {
				ul {
					top: 24px;
				}
			}
			&.current-menu-item,
			&.current-menu-parent {
				a {
					color:#fff; background:@mainlinkhover;
				}
			}
		}
		ul {
			background: #fff;
			li {
				a {
					padding: 10px;
				}
			}
		}
	}
}

.entry-content {
	ul {
		list-style: disc inside none;
		li {
			margin: 0 0 5px;
		}
	}
}
/* Comments
 ----------------------------------------------------------------------------------------------------*/

/* Widget
 ----------------------------------------------------------------------------------------------------*/
.widget-area {
	.widget {
		.clearfix;
		.widget-title {
			.bordered(0, 0, @maintext, 0);
		}
		.widget-inner {
			
		}
	}
	.widget_text {
		
	}
	.widget_categories {
		.widget-inner {
			&>ul {
				&>li {
					&>a {
						&:hover,
						&:focus,
						&:active {
							font-weight: 700;
						}
					}
				}
			}
			ul {
				li {
					&.current-cat,
					&.current-cat-parent {
						&>a,
						&.current-cat a {
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}