/* Library
 ----------------------------------------------------------------------------------------------------*/
@base-url = "{theme_url}";

// Dynamic paths
@images-url = @base-url + "/images";
@fonts-url = @base-url + "/fonts";
@sprite = @images-url + "/sprite.png";

@maincolor : #000;
@mainlink : #06c;
@mainlinkhover: #c60;

/* Global css
 ----------------------------------------------------------------------------------------------------*/
body {
	color: @maincolor;
	-webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

a {
	color: @mainlink;
	&:hover,
	&:focus,
	&:active {
		color: @mainlinkhover;
	}
}

small {
	font-size: 11px;
}
ul {
	list-style: none; margin: 0;
	li {
		margin: 0;
	}
}
/* Misc Classes
----------------------------------------------------------------------------------------------------*/

/* Main Content
----------------------------------------------------------------------------------------------------*/
.fast-access {
	li {
		display: inline;
		a {
			color: #fff;
			&:hover,
			&:focus {
				color: @mainlinkhover;
			}
		}
	}
}
.main-menu {
	&>ul {
		.clearfix; margin-bottom: 20px;
		&>li {
			&>a {
				padding:0 10px; font: 700 12px/24px Arial, Helvetica, sans-serif;
			}
			&:hover,
			&:focus,
			&.sfHover {
				ul {
					top: 24px;
				}
			}
			&.current-menu-item,
			&.current-menu-parent {
				a {
					color:#fff; background:@mainlinkhover;
				}
			}
		}
		ul {
			background: #fff;
			li {
				a {
					padding: 10px;
				}
			}
		}
	}
}
.breadcrumb {
	list-style: none;
	li {
		display: inline; margin:0;
	}
}
.entry-content {
	ul {
		list-style: disc inside none; margin: 0 0 20px;
		li {
			margin: 0 0 5px;
		}
	}
	ol {
		list-style: decimal inside none; margin: 0 0 20px;
		li {
			margin: 0 0 5px;
		}
	}
}
/* Comments
 ----------------------------------------------------------------------------------------------------*/
#comments {
	.commentlist {
		list-style: none;
		li {
			min-height:75px; margin:0 0 20px; padding: 0 0 20px;
			.comment {
				position: relative;.clearfix;
				.comment-meta {
					position: relative; padding-left: 92px; margin-bottom: 6px;
					.comment-author {
						font-weight:700;
						.avatar {
							position: absolute; left: 5px; top: 0;
						}
					}
				}
				.comment-content {
					padding:0 60px 0 92px;
					p {
						margin-bottom: 6px;
					}
				}
				.reply {
					position: absolute; right: 0; bottom: 0;
					.comment-reply-link {
						display:inline-block; font-size: 11px; line-height: 20px; height:20px;
					}
				}
			}
			&.last {
				border:0;
			}
			.children {
				margin: 20px 0 0 92px;
				li {
					min-height: 28px;
					.comment-meta,
					.comment-content {
						padding-left: 62px;
					}
				}
			}
		}
	}
}
/* Widget
 ----------------------------------------------------------------------------------------------------*/
.widget-area {
	.widget {
		.clearfix; margin-bottom: 20px;
		.widget-title {
			.bordered(0, 0, @maintext, 0);
		}
		.widget-inner {
			
		}
	}
	.widget_text {
		
	}
	.widget_categories {
		.widget-inner {
			&>ul {
				&>li {
					&>a {
						&:hover,
						&:focus,
						&:active {
							font-weight: 700;
						}
					}
				}
			}
			ul {
				li {
					&.current-cat,
					&.current-cat-parent {
						&>a,
						.current-cat a {
							font-weight: 700;
						}
					}
				}
			}
		}
	}
	.widget_pages {
		.widget-inner {
			&>ul {
				&>li {
					&>a {
						&:hover,
						&:focus,
						&:active {
							font-weight: 700;
						}
					}
				}
			}
			ul {
				li {
					&.current_page_ancestor,
					&.current_page_parent {
						&>a,
						.current_page_item a {
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}