.alignleft {

    @include align;
}

.alignright {

    @include align(right);
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}

.alignleft,
.alignright,
.aligncenter {
    margin-bottom: $base-spacing;
}

.wp-caption {
    max-width: 100% !important;
    padding: 5px 0;
    margin-bottom: $base-spacing;
    text-align: center;
}

.wp-caption img,
.wp-smiley {
    margin: 0;
}

.wp-caption-text {
    margin: 5px 5px 0;
    font-size: 11px;
}
