.modal {

    $parent : &;

    &-open{
        overflow:hidden;
        height: 100vh;
    }

    .required{
        border: 1px solid $errorcolor-0;
    }

    .radio--custom .required{
        border: 0;
    }

    .radio--custom input[type="radio"] + label.required:before{
        border-color: $errorcolor-0;
    }

    &__trigger{
        z-index: 4;
        position: fixed;
        bottom:$base-spacing;
        left: 50%;
        transform: translateX(-50%);
        min-width: $container-mobile;
        text-transform: uppercase;
        text-align: center;
        color: $secondary-color;
        font-weight: bold;
        background: $primary-color;
        @include hover{
            color: $primary-color;
            background: $secondary-color;
        }
        @include breakpoints(md){
            display: none;
        }
    }

    &__overlay {
        z-index: 4;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .85);
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__container {
        background-color: #fff;
        padding: 0;
        max-width: 700px;
        overflow-y: auto;
        box-sizing: border-box;
        margin: 0 auto;
        @include breakpoints(sm){
            margin: $double-spacing auto;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $secondary-color;
        height: 50px;
    }

    &__title {
        color: $light-color;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1rem;
        padding-left: $base-spacing;
        margin: 0;
    }

    &__close {
        background: $primary-color;
        border: 0;
        width: 50px;
        height: 50px;
        border-radius: 0;
        outline: 0;
        &:hover{
            background: $secondary-color;
            color: $primary-color;
        }
    }

    &__close-icon{
        pointer-events: none;
    }

    &__content {
        background: $gray-600;
        overflow: hidden;
    }
    &__grouptitle{
        padding: $base-spacing $double-spacing;
        margin: 0;
        font-size: 1em;
        text-align: center;
        background: $light-color;
        text-transform: uppercase;
        text-align: center;
        border-top: 1px solid $light-stroke;
        border-bottom: 1px solid $light-stroke;
        @include row--fullwidth();
    }

    &__groupform{
        padding: $base-spacing $double-spacing;
        padding-bottom: 0.825rem;
        p{
            text-align: center;
            font-style: italic;
            margin: 0 0 25px;
            font-size: .9em;
        }
        textarea{
            min-height: 150px;
        }
    }
    &__groupform-date{
        padding-top: 0;
    }

    .wpforms-container .wpforms-field {
        padding: inherit;
    }
    .wpforms-container .wpforms-field-label {
        font-weight: 400;
    }

    .wpforms-container input.wpforms-field-small, .wpforms-container select.wpforms-field-small, .wpforms-container .wpforms-field-row.wpforms-field-small ,
    .wpforms-container input.wpforms-field-medium, .wpforms-container select.wpforms-field-medium, .wpforms-container .wpforms-field-row.wpforms-field-medium {
        max-width: 100%;
    }

    .wpforms-container{
        margin-bottom: 0;
        max-width: 100%;
        margin: 0 25px;
        @include breakpoints(sm){
            margin: 0 50px;
        }
        .wpforms-field-container{
            @include flexrow($half-base-spacing);
            //align-items: center;
        }

        label.wpforms-error{
            padding-bottom: 0;
            text-transform: none;
            padding-top: 5px;
        }

        #{$parent}__row{
            @include flexrow($half-base-spacing);
            //align-items: center;
        }


        #{$parent}__full{
            @include flexcol(12,12,$half-base-spacing);
            padding-bottom: 25px;
        }

        #{$parent}__half{
            @include flexcol(1,2,$half-base-spacing);
            padding-bottom: 25px;
            align-items: center;
        }

        #{$parent}__voyage,
        #{$parent}__number{
            @include flexcol(1,1,$half-base-spacing);
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap:wrap;

            @include breakpoints(sm){
                @include flexcol(1,2,$half-base-spacing);
            }

            label{
                white-space: nowrap;
                padding-bottom: 0;
            }

            select{
                max-width: 70%;
            }
            input{
                max-width: 25%;
            }

        }

        #{$parent}__approx{
            padding-bottom: 25px;
        }


        #{$parent}__quater{
            @include flexcol(1,4,$half-base-spacing);
            padding-bottom: 25px;
            align-self: center;
        }


        #{$parent}__flex-half{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap:wrap;
            @include breakpoints(sm){
                max-width: 100%;
                margin-left: 0;
            }

            label{
                text-align: left;
                padding-bottom: 0;
                white-space: nowrap;
                padding-right: $half-base-spacing;
                @include breakpoints(sm){
                    @include flexcol(1,2,$half-base-spacing);
                }
            }
            select{
                @include breakpoints(sm){
                    @include flexcol(1,2,$half-base-spacing);
                }
            }
            input{
                @include breakpoints(sm){
                    @include flexcol(1,2,$half-base-spacing);
                }
            }
        }

        #{$parent}__flex{
            @include breakpoints(sm){
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        #{$parent}__flex label{
            flex: 1;
            padding-right: $half-base-spacing;
            white-space: nowrap;
            @include breakpoints(sm){
                padding-bottom: 0;
                text-align: center;
            }
        }

        p{ 
            text-align: center;
            font-style: italic;
            margin: 25px 0 0;
            font-size: .9em;
        }

        #{$parent}__date{
            padding-bottom: .75rem;
            input{
                text-align: center;
                max-width: calc(50% - .5rem);
                @include breakpoints(sm){
                    max-width: calc(50% - .75rem);
                }
            }
        }

        #{$parent}__padding{
            padding-bottom: .75rem;
        }


    }

    &__error{
        padding-top:0;
        padding-bottom: 0;
        display: none;
        p{
            background: $errorcolor-0;
            margin: 0 auto 10px auto;
            color: $light-color;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 0;
        }
    }
    .wpforms-submit-container button{
        background: $primary-color;
        color: $secondary-color;
        width: 100%;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        padding: $half-base-spacing;
        margin-bottom: 25px;
        @include hover{
            background: $secondary-color;
            color: $light-color;
        }
    }

    &__onlydesk{
        display: none;
        @include breakpoints(md){
            display: block;
        }
    }

    &__title-upload {
        font-size: 1.25em;
        text-align: center;
        margin: 25px 0 10px;
    }

    &__fileupload{
        
        input{
            display: none;
            visibility: hidden;
        }
        .wpforms-field-description{
            text-align: center;
            margin: 0;
        }
        label:not(.wpforms-error){
            display: flex;
            justify-content: space-between;
            text-align: center;
            text-transform: inherit;
            height: 50px;
            background: $primary-color;
            line-height: 50px;
            width: 500px;
            padding:0;
            padding-left: 25px;
            cursor: pointer;
            margin: 0 auto;
            border-radius: 5px;
            overflow: hidden;
            border: 1px solid $gray-border;
            transition: background .2s,color .2s;
            span{
                float: right;
                margin: 0 0 0 25px;
                padding: 0 25px;
                height: 50px;
                font-size: .9em;
                font-style: italic;
                background: $light-color;
                color: $secondary-color;
            }
            &:hover{
                background: $secondary-color;
                color: $light-color;
            }
            .wpforms-error{
                text-align: center;
            }
        }
    }

    

    &__title-doc{
        margin: 0 auto;
        text-align: right;
        font-style: italic;
        width: 500px;
        font-size: .9em;
        cursor: pointer;
        word-break: break-all;
        transition: color .2s;
        display: none;
        &.show{
        display: block;
        }
        &:hover{
            color:  $errorcolor-0;
        }
    }

    &__file-delete-icon{
        margin-left: .5em;
        width: 10px;
        height: 10px;
    }

    &__file-alert{
        background:  $errorcolor-0;
        color: $light-color;
        border-radius: 5px;
        width: 465px;
        text-align: center;
        margin: 15px auto 0 auto;
        padding: 5px 10px;
        font-size: .9em;
        font-style: italic;
        display: none;
        &.show{
            display: block;
        }
    }

    &__margin{
        margin-bottom: 0.825rem;
    }

    &__agree{
        padding-top: 0.825rem;

        label{
            text-transform: initial;
            font-size: .8em;
            cursor: pointer;
        }
    }

}

@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
    &.is-open {
        display: block;
    }

    &[aria-hidden="false"] .modal__overlay {
        animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    &[aria-hidden="false"] .modal__container {
        animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
    }

    &[aria-hidden="true"] .modal__overlay {
        animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    &[aria-hidden="true"] .modal__container {
        animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
    }

    &.modal__container,
    &.modal__overlay {
        will-change: transform;
    }
}

