.gallery {
	@include flex-grid__container();
	margin: 0 0 $base-spacing;

	br + br {
		display: none;
	}

	.gallery-caption {
		font-size: 11px;
		margin: $half-base-spacing 0 0;
		text-align: left;
	}
}

.gallery-item {
	width: column(6);
	text-align: center;
	position: relative;
	margin-bottom: $base-spacing;

	a {
		display: block;

		img {
			display: block;
		}
	}

	.gallery-columns-3 & {
		width: column(4);
	}
	.gallery-columns-4 & {
		width: column(3);
	}
}