.gallery {
	@include container;

	margin: 0 0 $base-spacing;

	br + br {
		display: none;
	}

	.gallery-caption {
		font-size: 11px;
		margin: $half-base-spacing 0 0;
		text-align: left;
	}
}

.gallery-item {
	@include gallery(6 of 12);

	text-align: center;
	position: relative;
	margin-bottom: $base-spacing;

	a {
		display: block;

		img {
			display: block;
		}
	}

	.gallery-columns-3 & {
		@include gallery(4 of 12);
	}
	.gallery-columns-4 & {
		@include gallery(3 of 12);
	}
}