.gallery {
    $el: &;

    @include flex-grid-container();

    margin: 0 0 $base-spacing;

    br + br {
        display: none;
    }

    &-caption {
        margin: $half-base-spacing 0 0;
        font-size: 11px;
        text-align: left;
    }

    &-item {
        position: relative;
        width: column(6);
        margin-bottom: $base-spacing;
        text-align: center;

        a {
            display: block;

            img {
                display: block;
            }
        }

        #{$el}-columns-3 & {
            width: column(4);
        }

        #{$el}-columns-4 & {
            width: column(3);
        }
    }
}
