.alignwide {
    @include row--fullwidth;
    max-width: container() * 1.5;
}
.alignfull {
    @include row--fullwidth;
    max-width: 100vw;
}

// Mains blocks
.wp-block {
    $el : &;

    // Block columns
    &-column {
        @include breakpoints(xsm) {
            flex-basis: calc(50% - #{$base-spacing});
        }
        &:nth-child(even){
            @include breakpoints(xsm) {
                margin-left: $base-spacing*2;
            }
        }
    }
    // Block Button
    &-button {
        margin-bottom: $base-spacing;

        &__link {
            @extend .button;

            &:not([class*="has"]) {
                @extend .button--primary;
            }
        }

        &.is-style-outline {
            #{$el}-button {
                &__link {
                    @extend .button--outline;
                }
            }
        }

        &.is-style-squared {
            #{$el}-button {
                &__link {
                    @extend .button--square;
                }
            }
        }
    }

    // Block Separator (<hr/>)
    &-separator{

        &:not(.is-style-dots) {
            border-bottom: 2px solid $maingrey;
            margin-left: auto;
            margin-right: auto;
        }

        &:not(.is-style-wide):not(.is-style-dots) {
            // Custom CSS for native Separator Block
        }
    }

    // Block Quote (<blockquote/>)
    &-quote {
        p {
            // Custom CSS for inner paragraph
        }

        cite,
        &__citation {
            // Custom CSS for Block Quote citation
        }

        &.is-large {
            // Custom CSS for large Block Quote option
        }
    }

    &-pullquote {
        blockquote {
            margin-bottom: 0;
        }

        cite,
        &__citation {
            // Custom CSS for Block Quote citation
        }
    }

    // Block Table
    &-table {
        // Actually WordPress handle overflow scroll x on mobile
        td,
        th {
            padding: $half-base-spacing;
		    border: 1px solid $base-border-color;
        }
    }
}

//Paragraph
p {
    //H2 like style
    &.has-huge-font-size {
        @include title(XL);
    }
    //H3 like style
    &.has-large-font-size {
        @include title(L);
    }
    //H4 like style
    &.has-medium-font-size {
        @include title(M);
    }
}