.alignwide {
    @include row--fullwidth;
    max-width: container() * 1.5;
}
.alignfull {
    @include row--fullwidth;
    max-width: 100vw;
}

// Mains blocks
.wp-block {
    $el : &;

    // Block Button
    &-button {
        margin-bottom: $base-spacing;

        &__link {
            @extend .button;

            &:not([class*="has"]) {
                @extend .button--primary;
            }
        }

        &.is-style-outline {
            #{$el}-button {
                &__link {
                    @extend .button--outline;
                }
            }
        }

        &.is-style-squared {
            #{$el}-button {
                &__link {
                    @extend .button--square;
                }
            }
        }
    }

    // Block Separator (<hr/>)
    &-separator{
        &:not(.is-style-wide):not(.is-style-dots) {
            max-width: 100px;
        }
    }

    // Block Quote (<blockquote/>)
    &-quote {
        border-left: 4px solid currentColor;

        p {
            margin-bottom: $half-base-spacing;
        }

        cite,
        &__citation {
            font-size: 13px;
            font-style: normal;
            color: $maingrey;
        }

        &.is-large {
            padding: $base-spacing*1.5;
            margin-bottom: $base-spacing*1.5;
        }
    }

    &-pullquote {
        border-top: 4px solid currentColor;
        border-bottom: 4px solid currentColor;

        cite,
        &__citation {
            text-transform: uppercase;
            font-size: 13px;
            font-style: normal;
            color: $maingrey;
        }

        blockquote {
            margin-bottom: 0;
        }
    }
}

//Paragraph
p {
    //H2 like style
    &.has-huge-font-size {
        @include title(XL);
    }
    //H3 like style
    &.has-large-font-size {
        @include title(L);
    }
    //H4 like style
    &.has-medium-font-size {
        @include title(M);
    }
}