.alignwide {
    @include row--fullwidth;
    max-width: container() * 1.5;
}
.alignfull {
    @include row--fullwidth;
    max-width: 100vw;
}

// Mains blocks
.wp-block {
    $el : &;

    // Block Button
    &-button {
        margin-bottom: $base-spacing;

        &__link {
            @extend .button;

            &:not([class*="has"]) {
                @extend .button--primary;
            }
        }

        &.is-style-outline {
            #{$el}-button {
                &__link {
                    @extend .button--outline;
                }
            }
        }

        &.is-style-squared {
            #{$el}-button {
                &__link {
                    @extend .button--square;
                }
            }
        }
    }

    &-separator{
        &:not(.is-style-wide):not(.is-style-dots) {
            max-width: 100px;
        }
    }
}

//Paragraph
p {
    //H2 like style
    &.has-huge-font-size {
        @include title(XL);
    }
    //H3 like style
    &.has-large-font-size {
        @include title(L);
    }
    //H4 like style
    &.has-medium-font-size {
        @include title(M);
    }
}