.alignleft {
	@include align;
}

.alignright {
	@include align(right);
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft,
.alignright,
.aligncenter {
	margin-bottom: $base-spacing;
}

.wp-caption {
	margin-bottom: $base-spacing;
	padding: 5px 0;
	text-align: center;
	max-width: 100%!important;
}

.wp-caption img,
.wp-smiley {
	margin: 0;
}

.wp-caption-text {
	font-size: 11px;
	margin: 5px 5px 0;
}