.wysiwyg {

	@include clearfix;

	> * {
		margin-bottom: $base-spacing;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@import "../base/list";

	img {

		@include img__responsive;

		&.alignright,
		&.alignleft {
			max-width: 50%;

			@include breakpoints(sm) {
				max-width: 100%;
			}
		}
	}
}
