@include editor-only {
    // ----
    // Post title style
    // ----
    .editor-post-title {

        @include heading(h1);

        max-width: var(--responsive--aligndefault-width);
        margin-bottom: var(--wp--preset--spacing--48);
    }

    // ----
    // Editor UI font styles
    // ----
    .wp-block.block-editor-default-block-appender > textarea {
        font-family: var(--global--font-secondary);
        font-size: var($font-size-md);
    }
}

// ----
// Drop cap
// ----
.has-drop-cap:not(:focus)::first-letter {
    float: left;
    margin: .1em .1em 0 0;
    font-family: var(--wp--preset--font-family--primary);
    font-size: calc(1.2 * var(--heading--font-size-h1));
    font-style: normal;
    font-weight: var(--heading--font-weight);
    line-height: .66;
    text-transform: uppercase;
}

#{context-selector(".blocks-container", ".is-root-container")} {
    // ----
    // Alignements horizontaux
    // ----
    > :where(*) {
        max-width: var(--responsive--aligndefault-width);
        margin-right: auto;
        margin-left: auto;
    }

    #{context-selector(".alignwide", "[data-align='wide']")} {
        max-width: var(--responsive--alignwide-width);
    }

    #{context-selector(".alignfull", "[data-align='full']")} {
        max-width: var(--responsive--alignfull-width);
    }

    .is-layout-constrained > * + p {
        margin-block-start: 0;
    }

    .alignleft {

        @include align;
    }

    .alignright {

        @include align(right);
    }

    .aligncenter {
        display: block;
        margin-right: auto;
        margin-left: auto;
        clear: both;
    }

    .alignleft,
    .alignright,
    .aligncenter {
        margin-bottom: var(--wp--custom--spacing--small);
    }

    // ----
    // Alignements verticaux
    // ----
    > *,
    [class*="inner-container"] > * {
        &:not(p, .wp-block-quote, .wp-block-pullquote) {
            margin-top: var(--wp--preset--spacing--32);
            margin-bottom: var(--wp--preset--spacing--32);
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.alignleft,
        &.alignright,
        &.alignleft:first-child + *,
        &.alignright:first-child + *,
        &.alignfull.has-background {
            margin-top: 0;
        }

        &:last-child,
        &.alignfull.has-background {
            margin-bottom: 0;
        }

        /* Reset alignleft and alignright margins after alignfull */
        &.alignfull + .alignleft,
        &.alignfull + .alignright {
            margin-top: var(--wp--preset--spacing--16);
        }
    }

    > p,
    [class*="inner-container"] > p {
        margin-top: var(--wp--preset--spacing--16);
        margin-bottom: var(--wp--preset--spacing--16);
    }

    @include editor-only {

        > * {

            &:last-child {
                margin-bottom: var(--wp--preset--spacing--16);
            }
        }

        [class*="inner-container"] > * {
            max-width: none;
        }
    }
}
