@use "../01-abstract/variables" as *;
@use "../02-tools/f-context-selector" as *;
@use "../02-tools/f-get-gutter-width" as *;
@use "../02-tools/m-align" as *;
@use "../02-tools/m-editor-only" as *;
@use "../02-tools/m-heading" as *;

@include editor-only {
	// ----
	// Editor UI font styles
	// ----
	.wp-block.block-editor-default-block-appender > textarea {
		font-family: $font-family-primary;
		font-size: $font-size-base;
	}

	// ----
	// Disable links in ACF blocks
	// The template block must have a ".block" class. Example : <div class="block block--my-custom-block">
	// ----
	.acf-block-preview {
		> .block {
			a,
			button {
				pointer-events: none;
			}
		}
	}
}

// ----
// Drop cap
// ----
.has-drop-cap:not(:focus)::first-letter {
	float: left;
	margin: .1em .1em 0 0;
	font-family: var($font-family-primary);
	font-size: calc(1.2 * var(--heading--font-size-h1));
	font-style: normal;
	font-weight: var(--heading--font-weight);
	line-height: .66;
	text-transform: uppercase;
}
