.wp-block-cover,
.wp-block-cover-image {
    margin-top: inherit;
    margin-bottom: inherit;

    &:not(.alignwide):not(.alignfull) {
        clear: both;
    }

    @include style-only {
        &.alignfull {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @include editor-only {
        [data-align="full"] & {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
