h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    clear: both;
    color: var(--heading--color-primary);
}

@for $i from 1 through 6 {
    h#{$i},
    .h#{$i} {
        @include heading($i);
    }
    
    @include editor-only {
        .wp-block-heading h#{$i},
        h#{$i},
        .h#{$i} {
            @include heading($i);

            clear: both;
        }
    }
}
