/**
 * Font Family
 */
$font-sansserif: Arial, Helvetica, sans-serif;
$font-serif: Times, Georgia, serif;
$customfont-1: Roboto, sans-serif;
$customfont-2: Circular, sans-serif;

/**
 * Font Size
 */
$base-fz: 16px;
$heading-font-size: 25px;

/**
 * Line Height
 */
$base-lh: 1.4;
$heading-line-height: 1.2;