### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

### WordPress ###
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz
.htpasswd

### SublimeText ###
*.sublime-project
*.sublime-workspace
sftp-config.json
sftp-config-alt*.json
*.sublime-gulp.cache

### NodeJS ###
node_modules/
bower_components/

### PictureFill/Retina images/Timthumb ###
### on dev need to specify themes path like : wp-content/themes/name_of_your_theme/assets/img/sample/cache ###
src/img/sample/cache
dist/assets/img/sample/cache

### Mac OSX
.DS_Store

### VS Code ###
.vscode/

### PHPStorm ###
.idea/

### frontend build directory ###
dist/
src/conf-img/*.csv

### NPM (use Yarn instead)
package-lock.json

### config
/vendor/
composer.lock
