{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-recess-order"
    ],
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "block-closing-brace-empty-line-before": null,
        "block-closing-brace-newline-after": null,
        "block-closing-brace-newline-before": null,
        "block-closing-brace-space-before": null,
        "block-opening-brace-newline-after": null,
        "block-opening-brace-space-after": null,
        "block-opening-brace-space-before": null,
        "declaration-block-semicolon-newline-after": null,
        "declaration-block-semicolon-space-after": null,
        "declaration-block-semicolon-space-before": null,
        "declaration-block-trailing-semicolon": null,
        "indentation": 4,
        "no-descending-specificity": null,
        "number-leading-zero": "never",
        "declaration-colon-newline-after": null,
        "max-line-length": 400,
        "no-eol-whitespace": [
            true,
            {
                "ignore": [
                    "empty-lines"
                ]
            }
        ],
        "at-rule-empty-line-before": [
            "always",
            {
                "ignore": [
                    "inside-block",
                    "blockless-after-same-name-blockless",
                    "blockless-after-blockless"
                ]
            }
        ],
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": [
                "extend",
                "at-root",
                "debug",
                "warn",
                "error",
                "if",
                "else",
                "for",
                "each",
                "while",
                "mixin",
                "include",
                "content",
                "return",
                "function"
                ]
            }
        ]
    }
}