{
    "extends": [
        "stylelint-config-wordpress/scss",
        "stylelint-config-recess-order"
    ],
    "plugins": [
        "stylelint-scss"
    ],
    "rules": {
        "at-rule-no-unknown": null,
        "scss/at-rule-no-unknown": true
    }
}