/**
 * @section Buttons
 */

@mixin button {
	display: inline-block;
	padding: 8px 12px;
	font-family: $primary-font-family;
	line-height: 1.5;
	vertical-align: middle;
	border: 1px solid transparent;
	border-radius: 0;
	transition: background-color 0.3s ease;
}

// Sizing
@mixin button--xs {
	font-size: 9px;
}

@mixin button--sm {
	font-size: 12px;
}

@mixin button--lg {
	font-size: 18px;
}

@mixin button--expand {
	display: block;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	text-align: center;
}

// Coloring
@mixin button--colored($backgroundColor, $color) {
	color: $color;
	background-color: $backgroundColor;

	@include hover {
		color: $color;
		background-color: darken($backgroundColor, 10%);
	}
}

// Outline style
@mixin button--outline($borderColor: $gray-color-500, $color: $secondary-color) {
	color: $color;
	background-color: transparent;
	border-color: $borderColor;
	border-width: 1px; // Force button width VS Gutenberg CSS

	@include hover {
		background-color: transparent;
		border-color: darken($borderColor, 10%);
	}
}

// Border Radius
@mixin button--round {
	border-radius: $base-border-radius;
}

@mixin button--circle($size: 50px) {
	width: $size;
	height: $size;
	padding: 0;
	line-height: $size;
	text-align: center;
	border-radius: $size;
}

// State style
@mixin button--disabled($backgroundColor: $gray-color-500) {
	cursor: not-allowed;
	opacity: 0.3;

	@include hover {
		background-color: $backgroundColor;
	}
}

// Text style
@mixin button--text {
	padding: 0;
	background-color: transparent;

	@include hover {
		background-color: transparent;
	}
}

// Button icon
@mixin button--icon {
	padding: 10px 11px;
}

.button {
	$parent: &;

	@include button;

	&--xs {

		@include button--xs;
	}

	&--sm {

		@include button--sm;
	}

	&--lg {

		@include button--lg;
	}

	&--expand {

		@include button--expand;
	}

	&--primary {

		@include button--colored($primary-color, $secondary-color);
	}

	&--error {

		@include button--colored($error-color-50, $error-color-600);
	}

	&--warning {

		@include button--colored($notice-color-50, $notice-color-600);
	}

	&--success {

		@include button--colored($success-color-50, $success-color-600);
	}

	&--info {

		@include button--colored($info-color-50, $info-color-600);
	}

	&--outline {

		@include button--outline;

		&#{$parent}--primary {

			@include button--outline($primary-color, $secondary-color);
		}

		&#{$parent}--error {

			@include button--outline($error-color-50, $error-color-600);
		}

		&#{$parent}--warning {

			@include button--outline($notice-color-50, $notice-color-600);
		}

		&#{$parent}--success {

			@include button--outline($success-color-50, $success-color-600);
		}

		&#{$parent}--info {

			@include button--outline($info-color-50, $info-color-600);
		}
	}

	&--square {
		border-radius: 0;
	}

	&--round {

		@include button--round;
	}

	&--circle {

		@include button--circle();
	}

	&--text {

		@include button--text;
	}

	&--icon {

		@include button--icon;
	}

	&[disabled] {

		@include button--disabled;

		&#{$parent}--error {

			@include button--disabled($error-color-50);
		}

		&#{$parent}--warning {

			@include button--disabled($notice-color-50);
		}

		&#{$parent}--success {

			@include button--disabled($success-color-50);
		}

		&#{$parent}--info {

			@include button--disabled($info-color-50);
		}
	}
}
