/**
 * @section Cards
 */
.card {
    $el: &;

    @include card;

    #{$el}__img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    #{$el}__content {
        padding: $base-spacing;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // Vertical card reversed
    &--reverse {

        @include card(column-reverse);
    }

    // Horizontal card
    &--row {

        @include card(row, 300px);

        &#{$el}--center {

            @include breakpoints(sm) {
                align-items: center;
            }
        }

        // Horizontal card reversed
        &#{$el}--reverse {

            @include card(row-reverse, 300px);
        }
    }

    @include breakpoints(sm) {
        #{$el}--row {
            &#{$el}--center {
                align-items: center;
            }
        }
    }
}
