/**
 * @section Cards
 */

@mixin card($flexDirection: column, $thumbnailWidth : 300px) {
    display: flex;
    flex-direction: $flexDirection;
    margin: 0 auto;
    border: $base-border;

    @if ($flexDirection == row or $flexDirection == row-reverse) {

        @include breakpoints(sm) {
            flex-direction: $flexDirection;
            max-width: 100%;

            .card {
                &__thumbnail {
                    width: $thumbnailWidth;
                }

                &__content {
                    width: calc(100% - #{$thumbnailWidth});
                }

                &__img {

                    @include object-fit;

                    height: 100%;
                    margin: 0;
                }
            }
        }
    }

    @if ($flexDirection == row) {
        flex-direction: column;
    }

    @if ($flexDirection == row-reverse) {
        flex-direction: column-reverse;
    }
}

.card {
    $el: &;

    @include card;

    #{$el}__img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    #{$el}__content {
        padding: $base-spacing;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // Vertical card reversed
    &--reverse {

        @include card(column-reverse);
    }

    // Horizontal card
    &--row {

        @include card(row, 300px);

        &#{$el}--center {

            @include breakpoints(sm) {
                align-items: center;
            }
        }

        // Horizontal card reversed
        &#{$el}--reverse {

            @include card(row-reverse, 300px);
        }
    }

    @include breakpoints(sm) {
        #{$el}--row {
            &#{$el}--center {
                align-items: center;
            }
        }
    }
}
