.key-figures {
    $el: &;

    padding: $base-spacing 0;

    #{$el}__item {
        text-align: center;
    }

    #{$el}__number {
        font-size: 100px;
        font-weight: 700;
    }

    @include breakpoints(sm) {
        #{$el}__row {
            display: flex;
            justify-content: space-between;
        }

        #{$el}__item {
            width: span(4);
        }
    }
}