/**
 * @section Accessible Mega Menu
 */
.amenu {
  $el: &;

  &__toggle {
    border: 0;
    appearance: none;
    background: transparent;
    cursor: pointer;

    .icon {
      width: 30px;
      height: 30px;
    }

    .icon-close {
      display: none;
    }

    &[aria-expanded='true'] {
      .icon-close {
        display: block;
      }

      .icon-menu {
        display: none;
      }
    }
  }

  &__main {
    padding: 0;
  }

  &__panel {
    padding: 0;
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s ease, max-height .5s ease, visibility 0s linear;

    &.open {
      overflow: visible;
      max-height: 350px;
      opacity: 1;
      visibility: visible;
    }
  }

  &__sub-menu {
    padding: 0;
    margin: 0;
  }

  @include breakpoints(sm, max) {
    &__toggle~#{$el}__main>#{$el}__top {
      height: 0;
      overflow: hidden;
      visibility: collapse;
    }

    &__toggle[aria-expanded='true']~#{$el}__main>#{$el}__top {
      height: auto;
      overflow: visible;
      visibility: visible;
    }
  }

  @include breakpoints(sm) {
    &__toggle {
      display: none;
    }

    &__main {
      display: flex;
      flex-wrap: wrap;
    }
  }
}