/**
 * @section Burger Menu Trigger
 */

.menu-trigger {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;

	&__open {
		display: block;
	}

	&__close {
		display: none;
	}

	@include breakpoints(md) {
		display: none;
	}
}

.menu-mobile {

	&--active {

		.menu-trigger {

			&__open {
				display: none;
			}

			&__close {
				display: block;
			}
		}
	}
}
