.message {
	padding: $base-spacing;
	margin: 0 0 $base-spacing;
	color: $primary-color;
	border-left: 5px solid $primary-color;

	p {

		&:last-child {
			margin: 0;
		}
	}

	a {
		color: currentColor;
	}

	&--error,
	&--alert {
		color: $error-color-600;
		background: $error-color-50;
		border-color: $error-color-600;
	}

	&--notice {
		color: $notice-color-600;
		background: $notice-color-50;
		border-color: $notice-color-600;
	}

	&--success {
		color: $success-color-600;
		background: $success-color-50;
		border-color: $success-color-600;
	}

	&--info {
		color: $info-color-600;
		background: $info-color-50;
		border-color: $info-color-600;
	}
}
