extends ../layout/layout.pug

block vars
    - var bodyClass='page'
    - var pageHeader = {title: 'Titre de la page par défaut, avec sidebar', date: 'Publié le 07/27/2018', image: 'assets/img/bg-sample/bg_img-mobile-01.jpg [(max-width: 1023px)] | assets/img/bg-sample/bg_img-desktop-01.jpg'}

block content
    +page-header(pageHeader.title, pageHeader.date, pageHeader.image)
    article.entry
        .container
            .content
                section.entry__content

                    include ../partials/wysiwyg/text-img.pug
                    include ../partials/wysiwyg/blockquote.pug
                    include ../partials/wysiwyg/citation.pug
                    include ../partials/wysiwyg/heading.pug
                    include ../partials/wysiwyg/img-caption.pug
                    include ../partials/wysiwyg/table.pug
                    include ../partials/wysiwyg/ul.pug
                    include ../partials/wysiwyg/img.pug
                    include ../partials/wysiwyg/img-ol.pug
                    include ../partials/wysiwyg/img-ul.pug
                    include ../partials/wysiwyg/gallery.pug
                    include ../partials/wysiwyg/messages.pug


                    // Button href demo
                    +button('Button w/ blank')(class="button--rounded" data-href="https://beapi.fr/" data-target="_blank")
                    +button('Button download')(class="button--bordered" data-href="../assets/pdf/sample.pdf" data-target="download" data-filename="sample.pdf")
                    +button('Button w/o blank')(class="button--revert" data-href="https://beapi.fr/")

            .sidebar
                // You can add widget sample (html/css) from composerjs here