include ../mixins/mixins.pug

doctype html
html.fonts-loading.no-js(lang='fr')
    +head('BeAPI FrontEnd Framework | Archive')

    body.archive
        +header(false)

        main#main__content.main__content(role="main" tabindex="-1" aria-label="Contenu Principal")
            header.page__header.lazyload(data-bgset="assets/img/bg-sample/bg_img-mobile-01.jpg [(max-width: 1023px)] | assets/img/bg-sample/bg_img-desktop-01.jpg")
                .container
                    h1.page__title Two basic styles of archive list
                    p You can add WP-pagenavi or FacetWP plugin markup for pagination, from composerjs</p>

            .page__content
                .container
                    h2.entry__title An example of entry list
                    .entry__loop
                        - var n = 0
                        while n < 3
                            - n++
                            include ../partials/_entry-summary.pug

                    h2.entry__title An example of entry "card" list
                    .entry__loop
                        - var n = 0
                        while n < 3
                            - n++
                            include ../partials/_entry-summary--seo.pug

        include ../partials/_footer.pug