extends ../layout/layout.pug

block vars
    - var bodyClass='error-404'

block content
    article.entry
        .container
            h1.entry__title Erreur 404
            section.entry__content
                p Désolé mais la page que vous recherchez n'existe plus.
                p Vous pouvez effectuer une recherche :</p>
                include ../partials/_searchform.pug