doctype html
html.fonts-loading.no-js(lang='fr')
    head
        title BeAPI FrontEnd Framework | The WordPress BFF
        include ../partials/_head-meta
        include ../partials/_head-favicon
        include ../partials/_head-assets

    body.error-404
        include ../partials/_header.pug

        main#main__content.main__content(role="main" tabindex="-1" aria-label="Contenu Principal")
            article.entry
                .container
                    h1.entry__title Erreur 404
                    section.entry__content
                        p Désolé mais la page que vous recherchez n'existe plus.
                        p Vous pouvez effectuer une recherche :</p>
                        include ../partials/_searchform.pug

        include ../partials/_footer.pug