mixin head(title)
    - typeof title === 'undefined' ? 'BeAPI FrontEnd Framework | The WordPress BFF' : title

    head
        title= title
        include ../../partials/_head-meta
        include ../../partials/_head-favicon
        include ../../partials/_head-assets