- var column = 4
- var items = 12

#gallery-1.gallery.galleryid-1.gallery-size-thumbnail(class='gallery-columns-'+column)
    - for (var i = 1; i <= items; i++)
        dl.gallery-item
            dt.gallery-icon
                a(href="#" title="#")
                    img.attachment-thumbnail(width="150" height="150" src="http://placehold.it/150x150" class="" alt="#")
            dd.wp-caption-text.gallery-caption Gallery item #{i}

    br(style="clear: both;")