 h3 Image with a caption text
.wp-caption.alignnone(style="width: 150px;")
    a(href="http://placehold.it/500x500" rel="attachment")
        img(width="150" height="150" alt="#" src="http://placehold.it/150x150" title="#")
    p.wp-caption-text This is an image with a caption text