img.alignleft(align="left" alt="#" src="http://placehold.it/150x150")

h3 An Ordered List with left align image

ol
    li Vestibulum in mauris semper tortor interdum ultrices.
    li Sed vel lorem et justo laoreet bibendum. Donec dictum.
    li Etiam massa libero, lacinia at, commodo in, tincidunt a, purus.
    li Praesent volutpat eros quis enim blandit tincidunt.
    li Aenean eu libero nec lectus ultricies laoreet. Donec rutrum, nisi vel egestas ultrices, ipsum urna sagittis libero, vitae vestibulum dui dolor vel velit.