h2 A table

table
    tbody
        tr
            th Employee
            th.views(colspan="2") Salary
        tr
            td
                a(href="http://john.do/") John Saddington
            td $1
            td Because that’s all Steve Job’ needed for a salary.
        tr
            td
                a(href="http://tommcfarlin.com/") Tom McFarlin
            td $100K
            td For all the blogging he does.
        tr
            td
                a(href="http://jarederickson.com/") Jared Erickson
            td $100M
            td Pictures are worth a thousand words, right? So Tom x 1,000.
        tr
            td
                a(href="http://chrisam.es/") Chris Ames
            td $100B
            td With hair like that?! Enough said…