footer#footer.footer(role="contentinfo")
    div.container
        p Follow us:
        a.button.button--circle(href="https://www.facebook.com/beapi.agency/?ref=bookmarks")
            span.visuallyhidden On Facebook
            +svg-icon('facebook')(class="icon icon-facebook")
        a.button.button--circle(href="https://twitter.com/be_api")
            span.visuallyhidden On Twitter
            +svg-icon('twitter')(class="icon icon-twitter")
        a.button.button--circle(href="https://www.instagram.com/agencebeapi/")
            span.visuallyhidden On Instagram
            +svg-icon('instagram')(class="icon icon-instagram")

include ../../../dist/assets/icons/icons.svg
include _footer-scripts.pug