include ../mixins/mixins.pug

<!--[if lte IE 9]>
    <div class="message message__browserhappy">
        <p>
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
        </p>
        <p>
        <button><span class="button-icon icon-close"></span>&nbsp;Close</button>
        </p>
    </div>
<![endif]-->
.cssloading__overlay
#main
    ul.menu-fastaccess
        li.menu-fastaccess__item
            a(href="#main__content") Accès direct au contenu
        li.menu-fastaccess__item
            a(href="#searchform") Accès direct à la recherche
        li.menu-fastaccess__item
            a(href="#menu") Accès direct au menu
    #js-menu-trigger.menu-trigger
        button#js-menu-open.menu-trigger__open(type="button")
            +svg-icon('menu')(class="icon icon-menu")
            span Menu
        button#js-menu-close.menu-trigger__close(type="button")
            +svg-icon('close')(class="icon icon-close")
            span Fermer
    header#header.header(role="banner")
        .container
            .header__logo
                a.header__logo-link(href="01-home.php")
                    +svg-icon('logo-beapi')(class="header__icon icon-close")
                    <?php if ( $class == 'home' ) :?>
                        h1.header__title.visuallyhidden BeAPI FrontEnd Framework
                    <?php else: ?>
                        .header__title.visuallyhidden BeAPI FrontEnd Framework
                    <?php endif; ?>
            nav#menu.menu(role="navigation" tabindex="-1" aria-label="Navigation Principal")
                ul.menu__list.sf-menu
                    li.menu-item.current-menu-item.menu-item-has-children
                        a(href="01-home.php") Home
                        ul.sub-menu
                            li.menu-item
                                a(href="../livingcss/html/index.html") Living CSS
                    li.menu-item
                        a(href="02-page-default.php") Page default
                    li.menu-item
                        a(href="03-archive-default.php") Archive default
                    li.menu-item
                        a(href="04-page-404.php") Page 404