include ../mixins/svg-icon.pug

#searchform.searchform(tabindex="-1")
	form(role="form" method="get" action="#")
		.form__row
			label(for="search") Recherchez
		.form__row
			input#search.searchform__field(type="search" name="s" placeholder="Entrez un mot clé" aria-required="true" required="required")
			button#searchsubmit.searchform__submit(type="submit" name="submit")
				span.visuallyhidden Lancer la recherche
				+svg-icon('search')(class="icon icon-search")