#typography {
    .livingcss__section-code {
        display: none;
    }
    .font {
        &--title {
            display: inline-block;
            font-size: 50px;
            box-shadow: inset 0 -20px 0 $maincolor;
        }
        &--italic {
            font-style: italic;
        }
        &--bold {
            font-weight: bold;
        }
    }
}