blockquote {
    position: relative;
    padding: 0;
    margin: var(--global--spacing-horizontal) 0 var(--global--spacing-horizontal) var(--global--spacing-vertical);

    > * {
        margin-top: var(--global--spacing-unit);
        margin-bottom: var(--global--spacing-unit);

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
