/**
 * Form
 *
 * `.radio--custom` class can be applied to a parent div wrapping `<input type="radio">` element.
 * `.checbox--custom` class can be applied to a parent div wrapping `<input type="checkbox">` element.
 * `.select--custom` class can be applied to a parent div wrapping `<select>` element.<br>
 *
 * @section Form
 * @page components
 *
 * @example
 * <form action="#">
 *		<div class="radio--custom">
 *			<input id="radio-1" name="radio" type="radio" checked>
 *			<label for="radio-1">Radio item <br> on two line</label>
 *		</div>
 *		<div class="radio--custom">
 *			<input id="radio-2" name="radio" type="radio">
 *			<label for="radio-2">Radio item</label>
 *		</div>
 *		<div class="checkbox--custom">
 *			<input id="checkbox-1" name="checkbox1" type="checkbox" checked>
 *			<label for="checkbox-1">Checkbox item <br>on two line</label>
 *		</div>
 *		<div class="checkbox--custom">
 *			<input id="checkbox-2" name="checkbox2" type="checkbox">
 *			<label for="checkbox-2">Checkbox item</label>
 *		</div>
 *		<div class="select--custom">
 *			<select>
 *				<option>M.</option>
 *				<option>Mme</option>
 *			</select>
 *		</div>
 * </form>
 */
// All inputs variables
$text-inputs-list: 'input[type="color"]',
	'input[type="date"]',
	'input[type="datetime"]',
	'input[type="datetime-local"]',
	'input[type="email"]',
	'input[type="month"]',
	'input[type="number"]',
	'input[type="password"]',
	'input[type="search"]',
	'input[type="tel"]',
	'input[type="text"]',
	'input[type="time"]',
	'input[type="url"]',
	'input[type="week"]',
	'input:not([type])',
	'textarea';

$all-text-inputs:        assign-inputs($text-inputs-list);

#{$all-text-inputs},
textarea {
	box-sizing: border-box;
	line-height: 1;
	width: 100%;
	border: 1px solid $maingrey;
	padding: $half-base-spacing;
	font-family: $customfont-1;
	color: $textcolor;
	background: darken($lightcolor, 5%);
	border-radius: 0; //reset border radius for ios
	transition : border-color 0.5s ease;
	appearance: none;
	@include placeholder {
		color: lighten($textcolor, 50%);
	}

	&:hover {
		border-color: darken($maingrey, 10%);
	}

	&:focus {
		color: darken($textcolor, 10%);
		border-color: darken($maingrey, 20%);
	}
}

// Textarea
textarea {
	resize:vertical;
}

// Label
label {
	display: inline-block;
	font-weight: 700;
}

// Custom select
select {
	@include select--custom;
}

// Checkbox + Radio
.checkbox--custom {
	@include checkbox--custom($maincolor);
}

.radio--custom {
	@include checkbox--custom($maincolor);
	@include radio--custom();
}