.svg-sprite {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	fill: currentColor;
	height: 1em;
	width: 1em;
}

//display hidden text for icon only button
.no-svg {

	.visuallyhidden {
		position: static;
		height: auto;
		width: auto;
	}
}
