.svg-sprite {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: currentColor;
}

//display hidden text for icon only button
.no-svg {
    .sr-only {
        position: static;
        width: auto;
        height: auto;
    }
}
