body {
    font-family: $primary-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $secondary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $secondary-color;
    text-decoration: none;

    @include hover {
        color: $secondary-color;
    }
}

/* Headings */
h1 {

    @include title(XXL);
}

h2 {

    @include title(XL);
}

h3 {

    @include title(L);
}

h4 {

    @include title(M);
}

h5 {

    @include title(S);
}

h6 {

    @include title(XS);
}

/* Lists */
ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    margin: 0;
}

/* Spacing */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
    margin: 0 0 $base-spacing 0;
}

/* Wysiwyg style */
hr {
    margin: $base-spacing 0;
    clear: both;
}

blockquote {
    padding: $base-spacing;
    margin: 0 0 $base-spacing 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

cite {
    font-style: italic;
}

small {
    font-size: 11px;
}

table {
    width: 100%;
    margin: $base-spacing 0;
    border-collapse: collapse;
    border: 0;

    th,
    td {
        padding: $half-base-spacing;
        text-align: left;
        vertical-align: top;
        border: $base-border;
    }
}

address {
    display: block;
    margin-bottom: $base-spacing;
    font-style: normal;
    line-height: 20px;
}

abbr {
    text-decoration: underline;
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted $base-border-color;
}

big {
    font-size: larger;
}

code {
    display: inline-block;
    padding: 2px 5px;
    font-family: monospace;
    font-size: $base-font-size;
    background-color: $gray-color-800;
    border: 1px solid $dark-color;
    border-radius: $base-border-radius;
}

s,
strike,
del {
    text-decoration: line-through;
}

em,
var {
    font-style: italic;
}

ins {
    text-decoration: none;
}

tt,
kbd,
samp {
    font-family: monospace;
}

pre {
    display: block;
    padding: $half-base-spacing;
    margin: 0 0 $base-spacing;

    @include word-wrap(break-all);

    white-space: pre-wrap;
    background-color: $gray-color-800;
    border: 1px solid $dark-color;
    border-radius: $base-border-radius;
}

q {
    display: inline;
    font-style: italic;
}

sub,
sup {
    position: relative;
    bottom: -.25em;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}
