@column-width: 60;
@gutter-width: 20;
@columns: 12;

body {
	min-width: 960px;
}
.wrapper {
	width: 960px; margin:0 auto;
}
#header,
#footer,
#main-menu {
	.column(12);
}
#content {
	.column(9);
}
#sidebar {
	.column(3);
}

@media (max-width: 1024px) {
	body { -webkit-text-size-adjust: none; }
}
