/* Page default css
-------------------------------------------------------------- */
.page {
    $parent : &;

    &__header {
        margin-bottom: $base-spacing;
		padding: $base-spacing / 2;

		@include breakpoints(md) {
			padding: 100px 0;
		}

		#{$parent}__title,
        #{$parent}__date,
        p {
			color: $lightcolor;
		}
    }
}