mixin wp-gallery(i)
    div(class="gallery gallery-columns-" + i + " gallery-size-thumbnail")
        - var n = 0;
            while n < i
                - n++
                figure.gallery-item
                    .gallery-icon
                        a(href="#" title="#")
                            img.attachment-thumbnail(width="150" height="150" src="http://placehold.it/150x150" alt="#" title="#")
                    figcaption.wp-caption-text.gallery-caption Caption text