.wp-block-cover,
.wp-block-cover-image {
    margin-top: inherit;
    margin-bottom: inherit;

    &:not(.alignwide):not(.alignfull) {
        clear: both;
    }

    &.alignfull {
        margin-top: 0;
        margin-bottom: 0;
    }
}
