/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
html,
body {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  /*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}
b,
strong {
  /*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}
li {
  /*
  For IE6 + IE7.
*/
  display: list-item;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
sub,
sup,
small {
  font-size: 75%;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
svg {
  /*
  For IE9.
*/
  overflow: hidden;
}
/* Library
 ----------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
    Hacked by BeAPI
  ---------------------------------------------------*/
/* Mixins for font size and line height
 ----------------------------------------------------------------------------------------------------*/
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
body {
  font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}
/* `Headings
----------------------------------------------------------------------------------------------------*/
h1 {
  font-size: 25px;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 19px;
}
h5 {
  font-size: 17px;
}
h6 {
  font-size: 15px;
}
/* `Spacing
----------------------------------------------------------------------------------------------------*/
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
li {
  margin-left: 30px;
}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}
/* `Wysiwyg style
----------------------------------------------------------------------------------------------------*/
blockquote {
  border-left: 5px solid #eeeeee;
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
cite {
  font-style: italic;
}
table {
  margin: 20px 0;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
table th {
  padding: 8px;
  border-left: 1px solid #ddd;
  border-top: 0;
  vertical-align: top;
  text-align: left;
  line-height: 18px;
}
table td {
  padding: 8px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
  text-align: left;
  line-height: 18px;
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
abbr {
  text-decoration: underline;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
big {
  font-size: larger;
}
code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
s,
strike,
del {
  text-decoration: line-through;
}
em,
var {
  font-style: italic;
}
ins {
  background-color: rgba(254, 255, 0, 0.68);
  text-decoration: none;
}
tt,
kbd,
samp {
  font-family: monospace;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  -ms-word-wrap: break-all;
  word-wrap: break-all;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #333333;
}
q {
  display: inline;
  font-style: italic;
}
sub,
sup {
  bottom: -0.25em;
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */
/* 
	A special hack is included for IE8 since it does not apply padding 
	correctly on fieldsets
 */
label {
  font-weight: 700;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0 none;
}
legend {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -0.2em;
  margin-bottom: 1em;
}
fieldset,
#IE8#HACK {
  padding-top: 0em;
}
legend,
#IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}
/* Form fields
-------------------------------------------------------------- */
/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
::-webkit-input-placeholder {
  color: #000000;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
::-moz-placeholder {
  color: #000000;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
/* firefox 19+ */
:-ms-input-placeholder {
  color: #000000;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
/* ie */
input:-moz-placeholder {
  color: #000000;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
}
input[type=text],
input[type=password],
textarea {
  display: block;
  background: #ffffff;
  border: 1px solid #000000;
  padding: 5px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  border-color: #000000;
}
select {
  display: block;
  height: 28px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}
input[type=text],
input[type=password],
textarea,
select {
  margin: 0.5em 0;
}
textarea {
  width: 98%;
  padding: 5px;
  resize: vertical;
}
input[type=submit] {
  cursor: pointer;
  margin: 0;
  border: 0;
  color: #ffffff;
  background: #000000;
  -webkit-appearance: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* 
  This is to be used on forms where a variety of elements are 
  placed side-by-side. Use the p tag to denote a line. 
 */
form.inline {
  line-height: 3;
}
form.inline p {
  margin-bottom: 0;
}
form {
  clear: both;
}
/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */
.error,
.alert,
.notice,
.success,
.info {
  padding: 15px 20px;
  margin-bottom: 1em;
  font: 400 14px/16px Arial, Helvetica, sans-serif;
}
.error p,
.alert p,
.notice p,
.success p,
.info p {
  margin: 0;
}
.error,
.alert {
  color: #8a1f11;
  background: #fbe3e4;
}
.error a,
.alert a {
  color: #8a1f11;
}
.notice {
  color: #514721;
  background: #fff6bf;
}
.notice a {
  color: #514721;
}
.success {
  color: #264409;
  background: #e6efc2;
}
.success a {
  color: #264409;
}
.info {
  color: #205791;
  background: #d5edf8;
}
.info a {
  color: #205791;
}
/* =Images
-------------------------------------------------------------- */
.alignleft {
  display: inline;
  float: left;
  margin-right: 20px;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 20px;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft,
.alignright,
.aligncenter {
  margin-bottom: 20px;
}
.wp-caption {
  margin-bottom: 20px;
  padding: 5px 0;
  text-align: center;
  max-width: 100%!important;
}
.wp-caption img {
  margin: 0;
}
.wp-caption-text {
  font: italic 400 11px/12px Arial, Helvetica, sans-serif;
  margin: 5px 5px 0;
}
.wp-smiley {
  margin: 0;
}
.gallery {
  display: block;
  width: 102.08333333%;
  margin: 0 -1.04166667%;
  *zoom: 1;
  margin-bottom: 10px;
}
.gallery:before,
.gallery:after {
  content: "";
  display: table;
}
.gallery:after {
  clear: both;
}
.gallery-item {
  display: inline;
  float: left;
  width: 47.91666667%;
  margin: 0 1.04166667%;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.gallery-item a {
  display: block;
}
.gallery-item a img {
  display: block;
}
.gallery-columns-3 .gallery-item {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04166667%;
  margin-bottom: 10px;
}
.gallery-columns-4 .gallery-item {
  display: inline;
  float: left;
  width: 22.91666667%;
  margin: 0 1.04166667%;
  margin-bottom: 10px;
}
.gallery-caption {
  font-size: 11px;
  margin: 10px 0 0;
  text-align: left;
}
.gallery br + br {
  display: none;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-decoration: none;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: none;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 0;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .inline-element-with-padding {
    padding: 0;
  }
  /* remove useless content */
  .header,
  .footer,
  .widget-area,
  .breadcrumb,
  .wp-pagenavi {
    display: none!important;
  }
  /* reset width */
  .content {
    padding: 10px 0!important;
    margin: 10px 0!important;
    width: 100%!important;
  }
}
/* Global css
 ----------------------------------------------------------------------------------------------------*/
body {
  color: #000000;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
a {
  color: #000000;
}
a:hover,
a:focus,
a:active {
  color: #000000;
}
small {
  font-size: 11px;
}
ul {
  list-style: none;
  margin: 0;
}
ul li {
  margin: 0;
}
/* Misc Classes
----------------------------------------------------------------------------------------------------*/
.assistive-text {
  display: none;
}
/* Plugins
 ----------------------------------------------------------------------------------------------------*/
/* Main Content
----------------------------------------------------------------------------------------------------*/
#fast-access li {
  display: inline;
}
#fast-access li a {
  color: #ffffff;
}
#fast-access li a:hover,
#fast-access li a:focus {
  color: #000000;
}
#menu > ul {
  *zoom: 1;
  margin-bottom: 20px;
}
#menu > ul:before,
#menu > ul:after {
  content: "";
  display: table;
}
#menu > ul:after {
  clear: both;
}
#menu > ul > li > a {
  padding: 0 10px;
  font: 700 12px/24px Arial, Helvetica, sans-serif;
}
#menu > ul > li > a:hover,
#menu > ul > li > a:focus,
#menu > ul > li > a:active {
  color: #ffffff;
  background: #000000;
}
#menu > ul > li:hover ul,
#menu > ul > li:focus ul,
#menu > ul > li:active ul,
#menu > ul > li.sfHover ul {
  top: 24px;
}
#menu > ul > li.current-menu-item a,
#menu > ul > li.current-menu-parent a {
  color: #ffffff;
  background: #000000;
}
#menu > ul ul {
  background: #ffffff;
}
#menu > ul ul li a {
  padding: 10px;
}
#menu > ul ul li a:hover,
#menu > ul ul li a:focus,
#menu > ul ul li a:active {
  color: #ffffff;
  background: #000000;
}
#breadcrumb {
  list-style: none;
}
#breadcrumb li {
  display: inline;
  margin: 0;
}
.entry {
  *zoom: 1;
}
.entry:before,
.entry:after {
  content: "";
  display: table;
}
.entry:after {
  clear: both;
}
.entry-content {
  *zoom: 1;
}
.entry-content:before,
.entry-content:after {
  content: "";
  display: table;
}
.entry-content:after {
  clear: both;
}
.entry-content ul {
  list-style: disc inside none;
  margin: 0 0 20px;
}
.entry-content ul li {
  margin: 0 0 5px;
}
.entry-content ol {
  list-style: decimal inside none;
  margin: 0 0 20px;
}
.entry-content ol li {
  margin: 0 0 5px;
}
.entry-content img {
  max-width: 100%;
  height: auto;
}
.entry-content .gform_wrapper ul {
  list-style: none;
}
.entry-content .searchform input {
  display: inline;
}
/* Comments
 ----------------------------------------------------------------------------------------------------*/
.commentlist {
  list-style: none;
}
.comment .comment {
  min-height: 75px;
  margin: 0 0 20px;
  padding: 0 0 20px;
  position: relative;
  *zoom: 1;
  border-bottom: 1px solid #000000;
}
.comment .comment:before,
.comment .comment:after {
  content: "";
  display: table;
}
.comment .comment:after {
  clear: both;
}
.comment.last {
  border: 0;
}
.comment .children {
  margin: 20px 0 0 92px;
}
.comment .children .comment {
  min-height: 28px;
  border-bottom: 0;
  margin-bottom: 0;
}
.comment .children .comment .comment {
  border-bottom: 1px solid #000000;
}
.comment .children .comment-meta,
.comment .children .comment-content {
  padding-left: 62px;
}
.comment-meta {
  position: relative;
  padding-left: 92px;
  margin-bottom: 6px;
}
.comment-author {
  font-weight: 700;
}
.avatar {
  position: absolute;
  left: 5px;
  top: 0;
}
.comment-content {
  padding: 0 60px 0 92px;
}
.comment-content p {
  margin-bottom: 6px;
}
.reply {
  position: absolute;
  right: 0;
  bottom: 0;
}
.comment-reply-link {
  display: inline-block;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
}
/* Widget
 ----------------------------------------------------------------------------------------------------*/
.widget-area img {
  max-width: 100%;
  height: auto;
}
.widget {
  *zoom: 1;
  margin-bottom: 20px;
}
.widget:before,
.widget:after {
  content: "";
  display: table;
}
.widget:after {
  clear: both;
}
.widgettitle {
  border-top: solid 1px 0;
  border-left: solid 1px 0;
  border-right: solid 1px 0;
  border-bottom: solid 1px #000000;
}
.widget_categories .widget-inner > ul > li > a:hover,
.widget_categories .widget-inner > ul > li > a:focus,
.widget_categories .widget-inner > ul > li > a:active {
  font-weight: 700;
}
.widget_categories .widget-inner ul li.current-cat > a,
.widget_categories .widget-inner ul li.current-cat-parent > a,
.widget_categories .widget-inner ul li.current-cat .current-cat a,
.widget_categories .widget-inner ul li.current-cat-parent .current-cat a {
  font-weight: 700;
}
.widget_pages .widget-inner > ul > li > a:hover,
.widget_pages .widget-inner > ul > li > a:focus,
.widget_pages .widget-inner > ul > li > a:active {
  font-weight: 700;
}
.widget_pages .widget-inner ul li.current_page_ancestor > a,
.widget_pages .widget-inner ul li.current_page_parent > a,
.widget_pages .widget-inner ul li.current_page_ancestor .current_page_item a,
.widget_pages .widget-inner ul li.current_page_parent .current_page_item a {
  font-weight: 700;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
#header,
#footer,
#main-menu {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
}
#content {
  display: inline;
  float: left;
  width: 72.91666667%;
  margin: 0 1.04166667%;
}
#sidebar {
  display: inline;
  float: left;
  width: 22.91666667%;
  margin: 0 1.04166667%;
}
@media (max-width: 1024px) {
  body {
    -webkit-text-size-adjust: none;
  }
}
