@charset "UTF-8";
/**
 * @section Colors
 * @page index
 *
 * @example
 * <div class="colors">
 * 	<div class="color color--main"><span>#f5745a</span></div>
 * 	<div class="color color--light"><span>#fff</span></div>
 * 	<div class="color color--dark"><span>#000</span></div>
 * 	<div class="color color--darkgray"><span>#333</span></div>
 * 	<div class="color color--mediumgray"><span>#999</span></div>
 * 	<div class="color color--lightgray"><span>#ddd</span></div>
 * </div>
 */
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url(../../assets/fonts/roboto-v15-latin/roboto-v15-latin-regular.woff2) format("woff2"), url(../../assets/fonts/roboto-v15-latin/roboto-v15-latin-regular.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url(../../assets/fonts/roboto-v15-latin/roboto-v15-latin-500.woff2) format("woff2"), url(../../assets/fonts/roboto-v15-latin/roboto-v15-latin-500.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url(../../assets/fonts/roboto-v15-latin/roboto-v15-latin-700.woff2) format("woff2"), url(../../assets/fonts/roboto-v15-latin/roboto-v15-latin-700.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Circular";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url(../../assets/fonts/Circular/CircularStdBook.woff2) format("woff2"), url(../../assets/fonts/Circular/CircularStdBook.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Circular";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url(../../assets/fonts/Circular/CircularStdMedium.woff2) format("woff2"), url(../../assets/fonts/Circular/CircularStdMedium.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Circular";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url(../../assets/fonts/Circular/CircularStdBold.woff2) format("woff2"), url(../../assets/fonts/Circular/CircularStdBold.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Circular";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url(../../assets/fonts/Circular/CircularStdBlack.woff2) format("woff2"), url(../../assets/fonts/Circular/CircularStdBlack.woff) format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.cssloading__overlay {
  z-index: -2;
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

/**
 * @section Icons
 * @page index
 *
 * @example
 * <ul class="icons">
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
 *		</svg>
 *		<span class="icon--name">icon-close</span>
 *	</li>
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-down"></use>
 *		</svg>
 *		<span class="icon--name">icon-down</span>
 *	</li>
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
 *		</svg>
 *		<span class="icon--name">icon-facebook</span>
 *	</li>
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-google"></use>
 *		</svg>
 *		<span class="icon--name">icon-google</span>
 *	</li>
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
 *		</svg>
 *		<span class="icon--name">icon-instagram</span>
 *	</li>
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use>
 *		</svg>
 *		<span class="icon--name">icon-linkedin</span>
 *	</li>
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo-beapi"></use>
 *		</svg>
 *		<span class="icon--name">icon-logo-beapi</span>
 *	</li>
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use>
 *		</svg>
 *		<span class="icon--name">icon-menu</span>
 *	</li>
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
 *		</svg>
 *		<span class="icon--name">icon-search</span>
 *	</li>
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
 *		</svg>
 *		<span class="icon--name">icon-twitter</span>
 *	</li>
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-viadeo"></use>
 *		</svg>
 *		<span class="icon--name">icon-viadeo</span>
 *	</li>
 * 	<li>
 *		<svg class="icon" aria-hidden="true" role="img">
 *			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-youtube"></use>
 *		</svg>
 *		<span class="icon--name">icon-youtube</span>
 *	</li>
 * </ul>
 */
.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 20px;
  width: 20px;
}

.no-svg .visuallyhidden {
  position: static;
  height: auto;
  width: auto;
}

/**
 * @section Typography
 * @page index
 *
 * @example
 * <div class="row">
 * <div class="col-6">
 * <h1 class="font--title">Circular</h1>
 * <h1>Level 1 Heading</h1>
 * <h2>Level 2 Heading</h2>
 * <h3>Level 3 Heading</h3>
 * <h4>Level 4 Heading</h4>
 * <h5>Level 5 Heading</h5>
 * <h6>Level 6 Heading</h6>
 * </div>
 * <div class="col-6">
 * <h1 class="font--title">Roboto</h1>
 * <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla.</p>
 * <p class="font--italic">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla.</p>
 * <p class="font--bold">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur quam augue, vehicula quis, tincidunt vel, varius vitae, nulla.</p>
 * </div>
 * </div>
 */
body {
  font-size: 16px;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fonts-loading body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #F1E25B;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #F1E25B;
}

/* Headings
----------------------------------------------------------------------------------------------------*/
h1 {
  line-height: 1.2;
  font-size: 25px;
  font-family: Circular, sans-serif;
}

.fonts-loading h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  line-height: 1.2;
  font-size: 23px;
  font-family: Circular, sans-serif;
}

.fonts-loading h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  line-height: 1.2;
  font-size: 21px;
  font-family: Circular, sans-serif;
}

.fonts-loading h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  line-height: 1.2;
  font-size: 19px;
  font-family: Circular, sans-serif;
}

.fonts-loading h4 {
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  line-height: 1.2;
  font-size: 17px;
  font-family: Circular, sans-serif;
}

.fonts-loading h5 {
  font-family: Arial, Helvetica, sans-serif;
}

h6 {
  line-height: 1.2;
  font-size: 15px;
  font-family: Circular, sans-serif;
}

.fonts-loading h6 {
  font-family: Arial, Helvetica, sans-serif;
}

/* Lists
----------------------------------------------------------------------------------------------------*/
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

/* Spacing
----------------------------------------------------------------------------------------------------*/
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin: 0 0 20px 0;
}

/* Wysiwyg style
----------------------------------------------------------------------------------------------------*/
hr {
  clear: both;
  border: 0;
  height: 1px;
  background: #ddd;
}

blockquote {
  border-left: 5px solid #ddd;
  padding: 20px;
  margin: 0 0 20px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

blockquote p:last-child {
  margin: 0;
}

cite {
  font-style: italic;
}

small {
  font-size: 11px;
}

table {
  margin: 20px 0;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-left: 0;
  border-radius: 3px;
}

table th {
  padding: 10px;
  border-left: 1px solid #ddd;
  border-top: 0;
  vertical-align: top;
  text-align: left;
}

table td {
  padding: 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
  text-align: left;
}

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}

abbr {
  text-decoration: underline;
}

abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #ddd;
}

big {
  font-size: larger;
}

code {
  display: inline-block;
  padding: 2px 5px;
  background-color: #ddd;
  border: 1px solid #000;
  font-family: monospace;
  font-size: 16px;
  border-radius: 3px;
}

s,
strike,
del {
  text-decoration: line-through;
}

em,
var {
  font-style: italic;
}

ins {
  background-color: #ddd;
  text-decoration: none;
}

tt,
kbd,
samp {
  font-family: monospace;
}

pre {
  display: block;
  padding: 10px;
  margin: 0 0 20px;
  overflow-wrap: break-all;
  word-wrap: break-all;
  word-break: break-all;
  white-space: pre-wrap;
  background-color: #ddd;
  border: 1px solid #000;
  border-radius: 3px;
}

q {
  display: inline;
  font-style: italic;
}

sub,
sup {
  bottom: -0.25em;
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

/* Images
-------------------------------------------------------------- */
.alignleft {
  float: left;
  margin-right: 20px;
}

.alignright {
  float: right;
  margin-left: 20px;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft,
.alignright,
.aligncenter {
  margin-bottom: 20px;
}

.wp-caption {
  margin-bottom: 20px;
  padding: 5px 0;
  text-align: center;
  max-width: 100% !important;
}

.wp-caption img,
.wp-smiley {
  margin: 0;
}

.wp-caption-text {
  font-size: 11px;
  margin: 5px 5px 0;
}

.gallery {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 20px;
}

.gallery:after {
  content: " ";
  display: block;
  clear: both;
}

.gallery-item {
  width: 48.93617%;
  float: left;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.gallery-item:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.gallery-item:nth-child(2n + 2) {
  margin-left: 51.06383%;
  margin-right: -100%;
  clear: none;
}

.gallery-item a {
  display: block;
}

.gallery-item a img {
  display: block;
}

.gallery-columns-3 .gallery-item {
  width: 31.91489%;
  float: left;
}

.gallery-columns-3 .gallery-item:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.gallery-columns-3 .gallery-item:nth-child(3n + 2) {
  margin-left: 34.04255%;
  margin-right: -100%;
  clear: none;
}

.gallery-columns-3 .gallery-item:nth-child(3n + 3) {
  margin-left: 68.08511%;
  margin-right: -100%;
  clear: none;
}

.gallery-columns-4 .gallery-item {
  width: 23.40426%;
  float: left;
}

.gallery-columns-4 .gallery-item:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.gallery-columns-4 .gallery-item:nth-child(4n + 2) {
  margin-left: 25.53191%;
  margin-right: -100%;
  clear: none;
}

.gallery-columns-4 .gallery-item:nth-child(4n + 3) {
  margin-left: 51.06383%;
  margin-right: -100%;
  clear: none;
}

.gallery-columns-4 .gallery-item:nth-child(4n + 4) {
  margin-left: 76.59574%;
  margin-right: -100%;
  clear: none;
}

.gallery-caption {
  font-size: 11px;
  margin: 10px 0 0;
  text-align: left;
}

.gallery br + br {
  display: none;
}

/* Global form css elements
-------------------------------------------------------------- */
/**
 * Form
 *
 * `.radio--custom` class can be applied to `<input type="radio">` element.  
 * `.checbox--custom` class can be applied to `<input type="checkbox">` element.  
 * `.select--custom` class can be applied to `<select>` element.  
 *
 * @section Form
 * @page components
 *
 * @example
 * <form action="#">
 *		<div class="radio--custom">
 *			<input id="radio-1" name="radio" type="radio" checked>
 *			<label for="radio-1">Radio item Lorem ipsum dolor sit amet.</label>
 *		</div>
 *		<div class="radio--custom">
 *			<input id="radio-2" name="radio" type="radio">
 *			<label for="radio-2">Radio item</label>
 *		</div>
 *		<div class="checkbox--custom">
 *			<input id="checkbox-1" name="checkbox1" type="checkbox" checked>
 *			<label for="checkbox-1">Checkbox item Lorem ipsum dolor sit amet.</label>
 *		</div>
 *		<div class="checkbox--custom">
 *			<input id="checkbox-2" name="checkbox2" type="checkbox">
 *			<label for="checkbox-2">Checkbox item</label>
 *		</div>
 *		<div class="select--custom">
 *			<select>
 *				<option>M.</option>
 *				<option>Mme</option>
 *			</select>
 *		</div>
 * </form>
 */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #333;
  background: #f2f2f2;
  border-radius: 0;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type="color"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b3b3b3;
}

input[type="color"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b3b3b3;
}

input[type="color"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input:not([type]):-moz-placeholder, textarea:-moz-placeholder,
textarea:-moz-placeholder {
  color: #b3b3b3;
}

input[type="color"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b3b3b3;
}

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
textarea:hover {
  background: #ededed;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
textarea:focus {
  background: #ececec;
}

/* Label
-------------------------------------------------------------- */
label {
  display: inline-block;
  font-weight: 700;
}

/* Checkbox + Radio
-------------------------------------------------------------- */
.checkbox--custom {
  margin-bottom: 20px;
}

.checkbox--custom input[type="checkbox"],
.checkbox--custom input[type="radio"] {
  position: absolute;
  left: -999em;
  top: -999em;
  opacity: 0;
}

.checkbox--custom input[type="checkbox"] + label,
.checkbox--custom input[type="radio"] + label {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}

.checkbox--custom input[type="checkbox"] + label:before,
.checkbox--custom input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin: 0;
  border: 2px solid #F1E25B;
  cursor: pointer;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.checkbox--custom input[type="checkbox"]:checked + label:before,
.checkbox--custom input[type="radio"]:checked + label:before {
  background-color: #F1E25B;
}

.radio--custom {
  margin-bottom: 20px;
}

.radio--custom input[type="checkbox"],
.radio--custom input[type="radio"] {
  position: absolute;
  left: -999em;
  top: -999em;
  opacity: 0;
}

.radio--custom input[type="checkbox"] + label,
.radio--custom input[type="radio"] + label {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}

.radio--custom input[type="checkbox"] + label:before,
.radio--custom input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin: 0;
  border: 2px solid #F1E25B;
  cursor: pointer;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.radio--custom input[type="checkbox"]:checked + label:before,
.radio--custom input[type="radio"]:checked + label:before {
  background-color: #F1E25B;
}

.radio--custom input[type="radio"] + label:before {
  border-radius: 50%;
}

/* Textarea
-------------------------------------------------------------- */
textarea {
  resize: vertical;
}

/* Form layout
-------------------------------------------------------------- */
.form__row {
  position: relative;
  margin: 0 0 20px;
}

.form__row::after {
  clear: both;
  content: "";
  display: table;
}

.form__row:last-child {
  margin-bottom: 0;
}

/* Custom select
-------------------------------------------------------------- */
.select--custom {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("../../assets/img/icons/down.svg") no-repeat 98% 50%;
  background-size: 11px 6px;
}

.select--custom select {
  width: 100%;
  line-height: 1.1;
  padding: 10px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select--custom select option {
  border: 0;
  color: #000;
  background-color: #fff;
}

_:-ms-input-placeholder, :root .select--custom select {
  width: 120%;
}

.lte-ie9 .select--custom select {
  width: 120%;
}

.lte-ie9 .select--custom select option {
  background-color: transparent;
}

/* Global buttons css
-------------------------------------------------------------- */
/**
 * Buttons
 *
 * The Button `.btn` class can be applied to `<button>`, `<input>`, or `<a>` elements.
 *
 * @section Buttons
 * @page components
 *
 * @example
 * <button class="button">Buton</button>
 * <input type="submit" class="btn" value="Input"/>
 * <a href="#" class="btn">Anchor</a>
 */
button, input[type="button"], input[type="reset"], input[type="submit"],
.button {
  display: inline-block;
  border: 0;
  border-radius: 0;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: #F1E25B;
  -webkit-transition: background .25s ease-in-out, -webkit-transform .25s ease-in-out;
  transition: background .25s ease-in-out, -webkit-transform .25s ease-in-out;
  transition: background .25s ease-in-out, transform .25s ease-in-out;
  transition: background .25s ease-in-out, transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

button svg, input[type="button"] svg, input[type="reset"] svg, input[type="submit"] svg,
.button svg {
  pointer-events: none;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,
.button:hover {
  color: #fff;
  background: #efde44;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus,
.button:focus {
  color: #fff;
  background: #efde44;
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}

button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active,
.button:active {
  color: #fff;
  background: #F1E25B;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

button__icon, input[type="button"]__icon, input[type="reset"]__icon, input[type="submit"]__icon,
.button__icon {
  width: 25px;
  padding-right: 10px;
  vertical-align: -20%;
}

button--circle, input[type="button"]--circle, input[type="reset"]--circle, input[type="submit"]--circle,
.button--circle {
  border-radius: 50%;
  line-height: 1;
}

button--circle button, button--circle input[type="button"], button--circle input[type="reset"], button--circle input[type="submit"], button--circle .button__icon, input[type="button"]--circle button, input[type="button"]--circle input[type="button"], input[type="button"]--circle input[type="reset"], input[type="button"]--circle input[type="submit"], input[type="button"]--circle .button__icon, input[type="reset"]--circle button, input[type="reset"]--circle input[type="button"], input[type="reset"]--circle input[type="reset"], input[type="reset"]--circle input[type="submit"], input[type="reset"]--circle .button__icon, input[type="submit"]--circle button, input[type="submit"]--circle input[type="button"], input[type="submit"]--circle input[type="reset"], input[type="submit"]--circle input[type="submit"], input[type="submit"]--circle .button__icon,
.button--circle button,
.button--circle input[type="button"],
.button--circle input[type="reset"],
.button--circle input[type="submit"],
.button--circle .button__icon {
  padding-right: 0;
}

button.button--rounded, input[type="button"].button--rounded, input[type="reset"].button--rounded, input[type="submit"].button--rounded,
.button.button--rounded {
  border-radius: 5px;
  overflow: hidden;
}

button.button--bordered, input[type="button"].button--bordered, input[type="reset"].button--bordered, input[type="submit"].button--bordered,
.button.button--bordered {
  border: 1px solid #F1E25B;
  background: none;
  color: #F1E25B;
}

button.button--revert, input[type="button"].button--revert, input[type="reset"].button--revert, input[type="submit"].button--revert,
.button.button--revert {
  background: #fff;
  color: #F1E25B;
}

/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */
/**
 * Messages
 *
 * Add `.error` | `.alert` | `.notice` | `.success` | `.info` class to `<p>` element.  
 * `<p>` element must be have `.message` class.
 *
 * @section Messages
 * @page components
 *
 * @example
 * <p class="message message--error">Error message.</p>
 * <p class="message message--alert">Alert message.</p>
 * <p class="message message--notice">Notice message.</p>
 * <p class="message message--success">Success message.</p>
 * <p class="message message--info">Info message.</p>
 */
.message {
  border-left: 5px solid #F1E25B;
  color: #F1E25B;
  padding: 20px;
  margin: 0 0 20px;
}

.message p:last-child {
  margin: 0;
}

.message--error, .message--alert {
  color: #8a1f11;
  background: #fbe3e4;
  border-color: #8a1f11;
}

.message--error a, .message--alert a {
  color: #8a1f11;
}

.message--notice {
  color: #514721;
  background: #fff6bf;
  border-color: #514721;
}

.message--notice a {
  color: #514721;
}

.message--success {
  color: #264409;
  background: #e6efc2;
  border-color: #264409;
}

.message--success a {
  color: #264409;
}

.message--info {
  color: #205791;
  background: #d5edf8;
  border-color: #205791;
}

.message--info a {
  color: #205791;
}

[data-seo]:hover, [data-seo]:active, [data-seo]:focus {
  cursor: pointer;
}

.lazyload,
.lazyloading {
  opacity: 0;
  background: #F1E25B;
}

.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

[data-bgset] {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
}

[data-bgset]:before {
  content: "";
  display: block;
  speak: none;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #F1E25B;
  -webkit-transition: opacity .5s, z-index .5s ease .5s;
  transition: opacity .5s, z-index .5s ease .5s;
}

[data-bgset]:after {
  content: "";
  display: block;
  speak: none;
  z-index: 3;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 5px solid #fff;
  border-top-color: transparent;
  opacity: 1;
  -webkit-transition: opacity .5s, z-index .5s ease .5s;
  transition: opacity .5s, z-index .5s ease .5s;
  -webkit-animation: loading .5s linear infinite;
          animation: loading .5s linear infinite;
}

[data-bgset].lazyload {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

[data-bgset].lazyloaded:after, [data-bgset].lazyloaded:before {
  opacity: 0;
  z-index: -1;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Utility/Misc Classes
----------------------------------------------------------------------------------------------------*/
.assistive-text {
  display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.animate {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.fadeinRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

.fadeinUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes (fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes (fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes (fadeInUp) {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes (fadeInUp) {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes (fadeInRight) {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes (fadeInRight) {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

/* Main Layout
----------------------------------------------------------------------------------------------------*/
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

@media screen and (min-width: 64em) {
  .container {
    padding: 0;
  }
}

@media screen and (min-width: 64em) {
  .content {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%;
  }
}

@media screen and (min-width: 64em) {
  .sidebar {
    width: 23.40426%;
    float: right;
    margin-right: 0;
  }
}

/* Header css
 ----------------------------------------------------------------------------------------------------*/
/**
 * Header
 *
 * Header template
 *
 * @section Header
 * @page patterns
 *
 * @example
 *	<header id="header" class="header" role="banner">
 *		<div class="container">
 *			<div class="header__logo">
 *				<a href="01-home.php" class="header__logo-link">
 *					<svg class="header__icon icon" aria-hidden="true" role="img">
 *						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo-beapi"></use>
 *					</svg>
 *				</a>
 *			</div>
 *			<h1 class="header__title visuallyhidden"><a href="01-home.php">BeAPI FrontEnd Framework</a></h1>
 *		</div>
 *	</header>
 */
.header {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header::after {
  clear: both;
  content: "";
  display: table;
}

.header__logo-link {
  display: block;
}

.header__icon {
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 auto 10px;
  color: #F1E25B;
}

.header__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px;
}

/* Footer css
 ----------------------------------------------------------------------------------------------------*/
/**
 * Footer
 *
 * Footer template
 *
 * @section Footer
 * @page patterns
 *
 * @example
 *	<footer class="footer" id="footer" role="contentinfo">
 *		<div class="container">
 *			<p>Copyright</p>
 *		</div>
 *	</footer>
 */
.footer {
  padding-bottom: 20px;
  text-align: center;
}

.footer::after {
  clear: both;
  content: "";
  display: table;
}

/* Menus
----------------------------------------------------------------------------------------------------*/
/**
 * Menu
 *
 * Menu template.
 *
 * @section Menu
 * @page patterns
 *
 * @example
 * <nav id="menu" class="menu menu__mobile" role="navigation" tabindex="-1" aria-label="Navigation Principal">
 *	 <div class="container">
 *	   	<ul class="menu__list sf-menu">
 *			  <li class="menu__item menu__item--current"><a href="01-home.php">Home</a></li>
 *		  	<li class="menu__item">
 *				  <a href="02-page-default.php">Page default</a>
 *				  <ul class="menu__list menu__list--sub">
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *				  </ul>
 *			  </li>
 *			  <li class="menu__item"><a href="03-archive-default.php">Archive default</a></li>
 *			  <li class="menu__item"><a href="04-page-404.php">Page 404</a></li>
 *			</ul>
 *		</div>
 *	</nav>
 */
.menu-fastaccess {
  margin: 0;
  font-size: 9px;
  display: none;
}

.menu-fastaccess__item {
  display: inline;
}

.menu-fastaccess__item a {
  position: absolute;
  z-index: 1;
  color: transparent;
}

.menu-fastaccess__item a:hover, .menu-fastaccess__item a:active, .menu-fastaccess__item a:focus {
  text-decoration: none;
  z-index: 2;
  padding: 10px;
  color: #fff;
  background-color: #F1E25B;
}

@media screen and (min-width: 64em) {
  .menu-fastaccess {
    display: block;
  }
}

.button__menu-open {
  display: block;
}

.menu-mobile--active .button__menu-open {
  display: none;
}

.button__menu-close {
  display: none;
}

.menu-mobile--active .button__menu-close {
  display: block;
}

.button__menu-container {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 64em) {
  .button__menu-container {
    display: none;
  }
}

.menu-mobile--active {
  overflow: hidden;
}

@media screen and (max-width: 64em) {
  .menu-mobile--active .menu {
    left: 0;
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  }
}

.menu {
  z-index: 998;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 80%;
  padding: 40px 0;
  background: #ddd;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

.menu::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (min-width: 64em) {
  .menu {
    position: static;
    left: auto;
    overflow: inherit;
    background: none;
    width: auto;
    padding: 0;
  }
}

.menu .wrapper {
  padding: 0;
}

.menu__list::after {
  clear: both;
  content: "";
  display: table;
}

.menu__list--sub {
  display: none;
}

@media screen and (min-width: 64em) {
  .menu__list--sub {
    top: 100%;
    position: absolute;
    background: #fff;
  }
  .menu__list--sub .menu__item a:hover, .menu__list--sub .menu__item a:active, .menu__list--sub .menu__item a:focus {
    color: #fff;
    background: #F1E25B;
  }
}

.menu__list > .menu__item:hover ul, .menu__list > .menu__item:active ul, .menu__list > .menu__item:focus ul {
  display: block;
}

.menu__list > .menu__item.sfHover > a, .menu__list > .menu__item.current-menu-item > a, .menu__list > .menu__item.current-menu-parent > a {
  color: #fff;
  background: #F1E25B;
}

@media screen and (min-width: 64em) {
  .menu__list > .menu__item {
    display: inline-block;
    position: relative;
  }
  .menu__list > .menu__item:hover .menu__list, .menu__list > .menu__item:active .menu__list, .menu__list > .menu__item:focus .menu__list {
    top: 40px;
  }
  .menu__list > .menu__item.sfHover ul {
    top: 40px;
  }
}

.menu__item > a {
  display: block;
  padding: 10px;
}

.menu__item > a:hover, .menu__item > a:active, .menu__item > a:focus {
  color: #fff;
  background: #F1E25B;
}

.menu__item:hover .menu__list, .menu__item:active .menu__list, .menu__item:focus .menu__list {
  display: block;
}

/* Entry
----------------------------------------------------------------------------------------------------*/
/**
 * Entries
 *
 * Resume blog post.
 *
 * Card entry is optimized for SEO.
 * The post will be open in a new window due to the data-seo attribute.
 *
 * @section Entries
 * @page patterns
 *
 * @example
 *	<!-- ENTRY SUMMARY -->
 *	<article class="entry__item">
 *		<div class="entry__media">
 *			<!-- Local dev only -->
 *			<img src="http://placehold.it/150x150" width="150" height="150" alt="#">
 *			<!-- end Local dev only -->
 *			<!-- Web dev -->
 *			<!-- <?php echo get_the_post_thumbnail( 0, 'thumbnail', array( 'data-location' => 'entry-img-01', 'class' => 'entry__img', 'alt' => '#' ) ); ?> -->
 *			<!-- end Web dev -->
 *		</div>
 *		<div class="entry__summary">
 *			<h2 class="entry__title">
 *				<a href="#">There is a post + a 20 words lorem ipsum excerpt</a>
 *			</h2>
 *			<div class="entry__date">
 *				Publie le <time datetime="2015-06-30">06/30/2015</time>
 *			</div>
 *			<div class="entry__excerpt">
 *				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac fringilla nunc. In hac habitasse platea dictumst. Pellentesque habitant morbi.</p>
 *			</div>
 *			<div class="entry__more">
 *				<button data-href="#" class="entry__more-button">Readmore</a>
 *			</div>
 *		</div>
 *	</article>
 *	<!-- ENTRY SEO -->
 *	<article class="entry__card" data-seo>
 *		<div class="entry__media">
 *			<!-- Local dev only -->
 *			<img src="http://placehold.it/150x150" width="150" height="150" alt="#">
 *			<!-- end Local dev only -->
 *			<!-- Web dev -->
 *			<!-- <?php echo get_the_post_thumbnail( 0, 'thumbnail', array( 'data-location' => 'entry-img-01', 'class' => 'entry__img', 'alt' => '#' ) ); ?> -->
 *			<!-- end Web dev -->
 *		</div>
 *		<div class="entry__summary">
 *			<h2 class="entry__title">
 *				<a href="02-page-default.php">There is a post + a 20 words lorem ipsum excerpt</a>
 *			</h2>
 *			<div class="entry__date">
 *				Publie le <time datetime="2015-06-30">06/30/2015</time>
 *			</div>
 *			<div class="entry__excerpt">
 *				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac fringilla nunc. In hac habitasse platea dictumst. Pellentesque habitant morbi.</p>
 *			</div>
 *			<div class="entry__more">
 *				<span class="button">Readmore</span>
 *			</div>
 *		</div>
 *	</article>
 */
.entry::after {
  clear: both;
  content: "";
  display: table;
}

.entry__title {
  font-weight: 900;
  text-transform: uppercase;
}

.entry__title > a {
  text-decoration: none;
}

.entry__title > a:hover, .entry__title > a:active, .entry__title > a:focus {
  text-decoration: underline;
}

.entry__item, .entry__card {
  margin-bottom: 20px;
}

.entry__item::after, .entry__card::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (min-width: 48em) {
  .entry__item, .entry__card {
    margin-bottom: 40px;
  }
}

.entry__item .entry__img, .entry__card .entry__img {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 48em) {
  .entry__item .entry__media, .entry__card .entry__media {
    float: left;
    margin-right: 20px;
  }
  .entry__item .entry__media ~ .entry__summary, .entry__card .entry__media ~ .entry__summary {
    margin-left: 320px;
  }
}

.entry__card {
  padding: 20px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.entry__content::after {
  clear: both;
  content: "";
  display: table;
}

.entry__content a {
  text-decoration: underline;
}

.entry__content a:hover, .entry__content a:active, .entry__content a:focus {
  text-decoration: none;
}

.entry__content ul {
  list-style: disc inside none;
  margin: 0 0 20px;
}

.entry__content ul li {
  margin: 0 0 10px;
}

.entry__content ol {
  list-style: decimal inside none;
  margin: 0 0 20px;
}

.entry__content ol li {
  margin: 0 0 10px;
}

.entry__content img {
  display: block;
  max-width: 100%;
  height: auto;
}

.entry__content .alignright,
.entry__content .alignleft {
  max-width: 50%;
}

@media screen and (min-width: 48em) {
  .entry__content .alignright,
  .entry__content .alignleft {
    max-width: 100%;
  }
}

.entry__content .gform_wrapper ul {
  list-style: none;
}

.entry__content .searchform input {
  display: inline;
}

.entry__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Searchform
----------------------------------------------------------------------------------------------------*/
/**
 * Searchform
 *
 * Searchform template.
 *
 * @section Searchform
 * @page patterns
 *
 * @example
 *	<div class="searchform" id="searchform" tabindex="-1">
 *		<form method="get" action="#">
 *			<div class="form__row">
 *				<input type="search" class="searchform__field" name="s" id="search" placeholder="Recherchez" aria-required="true" required="required">
 *				<button type="submit" class="searchform__submit" name="submit" id="searchsubmit">
 *					<span class="visuallyhidden">Lancer la recherche</span>
 *					<svg class="icon icon-search" aria-hidden="true" role="img"> *
 *						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
 *					</svg>
 *				</button>
 *			</div>
 *		</form>
 *	</div>
 */
.searchform {
  position: relative;
}

.searchform__field[type=search] {
  padding-right: 30px;
}

.searchform__submit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.searchform__submit .icon {
  vertical-align: -15%;
}

/* Page default css
-------------------------------------------------------------- */
/* Page 404 css
-------------------------------------------------------------- */
/* Page Home css
-------------------------------------------------------------- */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-decoration: none;
  }
  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: none;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 0;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  .inline-element-with-padding {
    padding: 0;
  }
  /* remove useless content */
  .header,
  .footer,
  .widget-area,
  .breadcrumb,
  .wp-pagenavi {
    display: none !important;
  }
  /* reset width */
  .content {
    padding: 10px 0 !important;
    margin: 10px 0 !important;
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
