@import "bourbon";
@import "neat";
@import "../bower_components/normalize-scss/_normalize.scss";

$blue: #3bbfce;
$margin: 16px;

.content-navigation {
	@include linear-gradient(to top, red, orange);
	border-color: $blue;
	color: darken($blue, 9%);
}

.border {
	padding: $margin / 2;
	margin: $margin / 2;
	border-color: $blue;
}
.wrapper {
	@include row();
}
#main-content {
	@include outer-container;
}
#content,
#sidebar {
	@include media(min-width 600px, 12) {
		@include span-columns(6);
		background: $blue;
	}
}
#header,
#footer,
#menu {
	@include media(min-width 600px, 12) {
		@include span-columns(12);
		background: red;
	}
}