* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu li {
  position: relative; }

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.sf-menu > li {
  float: left; }

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
  display: block; }

.sf-menu a {
  display: block;
  position: relative; }

.sf-menu ul ul {
  top: 0;
  left: 100%; }

/* Library
 ----------------------------------------------------------------------------------------------------*/
.animate {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn; }

.fadeinRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  animation-name: fadeInRight; }

.fadeinUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0); }

  to {
    opacity: 1;
    -webkit-transform: none; } }

@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 100%, 0); }

  to {
    opacity: 1;
    -moz-transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0); }

  to {
    opacity: 1;
    -webkit-transform: none; } }

@-moz-keyframes fadeInRight {
  from {
    opacity: 0;
    -moz-transform: translate3d(100%, 0, 0); }

  to {
    opacity: 1;
    -moz-transform: none; } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }

@media print {
  /* Black prints faster: h5bp.com/s */
  /* Don't show links for images, or javascript/internal links */
  /* h5bp.com/t */
  @page {
    margin: 0.5cm; }

  /* remove useless content */
  /* reset width */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-decoration: none; }
  a, a:visited {
    text-decoration: none; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 0;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; }
  .inline-element-with-padding {
    padding: 0; }
  .header, .footer, .widget-area, .breadcrumb, .wp-pagenavi {
    display: none !important; }
  .content {
    padding: 10px 0 !important;
    margin: 10px 0 !important;
    width: 100% !important; } }

/* Basic HTML
----------------------------------------------------------------------------------------------------*/
hr {
  clear: both;
  border: 0;
  height: 1px;
  background: #e0e2e2; }

/* Headings
----------------------------------------------------------------------------------------------------*/
h1 {
  font-size: 25px;
  font-size: 2.5rem; }

h2 {
  font-size: 23px;
  font-size: 2.3rem; }

h3 {
  font-size: 21px;
  font-size: 2.1rem; }

h4 {
  font-size: 19px;
  font-size: 1.9rem; }

h5 {
  font-size: 17px;
  font-size: 1.7rem; }

h6 {
  font-size: 15px;
  font-size: 1.5rem; }

/* Spacing
----------------------------------------------------------------------------------------------------*/
ol {
  list-style: decimal;
  margin: 0;
  padding: 0; }

ul {
  list-style: disc;
  margin: 0;
  padding: 0; }

li {
  margin: 0; }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {
  margin: 0 0 20px 0;
  margin: 0 0 2rem 0; }

/* Wysiwyg style
----------------------------------------------------------------------------------------------------*/
blockquote {
  border-left: 5px solid #ddd;
  padding: 0 0 0 15px;
  padding: 0 0 0 1.5rem;
  margin: 0 0 20px 0;
  margin: 0 0 2rem 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

cite {
  font-style: italic; }

table {
  margin: 20px 0;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  table th {
    padding: 8px;
    border-left: 1px solid #ddd;
    border-top: 0;
    vertical-align: top;
    text-align: left;
    line-height: 18px; }
  table td {
    padding: 8px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    vertical-align: top;
    text-align: left;
    line-height: 18px; }

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px; }

abbr {
  text-decoration: underline; }

abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #ddd; }

big {
  font-size: larger; }

code {
  padding: 2px 5px;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
  background-color: #ddd;
  border: 1px solid #000;
  font-family: monospace;
  border-radius: 3px; }

s, strike, del {
  text-decoration: line-through; }

em, var {
  font-style: italic; }

ins {
  background-color: #ddd;
  text-decoration: none; }

tt, kbd, samp {
  font-family: monospace; }

pre {
  display: block;
  padding: 10px;
  padding: 1rem;
  margin: 0 0 20px;
  margin: 0 0 2rem;
  word-wrap: break-all;
  white-space: pre-wrap;
  background-color: #ddd;
  border: 1px solid #000;
  border-radius: 4px; }

q {
  display: inline;
  font-style: italic; }

sub, sup {
  bottom: -0.25em;
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

/* =Images
-------------------------------------------------------------- */
.alignleft {
  display: inline;
  float: left;
  margin-right: 20px;
  margin-right: 2rem; }

.alignright {
  display: inline;
  float: right;
  margin-left: 20px;
  margin-left: 2rem; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignleft, .alignright, .aligncenter {
  margin-bottom: 20px;
  margin-bottom: 2rem; }

.wp-caption {
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding: 5px 0;
  padding: 0.5rem 0;
  text-align: center;
  max-width: 100% !important; }

.wp-caption img, .wp-smiley {
  margin: 0; }

.wp-caption-text {
  font: italic 400 11px/12px Arial, Helvetica, sans-serif;
  margin: 5px 5px 0;
  margin: 0.5rem 0.5rem 0; }

.gallery {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 0 20px;
  margin: 0 0 2rem; }
  .gallery:after {
    content: "";
    display: table;
    clear: both; }

.gallery-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  margin-bottom: 2rem; }
  .gallery-item:last-child {
    margin-right: 0; }
  .gallery-item a {
    display: block; }
    .gallery-item a img {
      display: block; }

.gallery-columns-3 .gallery-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .gallery-columns-3 .gallery-item:last-child {
    margin-right: 0; }
  .gallery-columns-3 .gallery-item:nth-child(3n) {
    margin-right: 0; }
  .gallery-columns-3 .gallery-item:nth-child(3n+1) {
    clear: left; }

.gallery-columns-4 .gallery-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .gallery-columns-4 .gallery-item:last-child {
    margin-right: 0; }
  .gallery-columns-4 .gallery-item:nth-child(4n) {
    margin-right: 0; }
  .gallery-columns-4 .gallery-item:nth-child(4n+1) {
    clear: left; }

.gallery-caption {
  font-size: 11px;
  font-size: 1.1rem;
  margin: 10px 0 0;
  margin: 1rem 0 0;
  text-align: left; }

.gallery br + br {
  display: none; }

/* Global form css elements
-------------------------------------------------------------- */
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea {
  border: 0;
  color: #333;
  background: #fff;
  padding: 5px;
  padding: 0.5rem;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  transition: background 0.5s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  input[type="email"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #b3b3b3; }
  input[type="email"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="color"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, textarea::-moz-placeholder {
    color: #b3b3b3; }
  input[type="email"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="color"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="week"]:-moz-placeholder, textarea:-moz-placeholder {
    color: #b3b3b3; }
  input[type="email"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #b3b3b3; }

input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, textarea:hover {
  background: #f2f2f2; }

input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, textarea:focus {
  outline: 0;
  background: #f9f9f9; }

/* Label
-------------------------------------------------------------- */
label {
  font-weight: 700; }

/* Textarea
-------------------------------------------------------------- */
textarea {
  resize: vertical; }

/* Global buttons css
-------------------------------------------------------------- */
input[type="button"], input[type="reset"], input[type="submit"], button, .button {
  display: inline-block;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 5px;
  padding: 0.5rem;
  color: #fff;
  background: #0084B4; }

input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:hover, .button:hover {
  color: #fff;
  background: #00749b; }

input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:focus, .button:focus {
  color: #fff;
  background: #00749b;
  outline: 0; }

input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active, button:active, .button:active {
  color: #fff;
  background: #0084B4;
  outline: 0; }

/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */
.error, .alert, .notice, .success, .info {
  border-left: 5px solid #0084B4;
  color: #0084B4;
  padding: 5px 5px 5px 10px;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 0 10px 20px;
  margin: 0 1rem 2rem; }

.error, .alert {
  color: #8a1f11;
  background: #fbe3e4;
  border-color: #8a1f11; }
  .error a, .alert a {
    color: #8a1f11; }

.notice {
  color: #514721;
  background: #fff6bf;
  border-color: #514721; }
  .notice a {
    color: #514721; }

.success {
  color: #264409;
  background: #e6efc2;
  border-color: #264409; }
  .success a {
    color: #264409; }

.info {
  color: #205791;
  background: #d5edf8;
  border-color: #205791; }
  .info a {
    color: #205791; }

/* Global css
 ----------------------------------------------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1; }

a {
  color: #0084B4; }
  a:hover, a:active, a:focus {
    color: #0084B4; }

small {
  font-size: 11px;
  font-size: 1.1rem; }

ul {
  list-style: none; }

/* Utility/Misc Classes
----------------------------------------------------------------------------------------------------*/
.assistive-text {
  display: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.widget-area img {
  display: block;
  max-width: 100%;
  height: auto; }

/* Plugins overide css
 ----------------------------------------------------------------------------------------------------*/
/* Main Layout
----------------------------------------------------------------------------------------------------*/
.wrapper {
  display: block; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

#main-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #main-content:after {
    content: "";
    display: table;
    clear: both; }

@media screen and (min-width: 600px)  {
  #content, #sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #content:last-child, #sidebar:last-child {
      margin-right: 0; } }

@media screen and (min-width: 600px)  {
  #header, #footer, #menu {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    #header:after, #footer:after, #menu:after {
      content: "";
      display: table;
      clear: both; } }

/* Menus
----------------------------------------------------------------------------------------------------*/
#menu__fastaccess {
  font-size: 9px;
  font-size: 0.9rem;
  display: none; }
  #menu__fastaccess li {
    display: inline; }
    #menu__fastaccess li a {
      position: absolute;
      z-index: 1;
      color: #fff; }
      #menu__fastaccess li a:hover, #menu__fastaccess li a:active, #menu__fastaccess li a:focus {
        z-index: 2;
        color: #0084B4; }
  @media screen and (min-width: 1024px)  {
    #menu__fastaccess {
      display: block; } }

#menu ul {
  margin-bottom: 20px; }
  #menu ul:after {
    content: "";
    display: table;
    clear: both; }
  #menu ul > li > a {
    padding: 0 10px;
    font: 700 12px/24px Arial, Helvetica, sans-serif; }
    #menu ul > li > a:hover, #menu ul > li > a:active, #menu ul > li > a:focus {
      color: #fff;
      background: #0084B4; }
  #menu ul > li:hover ul, #menu ul > li:active ul, #menu ul > li:focus ul {
    top: 24px; }
  #menu ul > li.sfHover ul {
    top: 24px; }
  #menu ul > li.current-menu-item a, #menu ul > li.current-menu-parent a {
    color: #fff;
    background: #0084B4; }
  #menu ul ul {
    background: #fff; }
    #menu ul ul li a {
      padding: 10px; }
      #menu ul ul li a:hover, #menu ul ul li a:active, #menu ul ul li a:focus {
        color: #fff;
        background: #0084B4; }

/* Breadcrumb
----------------------------------------------------------------------------------------------------*/
#breadcrumb {
  list-style: none; }
  #breadcrumb li {
    display: inline;
    margin: 0; }

/* Entry
----------------------------------------------------------------------------------------------------*/
.entry:after {
  content: "";
  display: table;
  clear: both; }

.entry-content:after {
  content: "";
  display: table;
  clear: both; }
.entry-content ul {
  list-style: disc inside none;
  margin: 0 0 20px;
  margin: 0 0 2rem; }
  .entry-content ul li {
    margin: 0 0 5px;
    margin: 0 0 0.5rem; }
.entry-content ol {
  list-style: decimal inside none;
  margin: 0 0 20px;
  margin: 0 0 2rem; }
  .entry-content ol li {
    margin: 0 0 5px;
    margin: 0 0 0.5rem; }
.entry-content img {
  max-width: 100%;
  height: auto; }
.entry-content .gform_wrapper ul {
  list-style: none; }
.entry-content .searchform input {
  display: inline; }

/* Comments
 ----------------------------------------------------------------------------------------------------*/
.commentlist {
  list-style: none; }

.comment .comment {
  min-height: 75px;
  margin: 0 0 20px;
  padding: 0 0 20px;
  position: relative;
  border-bottom: 1px solid #0084B4; }
  .comment .comment:after {
    content: "";
    display: table;
    clear: both; }
.comment.last {
  border: 0; }
.comment .children {
  margin: 20px 0 0 92px; }
  .comment .children .comment {
    min-height: 28px;
    border-bottom: 0;
    margin-bottom: 0; }
    .comment .children .comment .comment {
      border-bottom: 1px solid #0084B4; }
  .comment .children .comment-meta, .comment .children .comment-content {
    padding-left: 62px; }

.comment-meta {
  position: relative;
  padding-left: 92px;
  margin-bottom: 6px; }

.comment-author {
  font-weight: 700; }

.avatar {
  position: absolute;
  left: 5px;
  top: 0; }

.comment-content {
  padding: 0 60px 0 92px; }
  .comment-content p {
    margin-bottom: 6px; }

.reply {
  position: absolute;
  right: 0;
  bottom: 0; }

.comment-reply-link {
  display: inline-block;
  font-size: 11px;
  line-height: 20px;
  height: 20px; }

/* Widgets
 ----------------------------------------------------------------------------------------------------*/
.widget {
  margin: 0 0 20px;
  margin: 0 0 2rem; }
  .widget:after {
    content: "";
    display: table;
    clear: both; }

.widget_categories .current-cat > a, .widget_categories .current-cat .current-cat a, .widget_categories .current-cat-parent > a, .widget_categories .current-cat-parent .current-cat a {
  font-weight: 700; }

.widget_pages .widget-inner > ul > li > a:hover, .widget_pages .widget-inner > ul > li > a:focus, .widget_pages .widget-inner > ul > li > a:active {
  font-weight: 700; }
.widget_pages .widget-inner ul li.current_page_ancestor > a, .widget_pages .widget-inner ul li.current_page_ancestor .current_page_item a, .widget_pages .widget-inner ul li.current_page_parent > a, .widget_pages .widget-inner ul li.current_page_parent .current_page_item a {
  font-weight: 700; }

