/* Global buttons css
-------------------------------------------------------------- */

$buttons-list: 'button',
'input[type="button"]',
'input[type="reset"]',
'input[type="submit"]';

$all-buttons:        assign-inputs($buttons-list);
$all-buttons-active: assign-inputs($buttons-list, active);
$all-buttons-focus:  assign-inputs($buttons-list, focus);
$all-buttons-hover:  assign-inputs($buttons-list, hover);

$all-button-inputs:        $all-buttons;
$all-button-inputs-active: $all-buttons-active;
$all-button-inputs-focus:  $all-buttons-focus;
$all-button-inputs-hover:  $all-buttons-hover;

// Modifier mixins
@mixin button--rounded {
	border-radius: 5px;
	overflow: hidden;
}
@mixin button--bordered {
	border: 1px solid $maincolor;
	background: none;
	color: $maincolor;
}
@mixin button--revert {
	background: $lightcolor;
	color: $maincolor;
}

@mixin button {
	display: inline-block;
	border: 0;
	border-radius: 0;//keep it no radius for ios reset
	padding: $half-base-spacing;
	font-size: $base-font-size;
	color: $lightcolor;
	background: $maincolor;
	transition: background .25s ease-in-out, transform .25s ease-in-out;
	svg {
		pointer-events: none;
	}
	&:hover {
		color: $lightcolor;
		background: darken($maincolor, 5%);
		transform: translateY(-1px);
	}
	&:focus {
		color: $lightcolor;
		background: darken($maincolor, 5%);
		transform: translateY(-1px);
	}
	&:active {
		color: $lightcolor;
		background: $maincolor;
		transform: translateY(1px);
	}
	&--rounded {
		@include button--rounded;
	}
	&--bordered {
		@include button--bordered;
	}
	&--revert {
		@include button--revert;
	}
}

.button {
	$parent: &;
	@include button;
	&__icon {
		width: $base-spacing*1.25;
		padding-right: $half-base-spacing;
		vertical-align: -20%;
	}
	&--circle {
		border-radius: 50%;
		line-height: 1;
		#{$parent}__icon {
			padding-right: 0;
		}
	}
}