/* Global buttons css
-------------------------------------------------------------- */
/**
 * Buttons
 *
 * The Button `.btn` class can be applied to `<button>`, `<input>`, or `<a>` elements.
 *
 * @section Buttons
 * @page components
 *
 * @example
 * <button class="button">Buton</button>
 * <input type="submit" class="btn" value="Input"/>
 * <a href="#" class="btn">Anchor</a>
 */
$buttons-list: 'button',
'input[type="button"]',
'input[type="reset"]',
'input[type="submit"]';

$all-buttons:        assign-inputs($buttons-list);
$all-button-inputs:        $all-buttons;

// Modifier mixins
@mixin button--rounded {
	border-radius: 5px;
	overflow: hidden;
}
@mixin button--bordered {
	border: 1px solid $maincolor;
	background: none;
	color: $maincolor;
}
@mixin button--revert {
	background: $lightcolor;
	color: $maincolor;
}

@mixin button {
	display: inline-block;
	border: 0;
	border-radius: 0;//keep it no radius for ios reset
	padding: $half-base-spacing;
	font-size: $base-font-size;
	color: $lightcolor;
	background: $maincolor;
	transition: background .25s ease-in-out, transform .25s ease-in-out;
	svg {
		pointer-events: none;
	}
	&:hover {
		color: $lightcolor;
		background: darken($maincolor, 5%);
		transform: translateY(-1px);
	}
	&:focus {
		color: $lightcolor;
		background: darken($maincolor, 5%);
		transform: translateY(-1px);
	}
	&:active {
		color: $lightcolor;
		background: $maincolor;
		transform: translateY(1px);
	}
}

#{$all-button-inputs},
.button {
	$parent: &;
	$button: '.button';
	@include button;
	&__icon {
		width: $base-spacing*1.25;
		padding-right: $half-base-spacing;
		vertical-align: -20%;
	}
	&--circle {
		border-radius: 50%;
		line-height: 1;
		#{$parent}__icon {
			padding-right: 0;
		}
	}
	&#{$button}--rounded {
		@include button--rounded;
	}
	&#{$button}--bordered {
		@include button--bordered;
	}
	&#{$button}--revert {
		@include button--revert;
	}
}