/* Global form css elements
-------------------------------------------------------------- */
#{$all-text-inputs},
textarea {
	box-sizing: border-box;
	width: 100%;
	border: 0;
	padding: $half-base-spacing;
	color: $textcolor;
	background: darken($lightcolor, 5%);
	border-radius: 0; //reset border radius for ios
	transition : background 0.5s ease;
	appearance: none;
	@include placeholder {
		color: lighten($textcolor, 50%);
	}
}

#{$all-text-inputs-hover},
textarea:hover { // Target the :hover pseudo-class
	background: darken($lightcolor, 7%);
}

#{$all-text-inputs-focus},
textarea:focus { // Target the :focus pseudo-class
	background: darken($lightcolor, 7.5%);
}

/* Label
-------------------------------------------------------------- */
label {
	display: inline-block;
	font-weight: 700;
}

/* Checkbox + Radio
-------------------------------------------------------------- */
.checkbox--custom {
	@include checkbox--custom($maincolor);
}
.radio--custom {
	@include checkbox--custom($maincolor);
	@include radio--custom();
}

/* Textarea
-------------------------------------------------------------- */
textarea {
	resize:vertical;
}

/* Form layout
-------------------------------------------------------------- */
.form__row {
	@include clearfix;
	position: relative;
	margin: 0 0 $base-spacing;
	&:last-child {
		margin-bottom: 0;
	}
}

/* Custom select
-------------------------------------------------------------- */
.select--custom {
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border: 1px solid darken($lightcolor, 5%);
	overflow: hidden;
	background-color: $lightcolor;
	background: $lightcolor url("#{$images-url}/icons/down.svg") no-repeat 98% 50%;
	background-size: 11px 6px;
	select {
		line-height: 1.1;
		padding: $half-base-spacing;
		border: none;
		box-shadow: none;
		background-color: transparent;
		background-image: none;
		@include appearance(none);
		option {
			border: 0;
			color: $darkcolor;
			background-color: $lightcolor;
		}
	}
}
_:-ms-input-placeholder, :root .select--custom select { //ie10 
	width: 120%;
}
.lte-ie9 .select--custom select { //ie9
	width: 120%;
	option {
		background-color: transparent;
	}
}
