//Icon template in order to automaticaly generate icon-xx scss
@font-face {
	font-family: "bea_icons";
	src: url('#{$fonts-url}/bea_icons.eot');
	src: url('#{$fonts-url}/bea_icons.eot?#iefix') format('eot'),
		url('#{$fonts-url}/bea_icons.woff') format('woff'),
		url('#{$fonts-url}/bea_icons.ttf') format('truetype'),
		url('#{$fonts-url}/bea_icons.svg#bea_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.insert__icon,
[class^="icon"], [class*=" icon"] {
	display: inline-block;
	font-family: "bea_icons";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	//Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before { content: "\E001" }
.icon-menu:before { content: "\E002" }
