/* Images
-------------------------------------------------------------- */
.alignleft {
	display: inline;
	float: left;
	margin-right: $base-spacing;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $base-spacing;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft,
.alignright,
.aligncenter {
	margin-bottom: $base-spacing;
}
.wp-caption {
	margin-bottom: $base-spacing;
	padding: 5px 0;
	text-align: center;
	max-width: 100%!important;
}
.wp-caption img,
.wp-smiley {
	margin: 0;
}
.wp-caption-text {
	font-size: 11px;
	margin: 5px 5px 0;
}
.gallery {
	@include container;
	margin: 0 0 $base-spacing;
}

.gallery-item {
	@include gallery(6 of 12);
	text-align: center;
	position: relative;
	margin-bottom: $base-spacing;
	a {
		display: block;
		img {
			display: block;
		}
	}
}
.gallery-columns-3 {
	.gallery-item {
		@include gallery(4 of 12);
	}
}
.gallery-columns-4 {
	.gallery-item {
		@include gallery(3 of 12);
	}
}
.gallery-caption {
	font-size: 11px;
	margin: $half-base-spacing 0 0;
	text-align: left;
}
.gallery br+br {
	display: none;
}