/**
 * Image
 *
 * 1. Image with a caption text.  
 * Add `.alignleft` | `.alignright` | `.aligncenter` class to `<img>` element for a specific alignment.  
 * 2. Responsive images gallery example (default WordPress markup).
 *
 * @section Images
 * @page components
 *
 * @example
 * <div style="width: 150px;" class="wp-caption alignnone">
 *		<a href="http://placehold.it/500x500" rel="attachment">
 *			<img width="150" height="150" alt="#" src="http://placehold.it/150x150" title="#">
 *		</a>
 *		<p class="wp-caption-text">This is an image with a caption text</p>
 * </div>
 *
 * <!-- GALLERY -->
 * <div class="entry">
 *		<div class="content">
 *			<section class="entry__content">
 * 				<div id="gallery-1" class="gallery galleryid-1 gallery-columns-4 gallery-size-thumbnail">
 *					<dl class="gallery-item">
 *						<dt class="gallery-icon">
 *							<a href="#" title="#"><img width="150" height="150" src="http://placehold.it/150x150" class="attachment-thumbnail" alt="#" title="#"></a>
 *						</dt>
 *						<dd class="wp-caption-text gallery-caption">
 * 							caption text
 *						</dd>
 *					</dl>
 *					<dl class="gallery-item">
 *						<dt class="gallery-icon">
 *							<a href="#" title="#"><img width="150" height="150" src="http://placehold.it/150x150" class="attachment-thumbnail" alt="#" title="#"></a>
 *						</dt>
 *						<dd class="wp-caption-text gallery-caption">
 * 							caption text
 *						</dd>
 *					</dl>
 *					<dl class="gallery-item">
 *						<dt class="gallery-icon">
 *							<a href="#" title="#"><img width="150" height="150" src="http://placehold.it/150x150" class="attachment-thumbnail" alt="#" title="#"></a>
 *						</dt>
 *					</dl>
 *					<dl class="gallery-item">
 *						<dt class="gallery-icon">
 *							<a href="#" title="#"><img width="150" height="150" src="http://placehold.it/150x150" class="attachment-thumbnail" alt="#" title="#"></a>
 *						</dt>
 *						<dd class="wp-caption-text gallery-caption">
 * 							caption text
 *						</dd>
 *					</dl>
 *					<dl class="gallery-item">
 *						<dt class="gallery-icon">
 *							<a href="#" title="#"><img width="150" height="150" src="http://placehold.it/150x150" class="attachment-thumbnail" alt="#" title="#"></a>
 *						</dt>
 *						<dd class="wp-caption-text gallery-caption">
 * 							caption text
 *						</dd>
 *					</dl>
 *					<br style="clear: both;">
 *				</div>
 *			</section>
 *		</div>
 *	</div>
 */
.alignleft {
	@include align;
}
.alignright {
	@include align(right);
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft,
.alignright,
.aligncenter {
	margin-bottom: $base-spacing;
}
.wp-caption {
	margin-bottom: $base-spacing;
	padding: 5px 0;
	text-align: center;
	max-width: 100%!important;
}
.wp-caption img,
.wp-smiley {
	margin: 0;
}
.wp-caption-text {
	font-size: 11px;
	margin: 5px 5px 0;
}
.gallery {
	@include container;
	margin: 0 0 $base-spacing;
}

.gallery-item {
	@include gallery(6 of 12);
	text-align: center;
	position: relative;
	margin-bottom: $base-spacing;
	a {
		display: block;
		img {
			display: block;
		}
	}
}
.gallery-columns-3 {
	.gallery-item {
		@include gallery(4 of 12);
	}
}
.gallery-columns-4 {
	.gallery-item {
		@include gallery(3 of 12);
	}
}
.gallery-caption {
	font-size: 11px;
	margin: $half-base-spacing 0 0;
	text-align: left;
}
.gallery br+br {
	display: none;
}