/* Images
-------------------------------------------------------------- */
.alignleft {
	display: inline;
	float: left;
	@include rem('margin-right', 20px);
}
.alignright {
	display: inline;
	float: right;
	@include rem('margin-left', 20px);
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft,
.alignright,
.aligncenter {
	@include rem('margin-bottom', 20px);
}
.wp-caption {
	@include rem('margin-bottom', 20px);
	@include rem('padding', 5px 0);
	text-align: center;
	max-width: 100%!important;
}
.wp-caption img,
.wp-smiley {
	margin: 0;
}
.wp-caption-text {
	@include rem('font-size', 11px);
	@include rem('margin', 5px 5px 0);
}
.gallery {
	@include outer-container;
	@include rem('margin', 0 0 20px);
}
.gallery-item {
	@include span-columns(6);
	text-align: center;
	position: relative;
	@include rem('margin-bottom', 20px);
	a {
		display: block;
		img {
			display: block;
		}
	}
}
.gallery-columns-3 {
	.gallery-item {
		@include span-columns(4);
		@include omega(3n);
	}
}
.gallery-columns-4 {
	.gallery-item {
		@include span-columns(3);
		@include omega(4n);
	}
}
.gallery-caption {
	@include rem('font-size', 11px);
	@include rem('margin', 10px 0 0);
	text-align: left;
}
.gallery br+br {
	display: none;
}