/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */
.message {
	border-left: 5px solid $maincolor;
	color: $maincolor;
	padding: $base-spacing;
	margin: 0 0 $base-spacing;
	p:last-child {
		margin: 0;
	}
}

.error,
.alert {
	color: $errorcolor-1;
	background: $errorcolor-2;
	border-color: $errorcolor-1;
	a {
		color: $errorcolor-1;
	}
}
.notice {
	color: $noticecolor-1;
	background: $noticecolor-2;
	border-color: $noticecolor-1;
	a {
		color: $noticecolor-1;
	}
}
.success {
	color: $successcolor-1;
	background: $successcolor-2;
	border-color: $successcolor-1;
	a {
		color: $successcolor-1;
	}
}
.info {
	color: $infocolor-1;
	background: $infocolor-2;
	border-color: $infocolor-1;
	a {
		color: $infocolor-1;
	}
}