body {
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $font-sansserif;
	color: $textcolor;
	-webkit-font-smoothing: antialiased;
}
a {
	color: $maincolor;
	@include hover {
		color: $maincolor;
	}
}

/* Headings
----------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	line-height: $heading-line-height;
}

/* Lists
----------------------------------------------------------------------------------------------------*/
ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
}

/* Spacing
----------------------------------------------------------------------------------------------------*/
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
	margin: 0 0 $base-spacing 0;
}
/* Wysiwyg style
----------------------------------------------------------------------------------------------------*/
hr {
	clear: both;
	border: 0;
	height: 1px;
	background: $maingrey;
}
blockquote {
	border-left: 5px solid $maingrey;
	padding: $base-spacing;
	margin: 0 0 $base-spacing 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	p:last-child {
		margin: 0;
	}
}
cite {
	font-style: italic;
}
small {
	font-size: 11px;
}
table {
	margin: $base-spacing 0;
	width: 100%;
	border: $base-border;
	border-collapse: collapse;
	border-left: 0;
	border-radius: $base-border-radius;
	th {
		padding: $half-base-spacing;
		border-left: 1px solid $base-border-color;
		border-top: 0;
		vertical-align: top;
		text-align: left;
	}
	td {
		padding: $half-base-spacing;
		border-top: 1px solid $base-border-color;
		border-left: 1px solid $base-border-color;
		vertical-align: top;
		text-align: left;
	}
}

address {
	display: block;
	margin-bottom: $base-spacing;
	font-style: normal;
	line-height: 20px;
}
abbr {
	text-decoration: underline;
}
abbr[title], abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted $base-border-color;
}
big {
	font-size: larger;
}
code {
	display: inline-block;
	padding: 2px 5px;
	background-color: $maingrey;
	border: 1px solid $darkcolor;
	font-family: monospace;
	font-size: $base-font-size;
	border-radius: $base-border-radius;
}
s,
strike,
del {
	text-decoration: line-through;
}
em,
var {
	font-style: italic;
}
ins {
	background-color: $maingrey;
	text-decoration: none;
}
tt,
kbd,
samp {
	font-family: monospace;
}
pre {
	display: block;
	padding: $half-base-spacing;
	margin: 0 0 $base-spacing;
	@include word-wrap(break-all);
	white-space: pre-wrap;
	background-color: $maingrey;
	border: 1px solid $darkcolor;
	border-radius: $base-border-radius;
}
q {
	display: inline;
	font-style: italic;
}
sub,
sup {
	bottom: -0.25em;
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}

/* Fonts loading
----------------------------------------------------------------------------------------------------*/
.fonts-loaded {
	&>body {
		font-family: $customfont-1;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $customfont-2;
	}
}