/* Library
 ----------------------------------------------------------------------------------------------------*/
//Colors
$maincolor: #0084B4;
$textcolor: #333;

$lightcolor: #fff;
$darkcolor: #000;

$maingrey: #ddd;

$errorcolor-1 : #8a1f11;
$errorcolor-2 : #fbe3e4;

$noticecolor-1 : #514721;
$noticecolor-2 : #fff6bf;

$successcolor-1 : #264409;
$successcolor-2 : #e6efc2;

$infocolor-1 : #205791;
$infocolor-2 : #d5edf8;

//Fonts
$font-sansserif: Arial, Helvetica, sans-serif;
$font-serif: Times, Georgia, serif;

//Breakpoint
$mobile-small: new-breakpoint(max-width 480px);
$mobile-medium: new-breakpoint(min-width 481px);
$tablet-small: new-breakpoint(min-width 601px);
$tablet-medium: new-breakpoint(min-width 768px);
$desktop-small: new-breakpoint(min-width 1024px);
$desktop-medium: new-breakpoint(min-width 1260px);
