/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

/* 
	A special hack is included for IE8 since it does not apply padding 
	correctly on fieldsets
 */
label { font-weight:700; }
fieldset { padding:0; margin: 0; border: 0 none; }
legend { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }

fieldset, #IE8#HACK { padding-top:0em; } 
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields
-------------------------------------------------------------- */

/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
::-webkit-input-placeholder { color:@maincolor; .opacity(0.5); }
::-moz-placeholder { color:@maincolor; .opacity(0.5); } /* firefox 19+ */
:-ms-input-placeholder { color:@maincolor; .opacity(0.5); } /* ie */
input:-moz-placeholder { color:@maincolor; .opacity(0.5); }

input[type=text], input[type=password],
textarea {
	display: block;
	background: @contrastcolorlight;
	border:1px solid @maincolor;
	padding: 5px;
	.rounded(0);
	&:focus {
		border-color:@maincolor;
	}
}

select {
	display: block; height:28px; background-color:@contrastcolorlight; border-width:1px; border-style:solid;
}

input[type=text], input[type=password],
textarea, select {
	margin:0.5em 0;
}

textarea {
	width: 98%; padding:5px; resize:vertical;
}
input[type=submit] {
	cursor: pointer;
	border: 0;
	color: @contrastcolorlight;
	background: @maincolor;
	-webkit-appearance:none;
	.rounded(0);
}
/* 
  This is to be used on forms where a variety of elements are 
  placed side-by-side. Use the p tag to denote a line. 
 */
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

form {clear: both;}

/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, 
.notice,
.success, 
.info {
	padding: 15px 20px; margin-bottom: 1em; font: 400 14px/16px @font-sansserif;
}
.error p,
.alert p, 
.notice p,
.success p, 
.info p {
	margin:0;
}
.error,
.alert {
	color: @errorcolor-1; background: @errorcolor-2;
	a {
		color: @errorcolor-1;
	}
}
.notice {
	color: @noticecolor-1; background: @noticecolor-2;
	a {
		color: @noticecolor-1;
	}
}
.success {
	color: @successcolor-1; background: @successcolor-2;
	a {
		color: @successcolor-1;
	}
}
.info {
	color: @infocolor-1; background: @infocolor-2;
	a {
		color: @infocolor-1;
	}
}