/* =Images
-------------------------------------------------------------- */
.alignleft {
	display: inline;
	float: left;
	margin-right: 20px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft,
.alignright,
.aligncenter {
	margin-bottom: 20px;
}
.wp-caption {
	margin-bottom: 20px;
	padding: 5px 0;
	text-align: center;
	max-width: 100%!important;
}
.wp-caption img {
	margin: 0;
}
.wp-caption-text {
	font: italic 400 11px/12px @font-sansserif;
	margin: 5px 5px 0;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	.row(12);
}
.gallery-item {
	.column(6);
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	a {
		display: block;
		img {
			display: block;
		}
	}
}
.gallery-columns-3 {
	.gallery-item {
		.column(4);	margin-bottom: 10px;
	}
}
.gallery-columns-4 {
	.gallery-item {
		.column(3);	margin-bottom: 10px;
	}
}
.gallery-caption {
	font-size: 11px;
	margin: 10px 0 0;
	text-align: left;
}
.gallery br+br {
	display: none;
}