/* Library
 ----------------------------------------------------------------------------------------------------*/
//Use here to set main style for buttons, forms etc.

@maincolor: #000;
@contrastcolorlight:#fff;

@font-sansserif: Arial, Helvetica, sans-serif;
@font-serif: Times, Georgia, serif;

@errorcolor-1 : #8a1f11;
@errorcolor-2 : #fbe3e4;

@noticecolor-1 : #514721;
@noticecolor-2 : #fff6bf;

@successcolor-1 : #264409;
@successcolor-2 : #e6efc2;

@infocolor-1 : #205791;
@infocolor-2 : #d5edf8;
