// Small devices portrait orientation
@media (max-width:479px) {
	.wrapper {
		margin: 0 10px;
		width: auto;
	}
	#header,
	#footer,
	#main-menu,
	#content,
	#sidebar {
		width: 100%;
		float: none;
		margin: 0;
		clear: both;
	}
}
// Medium devices landscape orientation
@media (min-width:480px) and (max-width:599px) {
	#content,
	#sidebar {
		.column(6);
	}
}