@media (min-width:720px) and (max-width:960px) {
	body {
		min-width: 720px;
	}
	.wrapper {
		margin: 0 auto;
		width: 720px;
	}
	#header,
	#footer,
	#main-menu {
		.column(9);
	}
	#content { 
		.column(6);
	}
	#sidebar {
		.column(3);
	}
}