/**
 * Menu
 *
 * Menu template.
 *
 * @section Menu
 * @page patterns
 *
 * @example
 *	<nav id="menu" class="menu" role="navigation" tabindex="-1" aria-label="Navigation Principal">
 *		<ul class="menu__list sf-menu">
 *			<li class="menu-item current-menu-item menu-item-has-children">
 *				<a href="01-home.php">Home</a>
 *			</li>
 *			<li class="menu-item"><a href="02-page-default.php">Page default</a></li>
 *			<li class="menu-item"><a href="03-archive-default.php">Archive default</a></li>
 *			<li class="menu-item"><a href="04-page-404.php">Page 404</a></li>
 *		</ul>
 *	</nav>
 */

.menu {
	$el: &;
	$menu-item: '.menu-item';
	$sub-menu: '.sub-menu';
}
