/**
 * Menu
 *
 * Menu template.
 *
 * @section Menu
 * @page patterns
 *
 * @example
 *	<nav id="menu" class="menu" role="navigation" tabindex="-1" aria-label="Navigation Principal">
 *		<ul class="menu">
 *			<li class="menu-item current-menu-item menu-item-has-children">
 *				<a href="01-home.php">Home</a>
 *			</li>
 *			<li class="menu-item"><a href="02-page-default.php">Page default</a></li>
 *			<li class="menu-item"><a href="03-archive-default.php">Archive default</a></li>
 *			<li class="menu-item"><a href="04-page-404.php">Page 404</a></li>
 *		</ul>
 *	</nav>
 */

.menu {
	$el: &;
	$menu-item: '.menu-item';
	$sub-menu: '.sub-menu';

	padding: 0;
	margin: 0;

	&-item {
		padding: 0;

		a {
			padding: .5em 1em;
			display: block;
		}
	}

	&__panel {
		padding: 0;
		display: block;
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.35s ease, max-height 0.5s ease, visibility 0s linear;

		&.open {
			overflow: auto;
			max-height: 350px;
			opacity: 1;
			visibility: visible;
		}
	}

	@include breakpoints(sm) {
		display: flex;
	}
}