.menu {
	$el: &;
	$menu-item: ".menu-item";
	$sub-menu: ".sub-menu";
	position: fixed;
	top: 0;
	bottom: 0;
	left: -100%;

	z-index: 998;
	width: 80%;
	padding: 40px 0;
	overflow-y: auto;
	background: $maincolor;
	transition: left 0.5s ease-out;
	-webkit-transform: translateZ(0);
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;

	@include clearfix;

	&__list {

		@include clearfix;

		>#{$menu-item} {

			&:hover,
			&:focus-within {

				ul {
					display: block;
				}
			}

			&.current-menu-item,
			&.current-menu-parent,
			&.current-menu-ancestor {

				> a {
					color: $textcolor;
					background: $maincolor;
				}
			}
		}
	}

	#{$menu-item} {

		> a {
			display: block;
			padding: 10px;

			@include hover {
				color: $textcolor;
				background: $maincolor;
			}
		}

		@include hover {
			#{$el}__list {
				display: block;
			}
		}
	}

	#{$sub-menu} {
		display: none;
	}

	@include breakpoints(md) {
		position: relative;
		left: auto;
		width: auto;
		padding: 0;
		overflow: inherit;
		background: none;

		#{$sub-menu} {
			position: absolute;
			top: 100%;
			min-width: 200px;
			background: $lightcolor;

			#{$menu-item} {

				a {

					@include hover {
						color: $textcolor;
						background: $maincolor;
					}
				}
			}
		}

		#{$el}__list {
			>#{$menu-item} {
				position: relative;
				display: inline-block;

				@include hover {
					#{$el}__list {
						top: 100%;
					}
				}

				li {
					display: block;
				}
			}
		}
	}
}

.menu-mobile {

	&--active {
		overflow: hidden;

		.menu {
			left: 0;
			box-shadow: 0 0 100px rgba($darkcolor, 0.5);
		}
	}
}
