/**
 * Toolkit styles
 */

body {
	font-family: sans-serif;
}

// Load Susy
@import "../../../../../assets/css/vendor/susy/sass/susy";

//Load Bourbon mixin library
//http://bourbon.io/docs/
@import "bourbon";

// Dynamic paths
$images-url: "../../../../../assets/img";
$fonts-url : "../../../../../assets/fonts";
$sprite : $images-url + "/sprite.png";

//Load vendor css from bower 
@import "../../../../../assets/css/vendor/normalize-scss/_normalize.scss";

@import "../../../../../assets/css/vendor/_magnific-popup.scss";

//Main sass config files
@import "../../../../../assets/css/components/_variables.scss";

//Main websites components
@import "../../../../../assets/css/components/_icons.scss";
@import "../../../../../assets/css/components/_mixins.scss";
@import "../../../../../assets/css/components/_print.scss";
@import "../../../../../assets/css/components/_text.scss";
@import "../../../../../assets/css/components/_img.scss";
@import "../../../../../assets/css/components/_form.scss";
@import "../../../../../assets/css/components/_buttons.scss";
@import "../../../../../assets/css/components/_messages.scss";

//Main websites patterns
@import "../../../../../assets/css/patterns/_global.scss";
@import "../../../../../assets/css/patterns/_utilities.scss";
@import "../../../../../assets/css/patterns/_plugins.scss";
@import "../../../../../assets/css/patterns/_layout.scss";
@import "../../../../../assets/css/patterns/_header.scss";
@import "../../../../../assets/css/patterns/_menus.scss";
@import "../../../../../assets/css/patterns/_breadcrumb.scss";
@import "../../../../../assets/css/patterns/_entries.scss";
@import "../../../../../assets/css/patterns/_comments.scss";
@import "../../../../../assets/css/patterns/_widgets.scss";
@import "../../../../../assets/css/patterns/_searchform.scss";

//Pages
@import "../../../../../assets/css/pages/_default.scss";
@import "../../../../../assets/css/pages/_404.scss";
@import "../../../../../assets/css/pages/_home.scss";
