@use "../01-abstract/variables";
@use "../02-tools/m-rtl";

html {
    /* Set automatic RTL direction depending on lang attribute */
    @include m-rtl.set-rtl-direction;

    /* Apply border-box across the entire page. */
    box-sizing: border-box;

    // HTML resets
    font-family: variables.$font-family-primary;
    line-height: variables.$line-height-base;

    // Scroll resets
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    // Fonts resets
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
}

body {
    font-family: variables.$font-family-primary;
    font-size: variables.$font-size-base;
    font-weight: normal;
    color: variables.$color-text;
    background-color: variables.$color-light;
}
