@use "../01-abstract/variables";
@use "../02-tools/f-assign-inputs";
@use "../02-tools/f-get-svg-url";
@use "../02-tools/m-checkbox-custom";
@use "../02-tools/m-not-acf";
@use "../02-tools/m-radio-custom";
@use "../02-tools/m-select-custom";
@use "../05-components/btn";

@use "sass:color";

// All inputs variables
$text-inputs-list: 'input[type="color"]', 'input[type="date"]',
    'input[type="datetime"]', 'input[type="datetime-local"]',
    'input[type="email"]', 'input[type="month"]', 'input[type="number"]',
    'input[type="password"]', 'input[type="search"]', 'input[type="tel"]',
    'input[type="text"]', 'input[type="time"]', 'input[type="url"]',
    'input[type="week"]', "input:not([type])", "textarea";

$all-text-inputs: f-assign-inputs.assign-inputs($text-inputs-list);

// Not apply style to ACF fields
@include m-not-acf.not-acf {
    // Textarea
    textarea {
        resize: vertical;
    }

    #{$all-text-inputs},
    textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 15px 25px;
        font-family: variables.$font-family-primary;
        line-height: 1;
        color: variables.$color-text;
        background: color.adjust(variables.$color-light, $lightness: -5%);
        border: 1px solid variables.$color-grey-500;
        border-radius: 10px; //reset border radius for ios
        transition: border-color .5s ease;
        appearance: none;

        &::placeholder {
            color: color.adjust(variables.$color-text, $lightness: 50%);
        }

        &:hover {
            border-color: color.adjust(variables.$color-grey-500, $lightness: -10%);
        }

        &:focus {
            color: color.adjust(variables.$color-text, $lightness: -10%);
            border-color: color.adjust(variables.$color-grey-500, $lightness: -20%);
        }
    }

    // Label
    label {
        display: inline-block;
        font-weight: 700;
    }

    // Custom select
    select {
        @include m-select-custom.select-custom;
    }

    input[type="checkbox"],
    input[type="radio"] {
        @include m-checkbox-custom.checkbox-custom;

        &:checked {
            @include m-checkbox-custom.checkbox-custom-checked;
        }
    }

    input[type="radio"] {
        @include m-radio-custom.radio-custom(true);
    }

    /*
    // For complianz plugin
    *:not(.cmplz-banner-checkbox) > {
        input[type="checkbox"],
        input[type="radio"] {
            @include checkbox-custom;

            &:checked {
                @include checkbox-custom-checked;
            }
        }

        input[type="radio"] {
            @include radio-custom(true);
        }
    }
    */

    input[type="submit"] {
        @extend %btn-block;
    }

    input[type="reset"] {
        @extend %btn-block-outline;
    }

    input[type="search"] {
        &::-webkit-search-cancel-button {
            width: 16px;
            height: 16px;
            cursor: pointer;
            background-image: f-get-svg-url.get-svg-url("close", variables.$color-dark);
            background-repeat: no-repeat;
            background-size: contain;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
}
