a {
    color: currentColor;
    text-decoration: underline;
    cursor: pointer;

    &[target="_blank"] {
        @include text-external-icon;
    }

    @include hover {
        text-decoration: none;
    }
}

.link-external {
    @include text-external-icon;
}
