@use "../02-tools/m-hover";
@use "../02-tools/m-text-icon";

a {
    color: currentColor;
    text-decoration: underline;
    cursor: pointer;

    &[target="_blank"] {
        @include m-text-icon.text-icon("external");
    }

    @include m-hover.hover {
        text-decoration: none;
    }
}

.link-external {
    @include m-text-icon.text-icon("external");
}
