@use "../02-tools/m-hover" as *;
@use "../02-tools/m-text-icon" as *;

a {
	color: currentColor;
	text-decoration: underline;
	cursor: pointer;

	&[target="_blank"] {
		@include text-external-icon("external");
	}

	@include hover {
		text-decoration: none;
	}
}

a,
button {
	text-decoration-thickness: 1px !important;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	cursor: pointer;
}

.link-external {
	@include text-external-icon("external");
}
