:root {
    /*
     * Heading
     */
    // Font size
    --heading--font-size-h1: 56px;
    --heading--font-size-h2: 48px;
    --heading--font-size-h3: 36px;
    --heading--font-size-h4: 32px;
    --heading--font-size-h5: 24px;
    --heading--font-size-h6: 18px;

    // Line height
    --heading--line-height-h1: 1.25;
    --heading--line-height-h2: 1.25;
    --heading--line-height-h3: 1.25;
    --heading--line-height-h4: 1.25;
    --heading--line-height-h5: 1.25;
    --heading--line-height-h6: 1.25;

    /*
     * paragraph
    */
    // Font size
    --paragraph--font-size-huge: 32px;
    --paragraph--font-size-large: 24px;
    --paragraph--font-size-small: 14px;
    --paragraph--font-size-default: 16px;

    // line height
    --paragraph--line-height-huge: 1.4;
    --paragraph--line-height-large: 1.4;
    --paragraph--line-height-small: 1.4;
    --paragraph--line-height-default: 1.4;

    /*
     * Spacing
     */
    --spacing--block-default: 16px;
    --spacing--block-1: 16px;
    --spacing--block-2: 32px;
    --spacing--block-3: 48px;
    --spacing--block-4: 64px;

    /*
     * Alignments
     */
    --responsive--aligndefault-width: calc(100% - #{$external-gutter * 2});
    --responsive--alignwide-width: calc(100% - #{$external-gutter * 2});
    --responsive--alignfull-width: 100%;

    /*
     * Animation speeds
     */
    --speed: 1s;

    /*
     * Admin bar
     */
    --wp-admin-bar-height: var(--wp-admin--admin-bar--height, 0rem);

    body:not(.admin-bar) {
        --wp-admin-bar-height: 0rem; // for wp admin bar hider extension
    }

    /*
     * Alignments breakpoints
     */

    @media screen and (min-width: #{$container-default + $external-gutter * 2}) {
        --responsive--aligndefault-width: #{$container-default};
    }

    @media screen and (min-width: #{$container-wide + $external-gutter * 2}) {
        --responsive--alignwide-width: #{$container-wide};
    }

    /*
     * A11y reduced motion
     */
    @include reduced-motion {
        --speed: 0s;
    }

    /*
     * Global breakpoints
     */

    @include breakpoints(s, max) {
        /*
         * Admin bar become not sticky
         */
        &:not(.scroll-top) {
            .admin-bar {
                --wp-admin-bar-height: 0rem;
            }
        }
    }

    @include breakpoints(md) {
        /*
         * Spacing
         */
        --spacing--block-1: 32px;
        --spacing--block-2: 64px;
        --spacing--block-3: 96px;
        --spacing--block-4: 128px;
    }
}
