.blocks-container > *,
[class*="inner-container"] > * {
    margin-top: var(--spacing--block-1);
    margin-bottom: var(--spacing--block-1);

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.alignleft,
    &.alignright,
    &.alignleft:first-child + *,
    &.alignright:first-child + *,
    &.alignfull.has-background {
        margin-top: 0;
    }

    &:last-child,
    &.alignfull.has-background {
        margin-bottom: 0;
    }

    /* Reset alignleft and alignright margins after alignfull */
    &.alignfull + .alignleft,
    &.alignfull + .alignright {
        margin-top: var(--spacing--block-1);
    }
}
