/* Facetwp css
-------------------------------------------------------------- */

.facetwp-page.active {
    background-color: $gray-color-500;
    color: $dark-color;
}
.facetwp-page {
    border: 1px solid  $gray-color-500;
}
.facetwp-sort{
	margin: 10px 0;
}

.facetwp-checkbox{
	.facetwp-counter{
		color: $primary-color;
	}
}

