/**
 * Context selector
 *
 * exemples :
 *
 *      #{ context-selector('#main__content', '#editor', '.block') } {
 *          ... your css
 *      }
 *
 *      return for style.scss :
 *          #main__content .block {
 *              ... your css
 *          }
 *
 *      return for editor.scss :
 *          #editor .block {
 *              ... your css
 *          }
 *
 *      It can be used to define a variable :
 *
 *      $parent: context-selector('#main__content', '#editor')
 *
 *      #{(dollar)parent} > .block {
 *          ... your css
 *      }
 *
 *      the variable $entry-file-name is defined in style.scss and editor.scss
 */

@function context-selector($default: null, $editor: null, $selector) {
    $full-selector: $selector;

    @if ($entry-file-name == "editor" and $editor) {
        $full-selector: $editor + " " + $selector;
    } @else if ($entry-file-name == "style" and $default) {
        $full-selector: $default + " " + $selector;
    }

    @return $full-selector;
}
