@use "../01-abstract/variables" as *;
@use "f-strip-units" as *;

/**
 * Fluid size
 *
 * Converted from source:  : https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/
 *
 * Convert value px to fluid typography and spacing using clamp.
 * Supports both growing and shrinking scales between breakpoints.
 *
 * @author Cédric Andrietti
 *
 * @param $from -> Size at the start breakpoint (mobile)
 * @param $to -> Size at the end breakpoint (desktop)
 * @param $start -> Start breakpoint
 * @param $end -> End breakpoint
 *
 * Examples :
 *
 *      h1 {
 *          font-size: #{fluid-size(58px, 156px, sm, md)};
 *          line-height: #{fluid-size(1.05, 1.2)};
 *      }
 *
 *      // Larger on mobile, smaller on desktop
 *      .hero {
 *          padding-top: #{fluid-size(40px, 3px)};
 *      }
 *
 */

@use "sass:map";
@use "sass:math";

@function fluid-size($from, $to, $start: xs, $end: l) {
	$start: math.div(map.get($breakpoints, $start), 100);
	$end: math.div(map.get($breakpoints, $end), 100);
	$lower: math.min($from, $to);
	$upper: math.max($from, $to);

	@return clamp(#{$lower}, #{$from} + (1vw - #{$start}px) / #{$end - $start} * #{strip-units($to - $from)}, #{$upper});
}
