/**
 * Align - Make an alignment (left or right)
 *
 * @author Nicolas Langle
 *
 * @param $direction
 *
 * Examples :
 *
 *      .alignleft {
 *          @include align();
 *      }
 *
 *      .alignright {
 *          @include align(right);
 *      }
 *
 */

@use "../01-abstract/theme-json" as *;

@mixin align($direction: left) {
	float: $direction;

	@if ($direction == left) {
		margin-inline-end: $settings-spacing-sm;
	} @else {
		margin-inline-start: $settings-spacing-sm;
	}
}
