/**
 * Align - Make an alignment (left or right)
 *
 * @author Nicolas Langle
 *
 * @param $direction
 *
 * Examples :
 *
 *      .alignleft {
 *          @include align();
 *      }
 *
 *      .alignright {
 *          @include align(right);
 *      }
 *
 */

@mixin align($direction: left) {
	float: $direction;

	@if ($direction == left) {
		margin-inline-end: var(--wp--preset--spacing--sm);
	} @else {
		margin-inline-start: var(--wp--preset--spacing--sm);
	}
}
