/**
 * Align - Make an alignment (left or right)
 *
 * @author Nicolas Langle
 *
 * @param $direction
 *
 * Examples :
 *
 *      .alignleft {
 *          @include align();
 *      }
 *
 *      .alignright {
 *          @include align(right);
 *      }
 *
 */

@mixin align($direction: left) {
    float: $direction;

    @if ($direction == left) {
        margin-right: var(--spacing--block-1);
    } @else {
        margin-left: var(--spacing--block-1);
    }
}
