/**
 * Align
 *
 * default: float left
 */

@mixin align($direction: left) {
    float: $direction;

    @if ($direction == left) {
        margin-right: var(--spacing--block-1);
    } @else {
        margin-left: var(--spacing--block-1);
    }
}
