/**
 * Button
 */

@mixin button {
    display: inline;
    padding: 0;
    font-family: inherit;
    color: inherit;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: none;
    appearance: none;
}

// ----
// button block
// ----

@mixin button-block {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 15px 25px;
    overflow: hidden;
    font-weight: 700;
    line-height: 16px;
    color: $color-dark;
    text-align: center;
    background-color: $color-primary;
    border-radius: 10px;

    @include hover {
        @include button-block-hover;
    }
}

// hover of the button block

@mixin button-block-hover {
    color: $color-primary;
    background-color: $color-dark;
}

// Coloring

@mixin button-block-colored($background-color, $color) {
    color: $color;
    background-color: $background-color;

    @include hover {
        color: $background-color;
        background-color: $color;
    }
}

// Outline style

@mixin button-block-outline {
    padding: 13px 23px;
    background-color: transparent;
    border: 2px solid currentColor; // Force button width VS Gutenberg CSS

    @include hover {
        @include button-block-outline-hover;
    }
}

@mixin button-block-outline-hover {
    background-color: transparent;
}
