@use "sass:map";

/**
 * Breakpoints
 *
 * examples :
 *
 *      @include breakpoints(sm, md) { ... }
 *          return @media screen and (min-width: 768px) and (max-width: 1024px) { ... }
 *
 *      @include breakpoints(sm, max) { ... }
 *          return @media screen and (max-width: 767px) { ... }
 *
 *      @include breakpoints(sm) or @include breakpoints(sm, min) { ... }
 *          return @media screen and (min-width: 768px) { ... }
 *
 */

@mixin breakpoints($breakpoint, $min-or-max-or-breakpoint: min) {
    $font-size: 16px; // don't use em function whitout param, $font-size-base can be modified

    @if (type-of(map.get($breakpoints, $min-or-max-or-breakpoint)) == "number") {

        @media screen and (min-width: em(map.get($breakpoints, $breakpoint), $font-size)) and (max-width: em(map.get($breakpoints, $min-or-max-or-breakpoint) - 1, $font-size)) {
            @content;
        }
    } @else if ($min-or-max-or-breakpoint == max) {

        @media screen and (max-width: em(map.get($breakpoints, $breakpoint) - 1, $font-size)) {
            @content;
        }
    } @else {

        @media screen and (min-width: em(map.get($breakpoints, $breakpoint), $font-size)) {
            @content;
        }
    }
}
