/**
 * static
 *
 * examples :
 *      @include bg("your-image");
 *
 */

@mixin bg($filname, $retina: true, $position: center center, $size: auto 100%, $type: "png" ) {
    background-image: url(../img/static/#{$filname}.#{$type});
    background-repeat: no-repeat;
    background-position: $position;
    background-size: $size;

    @if ($retina) {
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-image: url(../img/static/#{$filname}@2x.#{$type});
        }
    }
}
