/**
 * Button
 */

@mixin button {
    display: inline-block;
    padding: 8px 12px;
    font-family: $primary-font-family;
    line-height: 1.5;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color .3s ease;
    appearance: none;
}

// Sizing

@mixin button-xs {
    font-size: 9px;
}

@mixin button-sm {
    font-size: 12px;
}

@mixin button-lg {
    font-size: 18px;
}

@mixin button-expand {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}

// Coloring

@mixin button-colored($backgroundColor, $color) {
    color: $color;
    background-color: $backgroundColor;

    @include hover {
        color: $color;
        background-color: darken($backgroundColor, 10%);
    }
}

// Outline style

@mixin button-outline($borderColor: $color-grey-500, $color: $global-color-text) {
    color: $color;
    background-color: transparent;
    border-color: $borderColor;
    border-width: 1px; // Force button width VS Gutenberg CSS

    @include hover {
        background-color: transparent;
        border-color: darken($borderColor, 10%);
    }
}

// Border Radius

@mixin button-round {
    border-radius: $base-border-radius;
}

@mixin button-circle($size: 50px) {
    width: $size;
    height: $size;
    padding: 0;
    line-height: $size;
    text-align: center;
    border-radius: $size;
}

// State style

@mixin button-disabled($backgroundColor: $color-grey-500) {
    cursor: not-allowed;
    opacity: .3;

    @include hover {
        background-color: $backgroundColor;
    }
}

// Text style

@mixin button-text {
    padding: 0;
    background-color: transparent;

    @include hover {
        background-color: transparent;
    }
}

// Button icon

@mixin button-icon {
    padding: 10px 11px;
}
