@use "../01-abstract/variables" as *;

/**
 * Container
 *
 * @author Nicolas Langle
 *
 * @param $size
 *
 * Examples :
 *
 *      .container {
 *          @include container;
 *      }
 *
 */

@mixin container($size: var(--wp--style--global--wide-size)) {
	width: min(#{$size}, 100% - var(--responsive--gutter));
	margin-inline: auto;
}
