/**
 * Container
 *
 * @author Nicolas Langle
 *
 * @param $size
 *
 * Examples :
 *
 *      .container {
 *          @include container;
 *      }
 *
 */

@mixin container($size: $container-wide) {
    width: $size;
    max-width: calc(100% - #{$external-gutter * 2});
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}
