/**
 * ellipsis - cut text after a given number of line
 *
 * exemples :
 * 		ellipsis(1.2em, 4) -> cut text after 4 lines
 */

@mixin ellipsis($line-height, $nb-line: 3, $background-color: $color-light, $content: "...") {
    position: relative;
    max-height: #{$line-height * $nb-line}px;
    overflow: hidden;

    &::after {
        position: absolute;
        top: #{$line-height * ($nb-line - 1)}px;
        right: 0;
        width: 50%;
        height: $line-height;
        text-align: right;
        content: $content;
        background: linear-gradient(to left, $background-color 30px, rgba($background-color, 0));
    }
}
