@use "sass:list";

/// Add active, focus and hover pseudo selectors to element
///
/// @param {string||list} $additionalSelectors
///   List of additional selectors
@mixin hover($additionalSelectors: null) {
    $selectors: "&:hover", "&:active", "&:focus";

    @if ($additionalSelectors) {
        @if (type-of($additionalSelectors) == "string") {
            $selectors: $selectors "," $additionalSelectors;
        }
        @else if (type-of($additionalSelectors) == "list") {
            $selectors: list.join($selectors, $additionalSelectors, comma);
        }
    }

    #{$selectors} {
        @content;
    }
}
