/**
 * Pseudo element mixin
 *
 * Example :
 *
 *    @include pseudo(after, 100%, 1px) {
 *        top: 0;
 *        left: 0;
 *        ... your css
 *    }
 *
 */

@mixin pseudo($el: before, $width: null, $height: null, $content: "", $pos: absolute, $display: block) {
    @if $el == before or $el == after {
        &::#{$el} {
            position: $pos;
            display: $display;
            @if $width {
                width: $width;
            }
            @if $height {
                height: $height;
            }
            content: $content;
            @content;
        }
    } @else {
        @warn "`#{$el}` is not a valid pseudo-element.";
    }
}
