/**
 * Row fullwidth -  Make a row fullwidth in a container element
 *
 * @author Nicolas Langle
 *
 * @param $position
 *
 * Examples :
 *
 *      .test {
 *          @include row-fullwidth();
 *      }
 *
 */

@mixin row-fullwidth($position: relative) {
    position: $position;
    left: 50%;
    z-index: 1;
    width: 100vw;
    margin-left: -50vw;
}
