@use "../01-abstract/variables" as *;
@use "../01-abstract/theme-json" as *;
@use "f-get-svg-url" as *;
@use "m-rtl" as *;
@use "sass:color";

/**
 * Select custom
 *
 * @author Nicolas Langle
 *
 * Examples :
 *
 *      select {
 *          @include select-custom;
 *      }
 *
 */

@mixin select-custom {
	display: block;
	width: 100%;
	max-width: 100%; /* useful when width is set to anything other than 100% */
	padding: 15px 25px;
	margin: 0;
	font-size: 16px; // prevent iOS zoom
	line-height: 1.15;
	color: $color-text;
	background-color: $settings-color-white;
	background-image: get-svg-url("down"), linear-gradient(to bottom, $settings-color-white 0%, $settings-color-white 100%);
	background-repeat: no-repeat, repeat;
	background-position: right 10px top 50%, 0 0;
	background-size: 10px auto, 100%;
	border: 1px solid $settings-color-grey-500;
	border-radius: 10px;
	appearance: none;

	@include rtl {
		background-position: left 10px top 50%, 0 0;
	}

	// Set options to normal weight
	option {
		font-weight: 400;
	}

	// Hide arrow icon in IE browsers
	&::-ms-expand {
		display: none;
	}

	// Hover style
	&:hover {
		border-color: $settings-color-grey-400;
	}
}
