/**
 * Text - Used in src/scss/06-blocks/core/_paragraph.scss and src/scss/03-base/_text.scss
 *
 * @author Cédric Andrietti
 *
 * @param $name
 *
 * Examples :
 *
 *      .my-text {
 *          @include text(large);
 *      }
 *
 */

@mixin text($name: default) {
	@if $name == default {
		font-size: var(--paragraph--font-size-default);
		font-weight: 400;
		line-height: var(--paragraph--line-height-default);
	}

	@if $name == small {
		font-size: var(--paragraph--font-size-small);
		font-weight: 400;
		line-height: var(--paragraph--line-height-small);
	}

	@if $name == large {
		font-size: var(--paragraph--font-size-large);
		font-weight: 400;
		line-height: var(--paragraph--line-height-large);
	}

	@if $name == huge {
		font-size: var(--paragraph--font-size-huge);
		font-weight: 400;
		line-height: var(--paragraph--line-height-huge);
	}
}
