@use "../01-abstract/constants" as *;

/**
 * Add icon before text with mask to have the same color of the text
 *
 * @author Cédric Andrietti
 *
 * @param $icon
 *
 * Examples :
 *
 *      .my-element {
 *          @include text-icon('search');
 *      }
 *
 */

@mixin text-icon($icon: "arrow", $position: after, $color: currentColor, $size: 12px, $gap: 8px) {
	display: inline-flex;
	gap: $gap;
	align-items: center;

	&::#{$position} {
		display: block;
		width: $size;
		min-width: $size;
		height: $size;
		content: "";
		background-color: $color;
		mask-image: url(../img/static/#{$icon}.svg);
		mask-position: center;
		mask-repeat: no-repeat;
		transition: background-color .5s $ease-out-expo;
	}
}

@mixin text-external-icon($icon: "external", $position: after, $color: currentColor, $size: 12px, $gap: 8px) {
	@include text-icon($icon, $position, $color, $size);
	display: inline-block;
	gap: 0;

	&::#{$position} {
		display: inline-block;
		margin-inline-start: $gap;
		vertical-align: middle;
	}
}
