/**
 * Searchform
 *
 * Searchform template.
 *
 * @section Searchform
 * @page patterns
 *
 * @example
 *	<div class="searchform" id="searchform" tabindex="-1">
 *		<form method="get" action="#">
 *			<div class="form__row">
 *				<input type="search" class="searchform__field" name="s" id="search" placeholder="Recherchez" aria-required="true" required="required">
 *				<button type="submit" class="searchform__submit" name="submit" id="searchsubmit">
 *					<span class="visuallyhidden">Lancer la recherche</span>
 *					<svg class="icon icon-search" aria-hidden="true" role="img"> *
 *						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
 *					</svg>
 *				</button>
 *			</div>
 *		</form>
 *	</div>
 */

.searchform {
	position: relative;
	width: 300px;
	height: 37px;
	margin-right: 75px;
	background-color: $darkcolor;
	border-radius: 18px;
	&__field {
		background-color: transparent !important;
		padding-left: 55px !important;
		height: 37px;
		border: none !important;
		outline: none;
		font-size: 12px;
		color: $lightcolor !important;
		@include placeholder {
			opacity: .2;
		}
	}
	&__submit {
		position: absolute;
		left: 18px;
		top: 50%;
		margin-top: -9px;
		padding: 0;
		background-color: transparent;
		border: none;
		color: $lightcolor;
		opacity: .2;
		transition: opacity .25s ease-in-out;
		@include hover {
			opacity: 1;
			cursor: pointer;
		}
		.icon {
			width: 14px;
			height: 14px;
		}
	}
}