//Grid settings
$susy: (
	columns: 12,
	gutters: .25,
	container: 960px,
	global-box-sizing: border-box
	//debug :(image: show-columns)
);

//Positioning
$zindex: 1;

//Fonts
$font-sansserif: Arial, Helvetica, sans-serif;
$font-serif: Times, Georgia, serif;

$customfont-1: Roboto, sans-serif;
$customfont-2: Circular, sans-serif;

// Font Sizes
$base-font-size: 16px;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 20px;
$half-base-spacing: $base-spacing / 2;

//Colors
$maincolor: #f5745a;
$textcolor: #333;

$lightcolor: #fff;
$darkcolor: #000;

$maingrey: #ddd;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$errorcolor-1 : #8a1f11;
$errorcolor-2 : #fbe3e4;

$noticecolor-1 : #514721;
$noticecolor-2 : #fff6bf;

$successcolor-1 : #264409;
$successcolor-2 : #e6efc2;

$infocolor-1 : #205791;
$infocolor-2 : #d5edf8;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

//Breakpoint
$mobile-small: 480px;
$mobile-medium: 481px;
$tablet-small: 601px;
$tablet-medium: 768px;
$desktop-small: 1024px;
$desktop-medium: 1260px;
