//Grid default settings
//GO to _layouts.scss for example
$susy: (
	//debug :(image: show-columns),
	global-box-sizing: border-box,
	columns: 12,
	column-width: 60px,
	gutters: 20px/60px,
	container: 960px
);
//Sample grid with Fixed 20px gutters.
//Gutters are set with padding on both sideof the element. last argument is not needed
//Container must take care of padding on edge of the columns
//can be used like this : http://susydocs.oddbird.net/en/latest/settings/#with-layout
$fixedgrid:(
	global-box-sizing: border-box,
	gutter-position: inside-static,
	columns: 12,
	column-width: 60px,
	gutters: 20px/60px,
	container: 980px
);

//Positioning
$zindex: 1;

//Fonts
$font-sansserif: Arial, Helvetica, sans-serif;
$font-serif: Times, Georgia, serif;

$customfont-1: Roboto, sans-serif;
$customfont-2: Circular, sans-serif;

// Font Sizes
$base-font-size: 16px;
$heading-font-size: 25px;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 20px;
$half-base-spacing: $base-spacing / 2;


/**
 * @section Colors
 * @page index
 *
 * @example
 * <div class="colors">
 * 	<div class="color color--main"><span>#f5745a</span></div>
 * 	<div class="color color--light"><span>#fff</span></div>
 * 	<div class="color color--dark"><span>#000</span></div>
 * 	<div class="color color--darkgray"><span>#333</span></div>
 * 	<div class="color color--mediumgray"><span>#999</span></div>
 * 	<div class="color color--lightgray"><span>#ddd</span></div>
 * </div>
 */

//Colors
$maincolor: #F1E25B;
$textcolor: #333;

$lightcolor: #fff;
$darkcolor: #000;

$maingrey: #ddd;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$errorcolor-1 : #8a1f11;
$errorcolor-2 : #fbe3e4;

$noticecolor-1 : #514721;
$noticecolor-2 : #fff6bf;

$successcolor-1 : #264409;
$successcolor-2 : #e6efc2;

$infocolor-1 : #205791;
$infocolor-2 : #d5edf8;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

//Breakpoint
$mobile-small: em(480);
$mobile-medium: em(481);
$tablet-small: em(601);
$tablet-medium: em(768);
$desktop-small: em(1024);
$desktop-medium: em(1260);
