/* Comments
 ----------------------------------------------------------------------------------------------------*/
.comment-list {
	.children {
		margin: 0 0 0 76px;
	}
}
.comment-body {
	margin: 0 0 10px;
}
.comment-meta {
	position: relative;
	min-height: 56px;
	padding: 0 0 0 76px;
	margin: 0 0 10px;
}
.comment-author {
	
}
.avatar {
	position: absolute;
	left: 0;
	top: 0;
}
.comment-content {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.reply {
	
}
.comment-reply-link {
	
}