/* Entry
----------------------------------------------------------------------------------------------------*/
.entry {
	@include clearfix;
}
.entry__title,
.page__title {
	
}
.entry__content {
	@include clearfix;
	ul {
		list-style: disc inside none;
		@include rem('margin', 0 0 20px);
		li {
			@include rem('margin', 0 0 5px);
		}
	}
	ol {
		list-style: decimal inside none;
		@include rem('margin', 0 0 20px);
		li {
			@include rem('margin', 0 0 5px);
		}
	}
	img {
		@extend %img__responsive;
	}
	.gform_wrapper {
		ul {
			list-style: none;
		}
	}
	.searchform {
		input {
			display: inline;
		}
	}
}
.entry__summary {
	@include clearfix;
}