/**
 * Entries
 *
 * Resume blog post.
 *
 * Card entry is optimized for SEO.
 * The post will be open in a new window due to the data-seo attribute (seo.js).
 * `.entry__content` is the container class for WordPress wysiwyg. link are underline by default in this container.
 * Unordered list are displayed with standard disc.
 *
 * @section Entries
 * @page patterns
 *
 * @example
 *	<!-- ENTRY SUMMARY -->
 *	<article class="entry__item">
 *		<div class="entry__media">
 *			<!-- Local dev only. use get_the_post_thumbnail function when you work on a server -->
 *			<img src="http://placehold.it/300x200" width="300" height="200" alt="#">
 *			<!-- end Local dev only -->
 *			<!-- Web dev -->
 *			<!-- <?php echo get_the_post_thumbnail( 0, 'thumbnail', array( 'data-location' => 'entry-img-01', 'class' => 'entry__img', 'alt' => '#' ) ); ?> -->
 *			<!-- end Web dev -->
 *		</div>
 *		<div class="entry__summary">
 *			<h2 class="entry__title">
 *				<a href="#">There is a post + a 20 words lorem ipsum excerpt</a>
 *			</h2>
 *			<div class="entry__date">
 *				Publie le <time datetime="2015-06-30">06/30/2015</time>
 *			</div>
 *			<div class="entry__excerpt">
 *				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac fringilla nunc. In hac habitasse platea dictumst. Pellentesque habitant morbi.</p>
 *			</div>
 *			<div class="entry__more">
 *				<button data-href="#" class="entry__more-button">Readmore</a>
 *			</div>
 *		</div>
 *	</article>
 *	<!-- ENTRY SEO -->
 *	<article class="entry__card" data-seo>
 *		<div class="entry__media">
 *			<img src="http://placehold.it/300x200" width="300" height="200" alt="#">
 *		</div>
 *		<div class="entry__summary">
 *			<h2 class="entry__title">
 *				<a href="02-page-default.php">There is a post + a 20 words lorem ipsum excerpt</a>
 *			</h2>
 *			<div class="entry__date">
 *				Publie le <time datetime="2015-06-30">06/30/2015</time>
 *			</div>
 *			<div class="entry__excerpt">
 *				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac fringilla nunc. In hac habitasse platea dictumst. Pellentesque habitant morbi.</p>
 *			</div>
 *			<div class="entry__more">
 *				<span class="button">Readmore</span>
 *			</div>
 *		</div>
 *	</article>
 */

.entry {
	$parent : &;
	@include clearfix;
	&__title {
		font-weight: 900;
		text-transform: uppercase;
		&>a {
			text-decoration: none;
			@include hover {
				text-decoration: underline;
			}
		}
	}
	&__item,
	&__card {
		@include clearfix;
		margin-bottom: $base-spacing;
		@media screen and (min-width: $tablet-medium) {
			margin-bottom: $base-spacing*2;
		}
		#{$parent}__img {
			margin-bottom: $base-spacing;
			margin-left: auto;
			margin-right: auto;
		}
		#{$parent}__media {
			@media screen and (min-width: $tablet-medium) {
				@include align;
				&~#{$parent}__summary {
					margin-left: 320px; // = image width
				}
			}
		}
	}
	&__card {
		@include card;
	}
	&__content {
		@include clearfix;
		a {
			text-decoration: underline;
			@include hover {
				text-decoration: none;
			}
		}
		ul {
			list-style: disc inside none;
			margin: 0 0 $base-spacing;
			li {
				margin: 0 0 $half-base-spacing;
			}
		}
		ol {
			list-style: decimal inside none;
			margin: 0 0 $base-spacing;
			li {
				margin: 0 0 $half-base-spacing;
			}
		}
		img {
			@include img__responsive();
		}
		.alignright,
		.alignleft {
			max-width: 50%;
			@media screen and (min-width: $tablet-medium) {
				max-width: 100%;
			}
		}
	}
	&__img {
		@include img__responsive();
	}
}