.grid-sandbox {
	padding: 20px;
	margin-bottom: 2em;
	margin-top: 5px;
	background: #f2f2f2;
}

.box {
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	background: #cecece;
	color: #787878;
}

.box--tall{
	padding: 30px;
	margin-bottom: 0;
}