/* Header css
 ----------------------------------------------------------------------------------------------------*/
.header {
	padding-top: $base-spacing;
	padding-bottom: $base-spacing;
	background-color: $maincolor;

	@include clearfix;

	.container {
		&:after {
			@include clearfix;
		}
	}

	&__logo {
		float: left;

		&-link {
			display: block;
		}
	}

	&__icon {
		display: block;
		height: 50px;
		width: 50px;
		margin: 0 auto;
		color: $textcolor;
	}
	&__img {
		@include img__responsive();
		margin: 0 auto $base-spacing;
	}
}