/* Header css
 ----------------------------------------------------------------------------------------------------*/
.header {
	@include clearfix;
	margin-bottom: $base-spacing;
	padding-top: $base-spacing;
	padding-bottom: $base-spacing;
	height: 400px;
	&__logo-link {
		display: block;
	}
	&__icon {
		display: block;
		height: 50px;
		width: 50px;
		margin: 0 auto 10px;
		color: $maincolor;
	}
	&__img {
		@include img__responsive();
		margin: 0 auto $base-spacing;
	}
}