/* Menus
----------------------------------------------------------------------------------------------------*/
.menu__fastaccess {
	@include rem('font-size', 9px);
	display: none;
	li {
		display: inline;
		a {
			position: absolute;
			z-index: 1;
			color: $lightcolor;
			@include hover {
				z-index: 2;
				color: $maincolor;
			}
		}
	}
	@include media($desktop-small) {
		display: block;
	}
}
.menu {
	ul {
		@include clearfix;
		@include rem('margin', 0 0 20px);
		&>li {
			&>a {
				@include rem('padding', 10px);
				@include hover {
					color:$lightcolor;
					background:$maincolor;
				}
			}
			@include hover {
				ul {
					@include rem('top', 40px);
				}
			}
			&.sfHover {
				ul {
					@include rem('top', 40px);
				}
			}
			&.current-menu-item,
			&.current-menu-parent {
				a {
					color:$lightcolor;
					background:$maincolor;
				}
			}
		}
		ul {
			background: $lightcolor;
			li {
				a {
					padding: 10px;
					@include hover {
						color:$lightcolor;
						background:$maincolor;
					}
				}
			}
		}
	}
}