/**
 * Menu
 *
 * Menu template.
 *
 * @section Menu
 * @page patterns
 *
 * @example
 * <nav id="menu" class="menu menu__mobile" role="navigation" tabindex="-1" aria-label="Navigation Principal">
 *	 <div class="container">
 *	   	<ul class="menu__list sf-menu">
 *			  <li class="menu__item current-menu-item"><a href="#">Home</a></li>
 *		  	<li class="menu__item">
 *				  <a href="#">Page default</a>
 *				  <ul class="menu__list menu__list--sub">
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *					  <li class="menu__item"><a href="#">Sub menu item</a></li>
 *				  </ul>
 *			  </li>
 *			  <li class="menu__item"><a href="#">Archive default</a></li>
 *			  <li class="menu__item"><a href="#">Page 404</a></li>
 *			</ul>
 *		</div>
 *	</nav>
 */
.menu-fastaccess {
	margin: 0;
	font-size: 9px;
	display: none;
	&__item {
		display: inline;
		a {
			position: absolute;
			z-index: 1;
			color: transparent;
			@include hover {
				text-decoration: none;
				z-index: 2;
				padding: $base-spacing / 2;
				color: $lightcolor;
				background-color: $maincolor;
			}
		}
	}
	@media screen and (min-width: $desktop-small) {
		display: block;
	}
}
// Mobile open/close button */
.button{
	&__menu-open {
		display: block;
		.menu-mobile--active & {
			display: none;
		}
	}
	&__menu-close {
		display: none;
		.menu-mobile--active & {
			display: block;
		}
	}
	&__menu-container {
		z-index: 999;
		position: absolute;
		top: 0;
		left: 0;
		@media screen and (min-width: $desktop-small) {
			display: none;
		}
	}
}
// Mobile menu stop scroll on body and display button */
.menu-mobile--active {
	overflow: hidden;
	@media screen and (max-width: $desktop-small) {
		.menu {
			left: 0;
			box-shadow: 0 0 100px rgba($darkcolor, 0.5);
		}
	}
}

.menu {
	$parent: &;

	z-index: 998;
	position: fixed;
	top: 0;
	left: -100%;
	bottom: 0;
	@include clearfix;
	width: 80%;
	padding: 40px 0;
	background: $maincolor;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition : left 0.5s ease-out;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	@media screen and (min-width: $desktop-small) {
		//reset mobile menu position and dimensions
		position: relative;
		left: auto;
		overflow: inherit;
		background: none;
		width: auto;
		padding: 0;
	}
	.wrapper {
		padding: 0;
	}
	// Main list
	&__list {
		@include clearfix;
		// Sub list
		&--sub {
			display: none;
			@media screen and (min-width: $desktop-small) {
				top: 100%;
				position: absolute;
				min-width: 200px;
				background: $lightcolor;
				#{$parent}__item {
					a {
						@include hover {
							color:$textcolor;
							background:$maincolor;
						}
					}
				}
			}
		}
		// Child list item
		&>#{$parent}__item {
			@include hover {
				ul {
					display: block;
				}
			}
			&.sfHover,
			&.current-menu-item,
			&.current-menu-parent,
			&.current-menu-ancestor {
				&>a {
					color:$textcolor;
					background:$maincolor;
				}
			}
			@media screen and (min-width: $desktop-small) {
				display: inline-block;
				position: relative;
				li {
					display: block;
				}
				@include hover {
					#{$parent}__list {
						top: 100%;
					}
				}
				&.sfHover {
					ul {
						top: 100%;
					}
				}
			}
		}
	}
	// Base list item
	&__item {
		& > a {
			display: block;
			padding: 10px;
			@include hover {
				color:$textcolor;
				background:$maincolor;
			}
		}
		@include hover {
			#{$parent}__list {
				display: block;
			}
		}
	}
}