/* Plugins overide css
 ----------------------------------------------------------------------------------------------------*/

// Gravity Form 
.gfield,
.ginput_full {
	@include clearfix;
	select {
		width: 100%;
	}
}
.gfield {
	margin: 0 0 20px!important;//important to resolve conflict with entry__content ul's margins
}
.gfield_label {
	margin: 0 0 5px;
}
.gsection_title {
	
}
.ginput_complex {
	.ginput_left,
	.ginput_right {
		@include span(5 of 10);
		label {
			margin: 5px 0 10px;
		}
	}
	.ginput_right {
		margin-right: 0;
	}
	.ginput_full {
		display: block;
		margin: 0 0 $base-spacing;
		label {
			margin: 5px 0 10px;
		}
	}
}