/* Plugins overide css
 ----------------------------------------------------------------------------------------------------*/

// Gravity Form
.gfield,
.ginput_full {
	@include clearfix;
	select {
		width: 100%;
	}
}
.gform_heading,
.gf_progressbar_wrapper,
.gfield,
.gf_page_steps {
	margin: 0 0 $base-spacing !important;//important to resolve conflict with entry__content ul's margins
}
.gform_description,
.gfield_description,
.gsection_description {
	@include clearfix;
	font-size: 11px;
}
//multistep form
//progressbar when multi part form are used
.gf_progressbar {
	background: $maingrey;
}
.gf_progressbar_percentage {
	text-align: center;
	font-size: 11px;
	font-weight: 700;
	color: $lightcolor;
	background: $maincolor;
}
//step by step layout
.gf_page_steps {
	.gf_step {
		display: inline-block;
	}
}
//input size choice. keep it 100% wide by default
.ginput_container {
	@include clearfix;
	.small {
		//@include span(6);
	}
	.medium {
		//@include span(9);
	}
	.large {
		//@include span(12);
	}
}
.gfield_label {
	margin: 0 0 $half-base-spacing;
}
//gfield description
.gfield_description {
	margin: 0;
}
.field_description_below {
	.gfield_description {
		margin-top: $half-base-spacing;
	}
}
.field_description_above {
	.gfield_description {
		margin-bottom: $half-base-spacing;
	}
}
//gf section title
.gsection_title {
	
}
//2 columns used with advancef GF fields adress, name
.ginput_complex {
	@include clearfix;
	.ginput_left,
	.ginput_right,
	.name_first,
	.name_last {
		@include span(6);
		label {
			margin: 5px 0 10px;
			font-size: 11px;
		}
	}
	.ginput_right,
	.name_last {
		margin-right: 0;
	}
	.ginput_full {
		display: block;
		margin: 0 0 $base-spacing;
		label {
			margin: 5px 0 10px;
			font-size: 11px;
		}
	}
}
//hour advanced field
.gfield_time_hour,
.gfield_time_minute {
	display: inline-block;
	input[type="text"] {
		display: inline-block;
		width: auto;
	}
	label {
		display: block;
	}
}
//gfield list
.gfield_list {
	border: 0;
	td {
		padding: 0;
		border: 0;
	}
}
//gfield price
.gfield_price{
	input[type="text"] {
		display: inline-block;
		width: auto;
	}
}

//Success
.gform_confirmation_message{
	@extend .message;
	@extend .success;
}
//Errors
.validation_error,
.gfield_error {
	@extend .message;
	@extend .error;
}