@use "../../01-abstract/variables";

.wp-block-audio {
    audio {
        &::-webkit-media-controls-panel {
            background-color: variables.$color-primary;
        }

        &:focus {
            outline: 2px solid variables.$color-primary;
            outline-offset: 5px;
        }
    }
}
