@use "../../01-abstract/theme-json" as *;
@use "../../02-tools/m-breakpoint" as *;

.wp-block-columns {
	justify-content: space-between;

	.wp-block-column {
		&.has-background {
			padding: $settings-spacing-sm;
		}
	}

	&:not(.is-not-stacked-on-mobile) {
		.wp-block-column {
			margin-left: 0 !important;
		}

		@include breakpoints(md, max) {
			flex-wrap: wrap !important;

			.wp-block-column {
				&:not(:only-child) {
					flex-basis: 100% !important;
				}

				&:empty {
					display: none;
				}
			}
		}
	}
}
