@use "../../02-tools/m-block-vertical-spacing";
@use "../../02-tools/m-breakpoint";

.wp-block-columns {
    @include m-block-vertical-spacing.block-vertical-spacing();

    .wp-block-column {
        &.has-background {
            padding: var(--spacing--block-1);
        }
    }

    &:not(.is-not-stacked-on-mobile) {
        .wp-block-column {
            margin-left: 0 !important;
        }

        @include m-breakpoint.breakpoints(md, max) {
            flex-wrap: wrap !important;

            .wp-block-column {
                &:not(:only-child) {
                    flex-basis: 100% !important;
                }
            }
        }
    }
}
