.wp-block-columns {
    @include breakpoints(sm, mdl) {
        flex-wrap: wrap !important;

        &.is-style-stroke {
            .wp-block-column {
                flex-basis: calc(50% - #{get-gutter-width()}) !important;
            }
        }

        &:not(.is-style-stroke) { // For override the WP style at 782px
            .wp-block-column {
                flex-basis: calc(50% - #{get-gutter-width() * .5}) !important;
                flex-grow: 0 !important;
            }
        }
    }

    @include breakpoints(sm) {
        gap: get-gutter-width() !important;

        &.is-style-stroke {
            gap: get-gutter-width() * 2 !important;
            overflow: hidden;

            .wp-block-column {
                &:not(:empty) {
                    position: relative;

                    &::after {
                        position: absolute;
                        top: 0;
                        right: -#{get-gutter-width()};
                        left: inherit;
                        width: 1px;
                        height: 100%;
                        content: "";
                        background: $color-grey-200;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
