.wp-block-columns {
    gap: var(--wp--style--block-gap);

    &:not(.is-not-stacked-on-mobile) {
        .wp-block-column {
            margin-left: 0 !important;

            &:not(:only-child) {
                flex-basis: 100% !important;
            }
        }

        @include breakpoints(sm, mdl) {
            flex-wrap: wrap !important;

            .wp-block-column {
                &:not(:only-child) {
                    flex-basis: calc(50% - #{get-gutter-width() * .5}) !important;
                    flex-grow: 0 !important;
                }
            }
        }
    }
}
