@use "../../02-tools/m-editor-only" as *;
@use "../../02-tools/m-style-only" as *;

.wp-block-cover,
.wp-block-cover-image {
	&:not(.alignwide):not(.alignfull) {
		clear: both;
	}

	@include style-only {
		&.alignfull {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	@include editor-only {
		[data-align="full"] & {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
