.wp-block-freeform {
    @include editor-only {
        // Remove the border of blockquotes inside the classic block.
        &.block-library-rich-text__tinymce blockquote {
            border: none;
        }

        // Adjust the position of the quote symbol for blockquotes inside the classic block.
        &.block-library-rich-text__tinymce blockquote::before {
            left: 5px;
        }

        // Backend Classic editor container
        .mce-content-body {
            max-width: var(--responsive--alignwide-width);
            margin: var(--spacing--block-1)/2;
        }
    }
}
