@use "../../02-tools/m-breakpoint" as *;
@use "../../02-tools/m-editor-only" as *;

.wp-block-group {
	$el: &;

	&:not(.is-layout-grid) {
		display: flow-root;
	}

	&--no-inner-margin {
		#{$el}__inner-container {
			> * {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

	@include breakpoints(sm, max) {
		&--full-mobile {
			max-width: 100% !important;
		}
	}
}

@include editor-only {
	.wp-block-group {
		&:not(.is-layout-grid) {
			display: flow-root;
		}

		.wp-block-group.has-background > .block-editor-block-list__layout > [data-align="full"] {
			width: 100%;
			margin: 0;
		}
	}
}
