/**
 * Headings
 *
 * See https://github.com/BeAPI/beapi-frontend-framework/pull/247 for used heading style variation (depend of projects)
 *
 * examples :
 *  $headings: (
 *      "1": (),
 *      "2": (
 *          "uppercase"
 *      ),
 *      "3": (
 *          "uppercase"
 *      ),
 *      "4": (
 *          "uppercase",
 *          "bold"
 *      ),
 *      "5": (),
 *      "6": (),
 *  );
 *
 */

$headings: (
    "1": (),
    "2": (),
    "3": (),
    "4": (),
    "5": (),
    "6": (),
);

@each $i, $styles in $headings {
    h#{$i} {
        @include heading(h#{$i});

        @each $style in $styles {
            &.is-style-#{$style} {
                @include heading(h#{$i}, $style);
            }
        }
    }

    .is-style-h#{$i} {
        @include heading(h#{$i});
    }

    .has-h-#{$i}-font-size {
        font-size: var(--heading--font-size-h#{$i});
        line-height: var(--heading--line-height-h#{$i});
    }
}
