@use "../../01-abstract/variables";

.wp-block-image {
    > img {
        max-width: 100%;
        height: auto;
    }

    figcaption {
        font-size: variables.$font-size-xs;
        color: variables.$color-grey-600;
    }
}
