@use "../../01-abstract/variables" as *;
@use "../../01-abstract/theme-json" as *;

.wp-block-image {
	> img {
		max-width: 100%;
		height: auto;
	}

	figcaption {
		font-size: $font-size-sm;
		color: $settings-color-grey-600;
	}
}
