// Use the no-list-style class in your theme if you want the basic style

%marker {
    font-size: var(--paragraph--font-size-default, $font-size-base);
    font-weight: 400;
    line-height: var(--paragraph--line-height-default, $line-height-base);
    color: $color-dark;
}

#{context-selector('.blocks-container', '.is-root-container')} {
    ul,
    ol {
        &:not([class*="is-style-"]):not([class*="no-list-style"]):not([role="list"]) {
            font-size: var(--paragraph--font-size-default, $font-size-base);
            line-height: var(--paragraph--line-height-default, $line-height-base);

            li {
                padding-left: 15px;
                margin-left: 15px;

                @include rtl {
                    padding-right: 15px;
                    padding-left: 0;
                    margin-right: 15px;
                    margin-left: 0;
                }
            }

            ul,
            ol {
                margin-top: var(--spacing--block-1);
                margin-bottom: var(--spacing--block-1);
            }
        }
    }

    ul {
        &:not([class*="is-style-"]):not([class*="no-list-style"]):not([role="list"]) {
            li {
                position: relative;
                margin-bottom: calc(.5 * var(--spacing--block-1));
                list-style-type: disc;

                &::marker {
                    @extend %marker;
                }
            }

            ul {
                margin-top: calc(.5 * var(--spacing--block-1));
                margin-bottom: calc(.5 * var(--spacing--block-1));
            }
        }
    }

    ol {
        &:not([class*="is-style-"]):not([class*="no-list-style"]):not([role="list"]) {
            list-style: none;
            counter-reset: section;

            li {
                position: relative;
                margin-bottom: calc(.5 * var(--spacing--block-1));
                counter-increment: section;

                &::marker {
                    @extend %marker;
                    content: counters(section, "", decimal-leading-zero) " ";

                    @include rtl {
                        right: 0;
                        left: inherit;
                        transform: translateX(100%);
                    }
                }

                ol {
                    margin-top: calc(.5 * var(--spacing--block-1));
                    margin-bottom: calc(.5 * var(--spacing--block-1));
                    counter-reset: subsection;

                    li {
                        counter-increment: subsection;

                        &::marker {
                            content: counters(subsection, ".", lower-alpha) ". ";
                        }
                    }
                }

                ul {
                    margin-top: calc(.5 * var(--spacing--block-1));
                    margin-bottom: calc(.5 * var(--spacing--block-1));
                    counter-reset: section;

                    li {
                        padding-top: 0;

                        &::marker {
                            @extend %marker;
                            transform: translateX(0);
                        }
                    }
                }

            }
        }
    }

    dd {
        margin: 0;
    }
}
