@use "../../02-tools/m-editor-only";
@use "../../02-tools/m-rtl";
@use "../../02-tools/m-style-only";

.wp-block-media-text {
    @include m-rtl.rtl {
        direction: rtl; // Force direction RTL, because WP force LTR direction on RTL view
    }

    @include m-style-only.style-only {
        &.alignfull {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @include m-editor-only.editor-only {
        [data-align="full"] & {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
