@use "../../02-tools/m-editor-only" as *;
@use "../../02-tools/m-style-only" as *;

.wp-block-preformatted {
	overflow-x: auto;

	@include style-only {
		white-space: pre;
	}

	@include editor-only {
		white-space: pre !important;
	}
}
