.wp-block-quote {
    // Override for WordPress base wp-block-quote style for RTL compatibility
    padding-left: 0;
    padding-inline-start: 20px; // stylelint-disable-line order/properties-order
    border-left: 0;
    border-inline-start: 5px solid currentColor; // stylelint-disable-line order/properties-order

    //     p {
    //          ...
    //     }
    //     &__citation,
    //     cite {
    //          ...
    //     }
}
