.wp-block-quote {
    //     p {
    //          ...
    //     }
    //     &__citation,
    //     cite {
    //          ...
    //     }

    // For WordPress base wp-block-quote style
    @include rtl {
        padding-right: 1em;
        padding-left: 0;
        border-right: .25em solid currentColor;
        border-left: 0;
    }
}
