hr {
    margin-right: auto;
    margin-left: auto;
    clear: both;
    border-style: none;

    &.wp-block-separator {
        // style
    }
}

@include editor-only {
    .wp-block-separator,
    hr {
        clear: both;

        [data-align="full"] > &,
        [data-align="wide"] > & {
            max-width: inherit;
        }

    }
}
