@use "../../02-tools/m-not-acf" as *;

%table {
	width: 100%;
	min-width: 240px;
	border-collapse: collapse;

	th {
		font-weight: 700;
	}
}

.wp-block-table {
	@extend %table;
}

// Not apply style to ACF fields
@include not-acf {
	table {
		@extend %table;
	}
}
