@use "../../02-tools/m-not-acf";

%table {
    width: 100%;
    min-width: 240px;
    border-collapse: collapse;
}

.wp-block-table {
    @extend %table;
}

// Not apply style to ACF fields
@include m-not-acf.not-acf {
    table {
        @extend %table;
    }
}
