.lazyload,
.lazyloading {
    background: $global-color-primary;
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity .5s;
}

//css loading for bgset items
//with basicspinner
$loading-dimensions : 50px;

[data-bgset] {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 1;

    &::before {

        @include pseudo-content;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: $global-color-primary;
        transition: opacity .5s, z-index .5s ease .5s;
    }

    &::after {

        @include pseudo-content;

        position: absolute;
        top: calc(50% - #{$loading-dimensions / 2});
        left: calc(50% - #{$loading-dimensions / 2});
        z-index: 3;
        width: $loading-dimensions;
        height: $loading-dimensions;
        border: 5px solid $color-light;
        border-top-color: transparent;
        border-radius: $loading-dimensions;
        opacity: 1;
        transition: opacity .5s, z-index .5s ease .5s;
        transform: translateX(-50%) translateY(-50%);
        animation: loading .5s linear infinite;
    }

    &.lazyload {
        opacity: 1;
        transition: opacity .5s;
    }

    &.lazyloaded {
        &::after,
        &::before {
            z-index: -1;
            opacity: 0;
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
