/**
 * Main sass config files
 */
@import "root/url-config";

/**
 * Load Susy with includePaths in tasks/sass.js
 * http://susydocs.oddbird.net/en/latest/
 */
@import "root/susy/sass/susy";

@import "root/mixins";
@import "root/functions";
@import "root/variables";

/**
 * Root styles
 * @font-face first !
 */
@import "root/fonts";
@import "root/normalize";
@import "root/box-sizing";
@import "root/cssloading";

/**
 * Vendor for external librairies (Slick etc.)
 */
//@import "vendor/libname";

/**
 * Components
 */
@import "components/svg-icons";
@import "components/text";
@import "components/form";
@import "components/buttons";
@import "components/messages";
@import "components/seo";
@import "components/iframe";

/**
 * Plugins for WordPress plugin custom css (Mailpoet, WPForms etc.)
 */
//@import "plugin/pluginname";

/**
 * Patterns
 */
@import "patterns/lazyload";
@import "patterns/utilities";
@import "patterns/layout";
@import "patterns/header";
@import "patterns/footer";
@import "patterns/menu";
@import "patterns/menu-trigger";
@import "patterns/menu-fastaccess";
@import "patterns/hero";
@import "patterns/entries";
@import "patterns/searchform";

/**
 * Wordpress
 */
@import "wp/img";
@import "wp/gallery";
@import "wp/wysiwyg";

/**
 * Pages
 */
@import "pages/default";
@import "pages/404";
@import "pages/home";
@import "pages/print";