/**
 * Searchform
 */

@use "../01-abstract/theme-json" as *;

.searchform {
	position: relative;

	&__field[type="search"] {
		padding-inline-end: $settings-spacing-sm;
	}

	&__submit {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;

		.icon {
			vertical-align: -15%;
		}
	}
}
