/**
 * Searchform
 */

.searchform {
    position: relative;

    &__field[type="search"] {
        padding-right: var(--wp--custom--spacing--block-1);
    }

    &__submit {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        .icon {
            vertical-align: -15%;
        }
    }
}
