@use "../01-abstract/constants" as *;
@use "../01-abstract/variables" as *;
@use "../01-abstract/theme-json" as *;

.skip-links {
	position: fixed;
	top: var(--wp-admin-bar-height);
	left: 0;
	z-index: 11; // Under header
	width: 100%;
	padding: 8px 10px 10px;
	background-color: $settings-color-black;
	opacity: 0;
	transition: transform .3s $ease-out-expo, opacity .3s;
	transform: translate3d(0, -100%, 0);

	ul {
		display: flex;
		flex-wrap: wrap;
		row-gap: 8px;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	a {
		font-size: 13px;
		color: $settings-color-white;
		text-decoration: none;
	}

	&:focus-within {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	li:not(:last-of-type) {
		margin-inline-end: 1rem;
	}
}
