.skip-links {
    position: absolute;
    top: var(--wp-admin-bar-height);
    left: 0;
    z-index: 10;
    display: flex;
    padding: .5rem 1rem;
    color: $color-text;
    background-color: $color-primary;
    transition: transform .3s ease-in-out;
    transform: translate3d(0, -100%, 0);
    opacity: 0;

    &:focus-within {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    li:not(:last-of-type) {
        margin-right: 1rem;
    }
}
