.skip-links {
    position: absolute;
    top: var(--wp-admin-bar-height);
    left: 0;
    z-index: 10;
    display: flex;
    padding: .5rem 1rem;
    color: $color-text;
    background-color: $color-primary;
    opacity: 0;
    transition: transform .3s $ease-out-expo, opacity .3s;
    transform: translate3d(0, -100%, 0);

    &:focus-within {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    li:not(:last-of-type) {
        margin-right: 1rem;

        @include rtl {
            margin-right: 0;
            margin-left: 1rem;
        }
    }
}
