@use "../01-abstract/variables" as *;
@use "../02-tools/m-breakpoint" as *;
@use "../02-tools/m-row-fullwidth" as *;

/**
 * Hero
 */

.hero {
	@include row-fullwidth;

	padding: var(--wp--preset--spacing--sm) 0;
	margin-bottom: var(--wp--preset--spacing--sm);

	.container {
		position: relative;
		z-index: 4;
		padding: 20px;
		background: rgba($color-light, .5);
	}

	&__img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	}

	@include breakpoints(md) {
		padding: 100px 0;
	}
}
