/* Global css
 ----------------------------------------------------------------------------------------------------*/
body {
	color: @maincolor; -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

a {
	color: @maincolor;
	&:hover,
	&:focus,
	&:active {
		color: @maincolor;
	}
}

small {
	font-size: 11px;
}
ul {
	list-style: none; margin: 0;
	li {
		margin: 0;
	}
}
/* Misc Classes
----------------------------------------------------------------------------------------------------*/
.assistive-text {
	display: none;
}
/* Plugins
 ----------------------------------------------------------------------------------------------------*/

/* Main Content
----------------------------------------------------------------------------------------------------*/
#fast-access {
	li {
		display: inline;
		a {
			color: @contrastcolorlight;
			&:hover,
			&:focus {
				color: @maincolor;
			}
		}
	}
}
#menu {
	&>ul {
		.clearfix; margin-bottom: 20px;
		&>li {
			&>a {
				padding:0 10px; font: 700 12px/24px @font-sansserif;
				&:hover, &:focus, &:active {
					color:@contrastcolorlight; background:@maincolor;
				}
			}
			&:hover, &:focus, &:active, &.sfHover {
				ul {
					top: 24px;
				}
			}
			&.current-menu-item,
			&.current-menu-parent {
				a {
					color:@contrastcolorlight; background:@maincolor;
				}
			}
		}
		ul {
			background: @contrastcolorlight;
			li {
				a {
					padding: 10px;
					&:hover, &:focus, &:active {
						color:@contrastcolorlight; background:@maincolor;
					}
				}
			}
		}
	}
}
#breadcrumb {
	list-style: none;
	li {
		display: inline; margin:0;
	}
}
.entry {
	.clearfix;
}
.entry-content {
	.clearfix;
	ul {
		list-style: disc inside none; margin: 0 0 20px;
		li {
			margin: 0 0 5px;
		}
	}
	ol {
		list-style: decimal inside none; margin: 0 0 20px;
		li {
			margin: 0 0 5px;
		}
	}
	img {
		max-width: 100%; height: auto;
	}
	.gform_wrapper {
		ul {
			list-style: none;
		}
	}
	.searchform {
		input {
			display: inline;
		}
	}
}
/* Comments
 ----------------------------------------------------------------------------------------------------*/
#comments {
	
}
.commentlist {
	list-style: none;
}
.comment {
	.comment {
		min-height:75px; margin:0 0 20px; padding: 0 0 20px; position: relative;.clearfix; border-bottom: 1px solid @maincolor;
	}
	&.last {
		border:0;
	}
	.children {
		margin: 20px 0 0 92px;
		.comment {
			min-height: 28px; border-bottom: 0; margin-bottom: 0;
			.comment {
				border-bottom: 1px solid @maincolor;
			}
		}
		.comment-meta,
		.comment-content {
			padding-left: 62px;
		}
	}
}
.comment-meta {
	position: relative; padding-left: 92px; margin-bottom: 6px;
}
.comment-author {
	font-weight:700;
}
.avatar {
	position: absolute; left: 5px; top: 0;
}
.comment-content {
	padding:0 60px 0 92px;
	p {
		margin-bottom: 6px;
	}
}
.reply {
	position: absolute; right: 0; bottom: 0;
}
.comment-reply-link {
	display:inline-block; font-size: 11px; line-height: 20px; height:20px;
}
/* Widget
 ----------------------------------------------------------------------------------------------------*/
.widget-area {
	img {
		max-width: 100%; height: auto;
	}
}
.widget {
	.clearfix; margin-bottom: 20px;
}
.widgettitle {
	.bordered(0, 0, @maincolor, 0);
}
.widget-inner {
	
}
.widget_text {
	
}
.widget_categories {
	.widget-inner {
		&>ul {
			&>li {
				&>a {
					&:hover,
					&:focus,
					&:active {
						font-weight: 700;
					}
				}
			}
		}
		ul {
			li {
				&.current-cat,
				&.current-cat-parent {
					&>a,
					.current-cat a {
						font-weight: 700;
					}
				}
			}
		}
	}
}
.widget_pages {
	.widget-inner {
		&>ul {
			&>li {
				&>a {
					&:hover,
					&:focus,
					&:active {
						font-weight: 700;
					}
				}
			}
		}
		ul {
			li {
				&.current_page_ancestor,
				&.current_page_parent {
					&>a,
					.current_page_item a {
						font-weight: 700;
					}
				}
			}
		}
	}
}
.widget_search {
	
}