@import "grid.less";

@column-width: 60;
@gutter-width: 20;
@columns: 12;

body {
  min-width: 960px;
}
.wrapper {
	width: 960px;
	margin:0 auto;
	overflow: hidden;
}
.header,
.footer,
.main-menu {
	.column(12);
}
.main-content { .column(9)}
.sidebar { .column(3)}