/* WPpagenavi
----------------------------------------------------------------------------------------------------*/
/**
 * WPpagenavi
 *
 * This is the WPpagenavi
 *
 * @section WPpagenavi
 * @page patterns
 *
 * @example
 * 	<div class="wp-pagenavi">
 *		<span class="pages">Page 1 sur 13</span>
 *		<a href="#" class="first">Premiere page</a>
 *		<a class="previouspostslink" href="#">Precedent</a>
 *		<span class="current">1</span>
 *		<a class="page larger" href="#">2</a>
 *		<a class="page larger" href="#">3</a>
 *		<span class="extend">...</span>
 *		<a class="page larger" href="#">8</a>
 *		<a class="nextpostslink" href="#">Suivant</a>
 *		<a class="last" href="#">Derniere page</a>
 *	</div>
 */
 .wp-pagenavi {
	text-align: center;
	@media screen and (max-width: $tablet-medium) {
		.pages,
		.first,
		.last {
			display: none;
		}
		.current,
		.previouspostslink,
		.nextpostslink {
			display: inline-block;
		}
	}
}