// Partials
include partials/head.pug
include partials/header.pug

// Components
include components/default-picture.pug
include components/source-picture.pug
include components/svg-icon.pug
include components/wp-gallery.pug
include components/button.pug

// Flexibles
include flexibles/page-header.pug
include flexibles/post-list.pug