$containerWidth: 960px;

$breakpoints : (
    xsm: 600,
    sm: 768,
    md: 1024,
    lg: 1440
);

@mixin breakpoints($breakpoint, $minOrMax : min) {

    @if ($minOrMax == max) {

        @media screen and (max-width: em(map-get($breakpoints, $breakpoint) - 1)) {
            @content;
        }
    } @else {

        @media screen and (min-width: em(map-get($breakpoints, $breakpoint))) {
            @content;
        }
    }
}
