/**
 * Main colors
 */
$maincolor: #f1e25b;
$textcolor: #333;

/**
 * Light and Dark colors
 */
$lightcolor: #fff;
$darkcolor: #000;

/**
 * Grey colors
 */
$maingrey: #888;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

/**
 * Contextual colors
 */
$errorcolor-1 : #8a1f11;
$errorcolor-2 : #fbe3e4;

$noticecolor-1 : #514721;
$noticecolor-2 : #fff6bf;

$successcolor-1 : #264409;
$successcolor-2 : #e6efc2;

$infocolor-1 : #205791;
$infocolor-2 : #d5edf8;
