// Theme colors
$primary-color: #F1E25B;
$secondary-color: #333;

// Gray palette
$dark-color: #000;
$gray-color-300: #333;
$gray-color-500: #888;
$gray-color-600: #999;
$gray-color-800: #ddd;
$light-color: #fff;

// Contextual colors
$error-color-600 : #8a1f11;
$error-color-50 : #fbe3e4;
$notice-color-600 : #514721;
$notice-color-50 : #fff6bf;
$success-color-600 : #264409;
$success-color-50 : #e6efc2;
$info-color-600 : #205791;
$info-color-50 : #d5edf8;