// Font Family
$primary-font-family: roboto, sans-serif;
$secondary-font-family: sofia-pro, sans-serif;

// Font Size
$base-font-size: 16px;

// Line Height
$base-line-height: 1.4;
$heading-line-height: 1.2;
