/**
 * Declare font face
 *
 * used in base/_fonts.scss
 */

@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {

    @font-face {
        font-family: "#{$font-family}";
        font-style: $font-style;
        font-weight: $font-weight;
        font-stretch: $font-stretch;
        src:
            local("#{$font-family}"), /* search for the locally installed font first */
            url(#{$font-filename}.woff2) format("woff2");
        font-display: swap;
        unicode-range: U+0-10FFFF; /* cutting of the font file for better loading */
    }
}
