// Object Fit polyfill

@mixin object-fit($fit: cover, $position: null) {
    object-fit: $fit;

    @if $position {
        object-position: $position;
        font-family: "object-fit: #{$fit}; object-position: #{$position}";
    } @else {
        font-family: "object-fit: #{$fit}";
    }
}
