/**
 * Title mixins
 */

@mixin title($size: md) {
    font-family: $secondary-font-family;
    font-weight: 700;
    line-height: $heading-line-height;

    @if $size == XXL {
        font-size: 40px;

        @include breakpoints(sm) {
            font-size: 40px*1.5;
        }
    }

    @if $size == XL {
        font-size: 36px;

        @include breakpoints(sm) {
            font-size: 36px*1.5;
        }
    }

    @if $size == L {
        font-size: 32px;

        @include breakpoints(sm) {
            font-size: 32px*1.5;
        }
    }

    @if $size == M {
        font-size: 28px;

        @include breakpoints(sm) {
            font-size: 28px*1.5;
        }
    }

    @if $size == S {
        font-size: 24px;

        @include breakpoints(sm) {
            font-size: 24px*1.5;
        }
    }

    @if $size == XS {
        font-size: 20px;

        @include breakpoints(sm) {
            font-size: 20*1.5;
        }
    }
}
