// Assign inputs

@function assign-inputs($inputs, $pseudo: null) {
    $list: ();

    @each $input in $inputs {
        $input: unquote($input);
        $input: if($pseudo, $input + ":" + $pseudo, $input);
        $list: append($list, $input, comma);
    }

    @return $list;
}

// Strip units

@function strip-units($value) {

    @return ($value / ($value * 0 + 1));
}

// PX to EM

@function em($pxval, $base: $base-font-size) {

    @if not unitless($pxval) {
        $pxval: strip-units($pxval);
    }

    @if not unitless($base) {
        $base: strip-units($base);
    }

    @return ($pxval / $base) * 1em;
}

// Visually hide from HTML5 boilerplate
.visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}
