// Abstract
@import "abstract/mixins";
@import "abstract/utilities";
@import "abstract/grid";
@import "abstract/fonts";
@import "abstract/colors";
@import "abstract/breakpoints";
@import "abstract/positioning";
@import "abstract/borders";
@import "abstract/box-sizing";
@import "abstract/easing";

// Base
@import "base/text";

// Components
@import "components/buttons";

// Wordpress
@import "wp/img";
//@import "wp/gallery"; Enable if Gutenberg is not used
@import "base/list";
@import "wp/gutenberg";

// Backend Classic editor container
.mce-content-body {
	max-width: $containerWidth;
	margin: $base-spacing/2;
}

// Backend Gutenberg editor container
.wp-block {

	&:not([data-align="full"]) {
		max-width: $containerWidth;
	}

	&[data-align="wide"] {
		max-width: $containerWidth * 1.5;
	}
}

// Render Post/Page Title as FrontEnd view
.editor-post-title {

	&__block {

		.editor-post-title {

			&__input {

				@include title(XXL);
			}
		}

	}
}

// Exact style between BO/FO for lists
.block-library-list {

	ul {

		@include wysiwyg__list();
	}

	ol {

		@include wysiwyg__list(ol);
	}
}
