$entry-file-name: "editor";

// Abstract

@import "abstract/index";

// Base

@import "base/sr-only";
@import "base/fonts";
@import "base/box-sizing";
@import "base/text";

// Components

@import "components/btn";

// Blocks

@import "blocks/align";
@import "blocks/blocks-editor";

// Backend Classic editor container
.mce-content-body {
    max-width: $container-width;
    margin: $base-spacing/2;
}

// Backend Gutenberg editor container
.wp-block {
    &:not([data-align="full"]) {
        max-width: $container-width;
    }

    &[data-align="wide"] {
        max-width: $container-width * 1.5;
    }
}

// Render Post/Page Title as FrontEnd view
.editor-post-title {
    &__block {
        .editor-post-title {
            &__input {

                @include title(XXL);
            }
        }

    }
}

// Exact style between BO/FO for lists
.block-library-list {
    ul {

        @include wysiwyg-list();
    }

    ol {

        @include wysiwyg-list(ol);
    }
}
