$entry-file-name: "editor";

/**
 * Abstract
 * == Contain SCSS and CSS variables and webfonts declarations.
 */

@import "./01-abstract/abstract";

/**
 * Tools
 * == Contains functions and mixins.
 */

@import "./02-tools/tools";

/**
 * Base
 * == Contain generic styles such as normalize or reset.
 */

@import "./03-base/fonts";
@import "./03-base/variables-css";
@import "./03-base/reset";
@import "./03-base/svg-icons";
@import "./03-base/links";

/**
 * Utilities
 * == Utility classes that are not assigned to a specific component.
 */

@import "./04-utilities/utilities";

/**
 * Blocks
 * == Gutenberg core blocks styles, style for front-end layout and editor.
 */

@import "./05-components/button";

/**
 * Gutenberg
 * == Gutenberg core/custom blocks and patterns styles, style for front-end layout and editor.
 */

@import "./06-blocks/gutenberg";
@import "./06-blocks/blocks";

/**
 * Patterns
 * == Contains styles for gutenberg patterns.
 */

@import "./07-patterns/patterns";

/**
 * Vendor
 * == Plugins or libraries custom styles.
 */

@import "./10-vendor/vendor";
