// Abstract

@import "abstract/index";

// Base

@import "base/fonts";
@import "base/box-sizing";
@import "base/visuallyhidden";
@import "base/text";

// Components

@import "components/buttons";

// Wordpress

@import "wp/img";
//@import "wp/gallery"; Enable if Gutenberg is not used

@import "wp/wysiwyg";
@import "wp/gutenberg";

// Backend Classic editor container
.mce-content-body {
    max-width: $container-width;
    margin: $base-spacing/2;
}

// Backend Gutenberg editor container
.wp-block {
    &:not([data-align="full"]) {
        max-width: $container-width;
    }

    &[data-align="wide"] {
        max-width: $container-width * 1.5;
    }
}

// Render Post/Page Title as FrontEnd view
.editor-post-title {
    &__block {
        .editor-post-title {
            &__input {

                @include title(XXL);
            }
        }

    }
}

// Exact style between BO/FO for lists
.block-library-list {
    ul {

        @include wysiwyg__list();
    }

    ol {

        @include wysiwyg__list(ol);
    }
}
