/**
 * Abstract
 * == Contain SCSS and CSS variables and webfonts declarations.
 */

@use "01-abstract/constants";
@use "01-abstract/variables";

variables.$entry-file-name: "style";

/**
 * Base
 * == Contain generic styles such as normalize or reset.
 */

@use "03-base/fonts";
@use "03-base/variables-css";
@use "03-base/normalize";
@use "03-base/body";
@use "03-base/svg-icons";
@use "03-base/forms";
@use "03-base/links";
@use "03-base/media";
@use "03-base/text";
@use "03-base/print";

/**
 * Utilities
 * == Utility classes that are not assigned to a specific component.
 */

@use "04-utilities/wp-admin-bar";
@use "04-utilities/focus";
@use "04-utilities/lazyload";
@use "04-utilities/seo";
@use "04-utilities/video-wrapper";
@use "04-utilities/container";
@use "04-utilities/sr-only";
@use "04-utilities/js-animation";
@use "04-utilities/aria";
@use "04-utilities/palette";

/**
 * Components
 * == Contain any default component. Just give the components some basic styles.
 */

@use "05-components/btn";
@use "05-components/searchform";
@use "05-components/skip-links";

/**
 * Gutenberg
 * == Gutenberg core/custom blocks and patterns styles, style for front-end layout and editor.
 */

@use "06-blocks/gutenberg";
@use "06-blocks/core/audio";
@use "06-blocks/core/buttons";
@use "06-blocks/core/code";
@use "06-blocks/core/columns";
@use "06-blocks/core/cover";
@use "06-blocks/core/file";
@use "06-blocks/core/freeform";
@use "06-blocks/core/gallery";
@use "06-blocks/core/group";
@use "06-blocks/core/heading";
@use "06-blocks/core/image";
@use "06-blocks/core/list";
@use "06-blocks/core/media-text";
@use "06-blocks/core/paragraph";
@use "06-blocks/core/preformatted";
@use "06-blocks/core/pullquote";
@use "06-blocks/core/quote";
@use "06-blocks/core/separator";
@use "06-blocks/core/search";
@use "06-blocks/core/spacer";
@use "06-blocks/core/table";
@use "06-blocks/core/video";

/**
 * Patterns
 * == Contains styles for gutenberg patterns.
 */

// @use "07-patterns/...";

/**
 * Template parts
 * == If you want to add custom styles for specific page templates parts.
 */

@use "08-template-parts/header";
@use "08-template-parts/footer";
@use "08-template-parts/hero";

/**
 * Pages
 * == If you want to add custom styles for specific page templates.
 */

@use "09-templates/home";
@use "09-templates/default";

/**
 * Vendor
 * == Plugins or libraries custom styles.
 */

// @use "10-vendor/...";
