/**
 * Muuri
  */
  .archive {
    
    &__muuri {
        $muuri: &;
        position: relative;
        @include flexrow;
        margin-left: -17px;
    }

    &__mitem.muuri-item-shown {
        z-index: 1;
        position: absolute;
    }

    &__mitem {
        @include flexcol;
        margin-bottom: 1rem;

        @include breakpoints(sm) {
            @include flexcol(1,2);
        }

        @include breakpoints(md) {
            @include flexcol(1,3);
        }
    }

}