/* Library
 ----------------------------------------------------------------------------------------------------*/
//Use here to set main style for buttons, forms etc.

@maincolor : #000;
@contrastcolorlight:#fff;

@font-sansserif: Arial, Helvetica, sans-serif;
@font-serif: Times, Georgia, serif;
