/**
 * Header
 */

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $global-color-primary;

    &__logo-link {
        display: block;
    }

    &__icon {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto 10px;
        color: $global-color-text;
    }

    &__img {

        @include img-responsive();

        margin: 0 auto $base-spacing;
    }

    // Admin bar sample if header is fixed
    // .admin-bar & {
    // 	top: $wp-admin-bar-mobile-height;
    // 	@include breakpoints(md) {
    // 		top: $wp-admin-bar-desktop-height;
    // 	}
    // }
}
