/**
 * Hero
 */

.hero {

    @include row-fullwidth;

    padding: $base-spacing 0;
    margin-bottom: $base-spacing;

    .container {
        position: relative;
        z-index: 4;
        padding: 20px;
        background: rgba($light-color, .5);
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    @include breakpoints(md) {
        padding: 100px 0;
    }
}
