/**
 * @section Menu Fast Access
 */

.menu-fastaccess {
    display: none;
    margin: 0;
    font-size: 9px;

    &__item {
        display: inline;

        a {
            position: absolute;
            z-index: 1;
            color: transparent;

            &:focus {
                z-index: 2;
                padding: $base-spacing / 2;
                color: $dark-color;
                text-decoration: none;
                background-color: $global-color-primary;
            }
        }
    }

    @include breakpoints(md) {
        display: block;
    }
}
