name: PHP Quality

on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: [ '8.3' ]
    name: PHP ${{ matrix.php-versions }} Test
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, intl #optional, setup extensions

      - name: Check composer
        run: composer validate

      - name: Add dependencies
        run: composer install

      - name: Check cs
        run: composer cs

      - name: Check psalm
        run: |
          mkdir -p dist
          composer psalm
