@use "../01-abstract/variables" as *;
@use "../02-tools/m-container" as *;

/* Main Layout */
.container,
.container-wide {
	@include container;
}

.container-default {
	@include container(var(--wp--style--global--content-size));
}
