html {
    a,
    button,
    input,
    select,
    textarea,
    [tabindex] {
        &:focus-visible {
            outline: 2px solid currentColor;
            outline-offset: .5rem;
        }
    }
}

%focus-seo-container {
    &:has(:focus-visible) {
        outline: 2px solid currentColor;
        outline-offset: .5rem;
    }

    *:focus {
        outline: none;
    }
}
