@use "../01-abstract/theme-json.scss" as *;

/*
 * Palette : Usefully to get the color or background color of a parent element
 * Usage Example:
 * Use these classes to store a color value in a CSS variable.
 * This allows any child element to reuse the parent's background color.
 *
 * HTML:
 * <div class="has-primary-background-color">
 *    <span class="child-element">
 *        I will use the parent's background as my text color
 *    </span>
 * </div>
 *
 * CSS:
 * .child-element {
 *    color: var(--background-color);
 * }
 */

@each $color-name, $color-value in $settings-palette {
	.has-#{$color-name}-color {
		--color: #{$color-value};
	}

	.has-#{$color-name}-background-color {
		--background-color: #{$color-value};
	}
}
