[data-seo-container] {
    position: relative;
    z-index: 1;
    cursor: pointer;

    [data-seo-target] {
        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 100;
            content: "";
        }
    }
}
